[2022-11-07 17:20] maririos opened #4642 "Update Teams channel Contact Us information"
We will use the[ Onboarding channel](https://teams.microsoft.com/l/channel/19%3ade3fce22c2994be18cac50502c55f717%40thread.skype/Azure%2520SDK%2520Onboarding?groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47), same as the Release Planner app
From conversations on issue https://github.com/Azure/azure-sdk-tools/issues/4617

[2022-11-07 17:50] mikekistler commented on #4375
Maybe APIView should add an "approved" label on the PR when approved in APIView.

[2022-11-07 18:26] ronniegeraghty commented on #4605
Yes. We only schedule one arch board meeting per day to not overload the architect's whole schedule.

[2022-11-07 19:06] maririos opened #4643 "Thanksgiving availability blocking"

[2022-11-07 19:13] benbp opened #4644 "[stress testing] Add job/pod labels for git commit sha"
This will make it a little easier to track versions from container logs in log analytics/KubePodInventory.

[2022-11-07 19:24] benbp opened #4645 "[stress testing] Investigate/fix/document object type mapping for matrix"
There are cases where we may want to define, or at least document clear behavior, on how matrix yaml types translate to helm chart yaml types. For example, command args:

[code]

CC @ckairen @richardpark-msft

[2022-11-07 19:27] sima-zhu opened #4646 "Update service readme index table once the package info updated"
Python azure-developer-loadtesting package did not show up in preview page. After checkup, I found our index table is lack of ability of update.

[2022-11-07 19:47] maririos opened #4647 "Address APIView swagger feedback"
Issues track potential issues or changes requested in APIView for Swagger these may include.
- Ensure parser creates token consistently across different revisions.
![SwaggerIssue1](https://user-images.githubusercontent.com/31145988/200407384-51642c43-28d3-4f50-bc2f-564f870debf1.png)
https://apiview.dev/Assemblies/Review/878ea27771a045aca67f2bd6e84ca0b6?diffRevisionId=34129f25c84643b5877387ad1742c2

[2022-11-07 21:42] kurtzeborn commented on #3024
We have a workaround for the problem that came up originally.  This was a follow up item.  Now that 7 months have passed, I'd say we're probably not going to get to this.  If it comes up again, we'll deal with the problem at hand at that time.

[2022-11-07 21:42] #3024 closed

[2022-11-07 21:46] kurtzeborn commented on #2965
We've already handled this in get-changed-files.ps1, so we probably don't need this any more.

[2022-11-07 21:46] #2965 closed

[2022-11-07 21:59] kurtzeborn commented on #2960
It's been a while since this was opened and we're not hitting this now.  If we hit this again in the future we should revist.

[2022-11-07 21:59] #2960 closed

[2022-11-07 22:02] kurtzeborn commented on #2776
Already fixed by @benbp last week.

[2022-11-07 22:02] #2776 closed

[2022-11-07 23:46] heaths commented on #4375
That could work. We already have a convention of using green "Approved-{Topic}" labels for purposes like this. Easy to override, but at least there's a paper trail.

[2022-11-07 23:48] maririos opened #4648 "Repo values possibly hardcoded in scheduler app"
The settings for the repo information from the Admin app are not used for SDK meeting. They seemed to be hardcoded in the scheduler app.
i.e.
<img width="1130" alt="image" src="https://user-images.githubusercontent.com/9868623/200439387-da2fd207-d018-4e37-adc0-473141ac0f89.png">

<img width="269" alt="image" src="https://user-images.githubusercontent.com/9868623/200439458-34022708-e0a0-484f-a0ce-f

[2022-11-08 00:03] maririos commented on #4643
Done

[2022-11-08 00:04] maririos commented on #4643
Email sent to block other Holiday dates for the remaining of the year

[2022-11-08 00:04] #4643 closed

[2022-11-08 01:59] #3900 closed

[2022-11-08 03:14] live1206 commented on #4600
@ladonnaq
There are a few ADO work items missing Product Service Tree Id or corresponding Service Id.
https://dev.azure.com/azure-sdk/Release/_workitems/edit/12320
https://dev.azure.com/azure-sdk/Release/_workitems/edit/12604
https://dev.azure.com/azure-sdk/Release/_workitems/edit/13206
https://dev.azure.com/azure-sdk/Release/_workitems/edit/13280
https://dev.azure.com/azure-sdk/Release/_workitems

[2022-11-08 06:38] live1206 commented on #4600
Apart from the above 5, the rest have been migrated to Dataverse

[2022-11-08 16:43] praveenkuttappan commented on #4306
This one is to take URL to CADL file as input and generate api review. This is not to enable auto review gen from PR.

[2022-11-08 16:47] praveenkuttappan opened #4651 "APIView - Support more than one API key by create api review REST API"
REST API uses API KEY auth to create api review from CI pipeline. We need to support more than one API keys to share API key with communication team to integrate APIView to CI pipeline on communication package.

[2022-11-08 16:53] praveenkuttappan commented on #4198
@tg-msft Line numbers are not copied if you select hide line number option. Will this be good enough?

![image](https://user-images.githubusercontent.com/55455725/200626204-dcc09241-fc58-48b1-a1a5-abb3ee794b21.png)

I also would like to know the use case when you need to diff manually. Please let me know if there is any improvement, we can do in APIView to cover any missing use cases.

[2022-11-08 16:59] praveenkuttappan commented on #4137
Correct. I will close this issue once we switch auth API to open-source portal API to verify internal users.

[2022-11-08 17:23] ronniegeraghty commented on #4605
@maririos
Standard Times: 2:05PM - 4PM PST or 4:05PM - 6PM PST (for Shanghai teams).
Non-Standard Times: 10:05AM - 12PM PST and 9:05AM - 11AM PST (the 9-11 time is only used when absolutely necessary, usually for India located teams)
Non-Standard Times are only used when needed and the Architects need to accept the non-standard time. Normally when a team is asking for a non-standard time Kyle and

[2022-11-08 17:47] #4614 closed

[2022-11-08 18:16] scbedd opened #4652 "[Prioritized] Add CLI verb `config`"
In short, we want an "official" way to interact with the assets.json only involving the test-proxy and now pshell to do things like create it.

- [ ] test-proxy config initialize (pending, I don't have a good way to discover `language` in an automated way
- [ ] test-proxy config show (shows details about config, relevant paths, etc)
- [ ] test-proxy config locate (shows location of assets repo for

[2022-11-08 19:58] benbp opened #4653 "[stress testing] Cleanup stale namespaces"
We should watch and delete namespaces that stick around for a long time with no active jobs/workloads.

[2022-11-08 19:59] markweitzel opened #4654 "Scheduling tool creates issue in wrong repo"
It looks like when a meeting is created, and a PR is provided, the issue is opened in the wrong repo. By default, the issue and the PR should be in the same repository.

![azure-rest-api-specs 2022-11-08 14-55-56](https://user-images.githubusercontent.com/522116/200662598-9e1b8a40-c781-4bc6-98f3-d63ca704ce17.png)

[2022-11-08 20:04] maririos commented on #4654
Not sure I follow. Looking at the screenshot, the issue was created in the `Azure/azure-rest-api-specs` repo, same as the PR

Issue: https://github.com/Azure/azure-rest-api-specs/issues/21279
PR: https://github.com/Azure/azure-rest-api-specs/pull/9407

[2022-11-08 20:04] markweitzel commented on #4654
yeah. i think i grabbed the wrong screen shot

[2022-11-08 20:24] praveenkuttappan opened #4655 "APIView - Update python APIView parser to latest version"
This requires enabling sandboxing for manual and upgrade scenarios for python and upgrade to latest version of api-stub-generator parser for python.

[2022-11-08 20:55] weshaggard commented on #4654
@maririos the problem appears to be that the github issue is in the public repo but the associated PR should have come from the private repo https://github.com/Azure/azure-rest-api-specs-pr/pull/9407

[2022-11-08 21:05] maririos opened #4656 "Re-design PR input information"
We've had couple of customers introducing the wrong PR becuase they didn't selecte the right repository (usually they don't select private repo).
Is there a better way to present this information so that users select the right repository?

<img width="608" alt="image" src="https://user-images.githubusercontent.com/9868623/200674983-3bf4f917-7c1b-4618-a1ea-dcfcad1a37a5.png">

Some ideas are:
- Ask

[2022-11-08 21:29] maririos commented on #4654
Opened issue https://github.com/Azure/azure-sdk-tools/issues/4656 to see how we could improve the UI design and avoid this problem in the future

[2022-11-08 21:29] #4654 closed

[2022-11-08 21:41] lmazuel commented on #4357
Per Swagger spec, it's not the same semantic with and without `type: object` as without it means "it _may_ be an object, and if it does those are the properties that it must have", with it means "it _has to_ be an object, and if it does those are the properties that it must have".

[2022-11-08 21:46] scbedd commented on #3905
This is present [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/785/Externalizing-Recordings-(Asset-Sync)) now.

[2022-11-08 21:46] #3905 closed

[2022-11-08 21:49] heaths commented on #4357
I get the swagger spec may say that, but do any of our generators even make that distinction? If not, this validator is just unnecessary friction. Now we're in a case where it's treated like an object already across our language SDKs, but we get validation errors because we didn't unnecessarily define it, and when we do define it we get breaking change validation errors. At the end of the day, the

[2022-11-08 22:01] mikeharder opened #4658 "[Perf] Analyze performance data for November releases"

[2022-11-08 23:21] JonathanCrd commented on #4250
Things implemented:

- [x] A new drop down to select the Product has been added.
- [x] Meetings records with the product selected shows it in the disabled product drop down.
- [x] Product information can be passed down from the Planner app into the scheduler (via the draft meeting record).

However, I have questions regarding the following escenarios:

- [ ] Is the Product required when creating a

[2022-11-09 00:20] maririos commented on #4250
@ladonnaq could you help with the following questions?:

[2022-11-09 00:40] JonathanCrd opened #4659 "Modify Informational meeting templates to include the Product Information"
We need to add the Product name into the templates for Informational meetings.

[2022-11-09 01:41] maririos opened #4661 "Figure out a way to manage and utilize the Codeowners files across repos"
- Codeowners across the different repositories needs to be consistent
- This information should be used in the different applications that are needed instead of hardcoded. For example Powerapps, APIView, etc.

[2022-11-09 01:41] maririos opened #4662 "Figure out a way to manage and utilize the Codeowners files across repos"
- Codeowners across the different repositories needs to be consistent
- This information should be used in the different applications that are needed instead of hardcoded. For example Powerapps, APIView, etc.

[2022-11-09 01:43] maririos opened #4663 "Establish a strategy for the management of Codeowners and its usage"
- Codeowners information across repositories should be consistent
- Tooling dependent on this information should use one source of truth instead of hardcoded values. i.e. PowerApps, APIView, etc

[2022-11-09 02:50] live1206 opened #4664 "Set up connection between tables while syncing data from CLC"
Set up connection of 'Product Profile' in 'Service Product Mapping'

[2022-11-09 06:15] raych1 commented on #3205
As discussed last time, x-ms-paths are not recommended to use any more and we intend to deprecate it.  @mikekistler , correct me if any gaps.

[2022-11-09 08:26] #2298 closed

[2022-11-09 13:38] mikekistler opened #4665 "Document steps to create a Swagger APIView somewhere permanent"
The steps to create a Swagger APIView should be documented on the APIView help page:

https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/APIView/APIViewWeb/README.md

(Why is this in the dotnet directory? Historical I guess ...)

[2022-11-09 15:05] mikekistler commented on #3205
We definitely discourage any new uses of x-ms-paths but there are some GA mgmt-plane services that use it and won't be able to change. But I agree that it's not worth the effort to add this to live validation for just these few legacy services.

[2022-11-09 19:02] mikekistler opened #4667 "Avocado should flag a readme where the "latest" tag does not contain all APIs"
The motivation for this request is readme files like:

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/marketplacecatalog/data-plane/readme.md

that have a "latest" tag (newer than the default tag, but not the default) that does not contain all the APIs defined in the default tag. In this case, the latest tag simply omits the main REST API definition, marketplacecatalog.json.

[2022-11-09 19:45] #4563 closed

[2022-11-09 19:48] maririos opened #4670 "Enable email sender service"
Instead of continuing the use of SendGrid, this [doc](https://dev.azure.com/devdiv/Engineering/_wiki/wikis/CNEKB/24555/How-to-send-email-from-Azure) about how to use MS service to send email.

[2022-11-09 19:55] ronniegeraghty opened #4671 "[Scheduling Tool] Limit the number of meetings teams can schedule"
We started to see that some of the teams using the scheduling tool are scheduling many meetings in advance. Some even scheduling 1 meeting every week for a full month. Often these are just place holders in case the team is ready to meet with the arch board at that time but often end up getting rescheduled or cancelled. I propose we limit the number of meetings a team can schedule to at most 2 upco

[2022-11-09 20:09] maririos commented on #4671
Yeah definitely a behavior we have been seeing. How do you want us to manage this?
- 2 upcoming meetings for a month?
- 2 upcoming meetings in the same week?

As for the who:
- Should the filtering happen by `Service name + Product Name (not available yet in the tool but it is in the works) + Sub service name` ?
- Or is there another option/combination we should look into?

As for the experience,

[2022-11-09 21:27] #4475 closed

[2022-11-09 22:02] tg-msft commented on #3689
This has already been approved by the Arch Board for a couple of services.

[2022-11-09 22:24] tjprescott commented on #4198
Yes, because SwiftAPIView can only do manual reviews, you sometimes get a diff due to changes in SwiftAPIView itself, which is I suspect the scenario where @tg-msft is doing manual diffs. We've written guidance for SwiftAPIView [here](https://github.com/Azure/azure-sdk-for-ios/wiki/Using-Swift-APIView) so that service teams _should_ regenerate the base revisions so that all diffs are done against

[2022-11-09 22:56] praveenkuttappan opened #4672 "APIView - Skip sending notification when user ID is empty"
1. Notification step is triggered even when user Id is empty. Though it will not send any email, it's better to avoid sending request to sendgrid in this case.
2. Add app insights trace when user email address is not available

[2022-11-10 00:41] ronniegeraghty commented on #4671
My recommendation would be a service team can only have 2 upcoming meetings. So, if they scheduled two meetings, they wouldn't be able to schedule another until one of their meetings occurs.

For the who, I think you have it right. The service name + product name.

The message should say something along the lines of: "Service teams can have no more than 2 standing meetings at a time. Please wait u

[2022-11-10 01:09] JonathanCrd commented on #4659
Modified the template and the app to send a `Product Name` property in the json.
I didn't modify the Cloud Flow.

[2022-11-10 01:09] #4659 closed

[2022-11-10 01:43] scbedd opened #4674 "Publish "Test Template" Projects for the test-proxy"
Right now, we have some `sample usage`, but that is very specifically just console apps that:

- start recording
- run single request
- stop recording
- start playback
- run single request (playback)
- stop

We need to extend these to be actually full test projects for use in production applications.

Currently requested from @xboxeer :

For `.net`:
- [x] Publish an `xunit` and `unit` test project

[2022-11-10 04:09] ruowan commented on #4441
We already deploy it to prod. We could close it.

[2022-11-10 04:16] ruowan opened #4675 "[PR Workflow] Swagger unified pipeline avoid adding ARM review label for those PR target branch to dev-*"
Feature request from Roopesh

[2022-11-10 15:31] praveenkuttappan commented on #4651
This change is required to integrate APIView in communication calling repo.

[2022-11-10 15:35] praveenkuttappan opened #4677 "Create a new view in APIView to show all API reviews from same PR in one page."
We need to generate a new API review link that shows a dropdown with list of all API reviews created from a specific PR. This will help us correlate API reviews created from a swagger/CADL PR under a common link. All API reviews correlated by PR number will be listed under a dropdown to easily go to reviews created from a single PR.

@weshaggard I have filed this issue to track the change we discu

[2022-11-10 18:13] maririos commented on #4250
Should the products present have the same behavior (filtering) as they do in the Release Planner App?
@JonathanCrd to add the specific conditions

[2022-11-10 18:16] maririos commented on #4371
Let's start by adding the link into the email templates.
Confirm with @ladonnaq if we need this in the app too

[2022-11-10 19:22] JonathanCrd commented on #4250
On the release planner, only the products that fullfill the next condition are shown:
`'Target Lifecycle Stage' = "Private Preview" || 'Target Lifecycle Stage' = "Public Preview" || 'Target Lifecycle Stage' = "GA"`

[2022-11-10 20:23] praveenkuttappan opened #4678 "APIView - Add new filter to show reviews without package name approval"
1. Change package name approval button name to `Approve for first preview`
2. Add new filter on main page to find the reviews with pending approval for first preview release.

[2022-11-10 21:41] #4450 closed

[2022-11-10 22:03] maririos commented on #4441
Thanks for the heads up!!
Question, I see these 2 comments in the PR you have linked. Waht is the behavior?

<img width="705" alt="image" src="https://user-images.githubusercontent.com/9868623/201215269-0588592a-2f6e-4af2-a417-23b88b9febd8.png">

Couple comments lower:
<img width="728" alt="image" src="https://user-images.githubusercontent.com/9868623/201215312-133ae64c-d5a3-4ce9-97da-b371bedb055c

[2022-11-10 22:04] maririos commented on #4441
Also, should we see it in every PR? i.e.  https://github.com/Azure/azure-rest-api-specs/pull/21510

[2022-11-10 22:14] maririos commented on #4642
Updated

[2022-11-10 22:14] #4642 closed

[2022-11-10 22:30] #4541 closed

[2022-11-10 22:50] benbp commented on #4652
@scbedd For example, does this mean that `test-proxy cd sdk/appconfiguration` would take the user to `<repo>/.assets/<path boilerplate>/appconfiguration`?

The `cd` action/verb feels a little odd to me, especially as a top level command amongst `start|push|etc.`. Perhaps having a verb class for `config` would give you some breathing room for additional actions?

[code]

[2022-11-10 22:56] maririos commented on #4561
I checked and the templates are correclty set and called. I haven't been able to repro this.
Things I triedin https://github.com/azure-sdk/TestingForEngagementExperience/issues/72:
- Updating a meeting from the scheduler app
- Updating a meeting from the link on the email
- Updating specific fields

I also see in Prod that the GH issue is correctly updated so I am going to close the issue and keep

[2022-11-10 22:56] #4561 closed

[2022-11-10 22:59] maririos commented on #4560
This will apply to all 3 types of meetings

[2022-11-10 23:10] JonathanCrd opened #4680 "Make relevant information in SDK Reviews emails more visible"
I got this feedback from one of the reviewers.

In the SDK Review confirmation email, the GitHub tracking issue link is not easy to find within all the text. A suggestion I got is to add the usefull links at the top of the email, or have a different email template for reviewers.

To be clear, the feedback I got was not against the content of the email, in fact, that person told me that the informa

[2022-11-10 23:15] JonathanCrd commented on #4371
ADO Item link added to the email!
I'm closing this issue now. If we need that link in the app too, we can reopen it.

[2022-11-10 23:15] #4371 closed

[2022-11-10 23:31] ladonnaq opened #4681 "Update ADO work item Info Meeting Field when Info Meeting is scheduled"
Update ADO work item Info Meeting Field when Info Meeting is scheduled. The field is Info Meeting State and the state should be "Scheduled".  I can create an ADO query for you that has the product servicetree ID, the service servicetree ID, and the Info Meeting State column.
![image](https://user-images.githubusercontent.com/67656762/201227182-026abbd0-d22f-4460-ab58-fa370b3ee70a.png)

[2022-11-10 23:57] JonathanCrd commented on #3866
Changed in SDK reviews as well

[2022-11-10 23:57] #3866 closed

[2022-11-11 00:07] JonathanCrd opened #4682 "Product field for informational meetings follow-up"
This is a follow up for this previous issue in which I introduced the Product Field and information into the Informational meetings (Apps and emails).

- https://github.com/Azure/azure-sdk-tools/issues/4250

Right now, in the app there is an **optional** Product drop down and the information of the product (Name and ADO work item) is present in the confirmation email (if specified by the user).

H

[2022-11-11 00:09] JonathanCrd commented on #4250
I summarized all of our questions in this follow up issue: https://github.com/Azure/azure-sdk-tools/issues/4682

For now, I'm closing this issue in this release since I have finished added the Product Field and information on the emails.

[2022-11-11 00:09] #4250 closed

[2022-11-11 02:29] ruowan commented on #4441
For PR target branch is main, RPSaaSMaster, release-* . The apiView should be generated. I saw there are still some PR which generation succeed but apiView service return 401. @praveenkuttappan have a issue to fix them.

[2022-11-11 07:03] #4419 closed

[2022-11-11 07:04] live1206 opened #4683 "Breaking change validation is getting run-time error"
https://github.com/Azure/azure-rest-api-specs-pr/pull/9105#issuecomment-1268824915

The validation result is not displayed due to run-time error.

[2022-11-11 18:14] #4441 closed

[2022-11-11 18:15] maririos opened #4684 "Identify and manage SDK versions in Release planner app"
SDK sometimes don't follow the same versioning schema as the Service team. For example, a service team might be working for their GA release, while the SDK is working on a beta release.
We need to find a way to track this in the Release planner app

[2022-11-11 18:16] maririos commented on #4684
Other scenario is that for the same service version, there wan be multiple SDK releases (i.e. multiple beta releases)

[2022-11-11 19:57] scbedd opened #4685 "`tox_harness` should honor the new common check exclusion list"
For context, the `common check list` is defined in @kristapratico's PR #26704 that centralizes our exclusion lists.

Currently our `tox_harness` blindly invokes each set of tox environments as defined for the pipeline. It iterates across each package in the service, and invokes them in parallel.

[code]

Unfortunately, this means that for an environment that is a `check` like `pylint` or `pyright`

[2022-11-14 07:50] ruowan opened #4691 "Swagger unified pipeline doc preview task should ignore cadl package.json file."
Doc preview pipeline should exclude non swagger file.

Mapping.json: https://github.com/MicrosoftDocs/AzureRestPreview/blob/9ed132e1-013d-44e0-8ed0-14eac322e7ed/mapping.json

[2022-11-14 07:59] josefree opened #4692 "Adding APIView Status Check as one of SDK ArchBoard Review Exit criteria"
Relevant app: SDK Release App
Relevant blade: step 2.4
Details:  Require APIView status check.  This requires clarifying exit criteria of SDK ArchBoard review - Signoff with approval in APIView of each language?

[2022-11-14 15:43] chrissmiller opened #4693 "Swagger APIView fails with stack overflow on circular reference"
The API view tool stack overflows when presented with a circular reference in a swagger file. In our case, the CloudErrorBody in the spec referenced below contains an array of CloudErrorBody objects within its details property. To our knowledge, this is allowed and is a standard way to return CloudErrors. The APIView tool should not crash on this.

Example spec that causes the issue:
https://githu

[2022-11-14 16:53] ladonnaq opened #4694 "Finding existing GitHub issues for API Reviews"
**User experience for stakeholder (API Stewardship Board member leading scheduling of API Reviews:** When a service partner schedule an API Review, look if there is an existing GitHub issue that is tracking the API review and update it vs creating a new GitHub issue.

Example:  https://github.com/Azure/azure-rest-api-specs/issues/21166

**Options for resolving:**

- When API Review meeting is sche

[2022-11-14 17:24] praveenkuttappan opened #4695 "APIView - Get status REST API to take reviewId as optional parameter"
GetStatus API in APIView returns status of automatic API review only and this doesn't work if caller is trying to get status of a review created from PR.  We need to change this API to add an optional review ID param which will return status of review with given review ID.

REST API entry point for GetStatus. https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/APIView/APIViewWeb/Controll

[2022-11-14 17:40] maririos commented on #4693
@ruowan could you please take a look?

[2022-11-14 17:42] mikekistler commented on #4461
Is this done?

[2022-11-14 18:06] maririos opened #4696 "Update start time of the SDK Review meetings to +5min"
Meetings should start at 2:05pm PT instead of 2:00pm PT

[2022-11-14 18:49] maririos commented on #4648
Do a forced refresh to get latest values

[2022-11-14 18:49] #4648 closed

[2022-11-14 18:52] maririos commented on #4656
Decision for now is to ask for the complete link.
This will also help once we integrate it with the Release Planner app where that link is already known

[2022-11-14 18:53] praveenkuttappan opened #4698 "APIview - Update package name approval button label"
Update label name to `Approve for first release` from `Approve Package Name`

[2022-11-14 18:57] maririos commented on #4680
It will be good to redesign the email template and put the most relevant information on top, similar to what we do with the other types of meetings.

[2022-11-14 19:01] maririos commented on #4681
FYI @ladonnaq

[2022-11-14 19:08] maririos opened #4699 "Follow up with the Release Planner app team so they can start sending Product information into the Informational meeting"

[2022-11-14 19:25] maririos commented on #4244
We will first swap documentation wiki pages by Wed 11/16. Then we will update the fields in the wiki

[2022-11-14 19:33] maririos commented on #4567
Open design questions:

- - When to send the survey?
  After the meeting happened we can do it
- How do we know a meeting happened?
  - Informational: The ADO item should be manually updated by the admin of the meeting.
  - API Review ?
  - SDK Review?
- We can have automation around the trigger so we send the survey.

- Should there be a survey per meeting?

[2022-11-14 19:34] maririos commented on #4567
Issue related for API Review: https://github.com/Azure/azure-sdk-tools/issues/3681

[2022-11-14 19:45] #4651 closed

[2022-11-15 02:45] dw511214992 opened #4704 "Get ApiView Status by ApiView UUID"
We need a rest api to return the apiview’s status by apiview link/id. For example:
GET https://apiview.dev/AutoReview/GetReviewStatus/Review/881d013952a54321848d7e9b651f4361

[2022-11-15 07:48] ruowan commented on #4693
Sure. I will take a look.

[2022-11-15 08:35] #4461 closed

[2022-11-15 17:07] praveenkuttappan opened #4706 "APIView - Auto update of existing review causes devops throttle"
APIView runs sandboxing pipeline to generate manual review and also to update existing review if parser version is upgraded. But upgrade step when restarting server sends lot of requests to Devops pipeline which in turn causes lot of download requests from APIView to download generated artifact after each pipeline is completed. Devops is throttling this request as part of rate limiting. We need to

[2022-11-15 18:17] maririos commented on #4681
@JonathanCrd you could start working on this to update the field when a meeting is created. When we have confirmation on the cancellation behavior, we will add that

[2022-11-15 18:56] scbedd commented on #4256
The PR is working and ready to go. Harsha and Timo are going to discuss among themselves for any further changes, but my part of this task is completed.

[2022-11-15 18:56] #4256 closed

[2022-11-15 19:04] #4609 closed

[2022-11-15 19:51] markweitzel opened #4707 "Enable an admin to edit meeting details..."
Recently, we had a situation where the wrong PR was linked to the meeting invite. As an API Steward, I went in a fixed this. However, I could not change the meeting invite.

As an admin, I should be able to manage all aspects of the meeting, e.g.
* edit any meeting details. Updating this should cause the calendar invite to refresh.
* add/remove attendees.
* change time/date
* etc...

[2022-11-15 20:10] ladonnaq commented on #4684
Just a note that service teams are not supposed to follow the SDK guidance that is in our repos.  Public preview - the OpenAPI doc in the preview folder and Beta SDKs should be released.  GA - the OpenAPI doc should be in the stable folder and Stable SDKs should be released.  We have been correcting teams all year as this process was not being followed, especially for management plane only.  Servi

[2022-11-15 20:13] ladonnaq commented on #4625
Hello @live1206 - This has been sitting here for way too long.  I met with the service partner and provided all the information they need for onboarding.  I told them once the bug was resolved; I would go ahead and complete the intake questionnaire so that the work item will be created.  We need to have a queue for user found bugs and start having the service partners create the bug issues from th

[2022-11-15 20:15] ladonnaq commented on #4601
@kyle-patterson and @ronniegeraghty  I would like to get this feature in the release planner app.  Would you please review and provide more detail so I can hand it over to engineering.  The release planner can automatically create the GitHub issue, put it in a GitHub project for you if GitHub action is enabled, and add the appropriate labels.

[2022-11-15 20:17] ladonnaq commented on #4600
Thanks!  I will check on these 5 and also on management plane.  I think that Siva has management plane done as well. I would like to start synching the data so that I can work on the new APEX product dashboard (for us not the service partners, service partner dashboard is in release planner app).

[2022-11-15 20:21] ladonnaq commented on #4599
@kyle-patterson @ronniegeraghty I need your input so we can provide requirements to engineering.  It is possible to initiate the SDK review by a form which will create a GitHub issue with tags/labels you require.  The guidance can explain that API reviews are electronic by default and if a in-person SDK review is required that the helpdesk will reach out to provide information for scheduling the i

[2022-11-15 20:24] ladonnaq commented on #4598
@kyle-patterson @ronniegeraghty Please confirm scenarios that require Azure SDK Intro sessions by default.  The release planner can include this as a step and the scheduling tool can pop-up pre-populated with all of the information we have gathered so far.  Support would be for Cadl + DPG first but we could also support for other scenarios if we can clearly identify the scenarios. For example, if

[2022-11-15 20:27] ladonnaq commented on #4045
This is the Azure SDK APEX product dashboard.  Here is draft of the design and use cases - https://microsoft.sharepoint.com/:w:/t/AzureDeveloperExperience/EfvU7xX2ABZNgnL_QVXUpo4Bn05hzV9vhhpZiRZ6MqZIxw?e=SAF2HV.  I am working with Crystal this week on requirements and a new prototype design.  I think that this dashboard lives outside of the release planner because release planner is the service pa

[2022-11-15 20:35] tg-msft opened #4708 "[ApiView] Swagger paths should NOT have a trailing colon"
When creating an ApiView listing for a swagger file with an [action](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#performing-an-action), the trailing colon on the path makes it look like we're sandwiching the action name in colons.

![image](https://user-images.githubusercontent.com/1179329/202019576-e9d2d9ee-352d-4e88-a1ab-edbb01c47f3d.png)

We should remove the trai

[2022-11-15 20:49] ladonnaq commented on #3636
Are the stakeholders the API Stewardship Board and Azure Developer Experience Arch Board distribution groups?

[2022-11-15 20:53] ladonnaq commented on #3879
I opened a GitHub issue to identify if the service partner + product have already completed an initial API review.  Once that is enabled you can set the default to Schedule an API Review follow-up. https://github.com/Azure/azure-sdk-tools/issues/4694

[2022-11-15 21:05] ladonnaq commented on #3701
The Azure Devops work item has a field for the SDK review.  I would like that field updated to track the SDK review.  We could update the product dataverse table and then when the dataverse table syncs to the Azure Devops work item, the field would be updated.  We can also add a field similar to the Info Meeting State which is used to identify if a product has completed informational meeting (for

[2022-11-15 21:29] scbedd opened #4709 "Address Hybrid-Mode Restore Scenario"
Scenario:

1. assets are restored by a manual run of the test-proxy tool
2. user attempts to push changes using `docker`

If the targeted tag between step 1 and 2 is _the same_, then there should be no git actions other than adding the changes to a new local branch and pushing the new tag.

Unfortunately, we're instead seeing this exception:

[code]

EG, we need to move the safe directory add ABOV

[2022-11-15 21:53] maririos commented on #4707
@markweitzel

Currently the fields that admin can't modify are:
- Service Name
- Sub service name
- PR issue (will be enabled with issue https://github.com/Azure/azure-sdk-tools/issues/3869)
- Github issue

Do you want these to be editable for only admins?

[2022-11-15 22:00] maririos commented on #3636
Yes. They are always included by default

[2022-11-15 22:00] kurtzeborn opened #4711 "Enable CodeQL"
- [x] azure-sdk-for-net
- [x] azure-sdk-for-python https://github.com/Azure/azure-sdk-for-python/pull/28751
- [x] azure-sdk-for-js https://github.com/Azure/azure-sdk-for-js/pull/23941 (followup [fix](https://github.com/Azure/azure-sdk-for-js/pull/24854))
- [x] azure-sdk-for-java https://github.com/Azure/azure-sdk-for-java/pull/33456 (followup [fix](https://github.com/Azure/azure-sdk-for-java/pull/

[2022-11-15 22:02] maririos commented on #3879
I am hesitant to enable the `Follow-up` UI again. I will prefer to edit current one and avoid having the user to select more things.
If #4694 turns out to be insuficient, then we can consider opening this issue again

[2022-11-15 22:53] scbedd opened #4712 "Force two-person releases"
If you queue a build, you cannot approve it for release.

Should we make this change? @weshaggard @kurtzeborn

[2022-11-15 22:58] maririos commented on #3701
This issue is specific to the Scheduler tool. Currently only API Reviews is showing a link.
i.e.
![image](https://user-images.githubusercontent.com/9868623/202042273-fa87c2ea-deb5-4ac7-a6f5-9424c702b952.png)

Informational doesn't have a GH issue, but aybe we can put the ADO item link here?
SDK needs the link too.

@ladonnaq  as for updating the ADO item with the status of the meetings, I totally

[2022-11-16 01:11] JonathanCrd commented on #3869
Are we expected to show the old PRs somewhere in the app?

[2022-11-16 01:59] m-nash opened #4715 "Update AZC0002 to look for RequestOptions as well"
Since cancellation token can be passed through the RequestContext for protocol methods we need to update this check to account for that.

https://github.com/Azure/azure-sdk-for-net/pull/32466/files#diff-4af651fe17380560084e5cb68456401c225c9a3c3f511049bbe8144e8c4eae08R6

[2022-11-16 09:28] live1206 commented on #4533
@honghr Could you help with this task? Thanks

[2022-11-16 09:31] #4691 closed

[2022-11-16 09:36] ruowan opened #4716 "[ApiView]Swagger apiParser support operation level parameter schema"
In swagger operation model, we defined method model.  We need to support parameter model in operation level. Otherwise, the JsonSerializer failed.

specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2022-05-31/digitaltwins.json

from this PR

https://github.com/Azure/azure-rest-api-specs-pr/pull/9407

Error message:
[code]

[2022-11-16 15:10] mikekistler opened #4718 "Gate release of client libraries on REST API merge to main"
I recently discovered that we released a "stable" version of the FormRecognizer client libraries (in September) that we built using a REST API definition that was not in the "main" branch of azure-rest-api-specs.  In fact, the PR for this version  was only merged last week, after I discovered this situation and asked Joel to merge it.

https://github.com/Azure/azure-rest-api-specs/pull/20404

Ther

[2022-11-16 16:43] lmazuel commented on #4357
M4 does the difference and will return AnyObject or Any type to codegen depending on what was found, I believe some codegen are generating sligtly different things.

It was supposed to be the way to define SDK like Data Factory and their "string or Expression" (cc @JoshLove-msft ) but I don't think it was ever implemented all the way to be honest.

@timotheeguerin did a PR at some point to batch u

[2022-11-16 17:33] maririos commented on #3869
Maybe? how will this change the design?

[2022-11-16 17:52] JonathanCrd commented on #3869
It won't change the design at all, I wanted to know if I needed to add a new gallery to display the old ones as part of this issue.

[2022-11-16 18:56] maririos commented on #3869
Got it. No new gallery needed to show history

[2022-11-16 19:41] #4698 closed

[2022-11-16 19:47] pvaneck opened #4719 "[Assets-Sync] Bump minimum version of Git"
The current [documentation](https://github.com/Azure/azure-sdk-tools/tree/main/tools/test-proxy/scripts/transition-scripts#setup) suggests using `git >2.25.0`. However, with `git 2.25.1` on WSL2 (Ubuntu 20.04), while running the `generate-assets-json.ps1` script, I kept hitting the following error:

[code]

Updating my git to the latest (`2.38.1`) allowed me to successfully pass this part. Not sur

[2022-11-16 19:51] heaths commented on #4357
Thank you for the explanation. Seems if teams have to add it, they will need a break-change exception. Any generators that do care will require language devs to account for the change then.

[2022-11-16 19:51] #4357 closed

[2022-11-16 19:58] pvaneck opened #4720 "[Asset-Sync] Git tagging hangs if tag signing enabled"
For those of us with GPG signing enabled locally for all commits/tags, the process to push a new tag hangs because a signed tag requires a tag message. So `git tag` will automatically open the user's editor. This causes the outer process to hang indefinitely.

After killing the process, I get:
[code]

Some workarounds/solutions could be to:

- Include a default `-m` message with the `git tag` comm

[2022-11-16 20:57] maririos commented on #4597
@ladonnaq are you suggesting there is no other way to filter information but to bring all 20.000 services?

[2022-11-16 21:00] maririos commented on #4597
An option for now could be to provide the option for the user to give the tool the service tree identifier. The release planner will fetch the information and propulate the rest (product, etc).

[2022-11-16 21:12] praveenkuttappan opened #4723 "APIView - Batch process API review update background task"
APIView automatically upgrades all existing reviews when a parser version is modified. Currently it's run as a background task that fetches all reviews and updates individual revisions. This approach has few limitations.

1. If update fails for one language, then it impacts and stops this background task for all reviews.
2. We don't have a mechanism to enable and disable update of a specific langu

[2022-11-16 21:44] mccoyp opened #4724 "[Asset sync] `generate-assets-json.ps1` failing to move recordings on Docker"
@xiangyan99 ran into an issue while trying to make the initial transition of `azure-identity` recordings -- I was able to reproduce the behavior on my end as well.

When `generate-assets.json.ps1` is run with Docker, it's able to produce an `assets.json` file but doesn't correctly move recordings. When the script is used without `-InitialPush`:
[code]
An `assets.json` file is created with the outp

[2022-11-16 23:13] ladonnaq commented on #4597
That is a good idea.  We could have a checkbox "I cannot find my service".  If the user checks the box then another field appears and we ask for the service tree identifier.  We should explain how they can find this information using service tree.
Here is the example using Azure Dedicated HSM.  The service tree identifier can be found by looking at the product service tree record and then look at

[2022-11-16 23:18] maririos commented on #4597
Here is the example using Azure Dedicated HSM. The service tree identifier can be found by looking at the product service tree record and then look at the service mapped to it.

I like it. @live1206 what do you think?

[2022-11-16 23:20] maririos commented on #4597
@ladonnaq what are the implications for our team if there is no product? Are they engaging with us too early? can they actually start interacting with us even though this is not defined? how common is this scenario?

[2022-11-16 23:25] ladonnaq commented on #4682
1. Is the Product required when creating a new meeting?  We should require the product but have a checkbox that states "New service no product in service tree yet".   There are services that come our way that do not have products identified yet.  See example below.

![Image](https://user-images.githubusercontent.com/67656762/202315514-6d85f26f-e948-4e2e-ad07-44b06af83510.png)

1. Can a user add a

[2022-11-16 23:31] ladonnaq commented on #4597
We want to offer API design guidance, so we want services to engage with us earlier vs later.  This service is not the most common type we see because it is an SDK - there does not seem to be anything deployed to ARM (no ARM namespace).   So it would be data plane only.  For this team we would want to introduce them to Cadl, have the API Stewardship Board meet with them for an intro to the service

[2022-11-17 00:18] scbedd commented on #4719
Yeap. We based this off the changelog for git. I'll have to install one at a time to find what the actual broken first version is.

[2022-11-17 00:59] praveenkuttappan opened #4731 "APIView - Create a dashboard of APIView failures and traces"
Create a dashboard using data in Azure app insights for APIView to view error details and traces.

[2022-11-17 01:07] live1206 opened #4732 "Add label of environment to Apps"
Add a label to show user which environment is in the Apps
- Release planner App
- API Readiness App
- SDK Release App
I think we do not need to show the label in Prod since it is production

[2022-11-17 01:14] live1206 commented on #4625
@maririos @ladonnaq
I think this is a good idea as well!
We have the mapping of services and products in place, and products as well. What we are missing here is only the services.
It's not an issue to take all 20,000 services to dataverse, but it would be a long list for user to choose from.
If the service is not launched on Azure, we can let the user to input the service tree id, then we fetch t

[2022-11-17 01:14] live1206 commented on #4597
@maririos @ladonnaq
I think this is a good idea as well!
We have the mapping of services and products in place, and products as well. What we are missing here is only the services.
It's not an issue to take all 20,000 services to dataverse, but it would be a long list for user to choose from.
If the service is not launched on Azure, we can let the user to input the service tree id, then we fetch t

[2022-11-17 02:24] #4724 closed

[2022-11-17 02:26] scbedd commented on #4652
I like this a lot. A lot a lot. Going to take a pause on the current PR to change to something like this.

[2022-11-17 03:31] archerzz commented on #4715
@m-nash I think the comment in the original suppression could be wrong. It should be `RequestContext`, not `RequestOptions`. @ShivangiReja Could you please confirm? Thanks.

We've already [added `RequestContext` in AZC0002](https://github.com/Azure/azure-sdk-tools/commit/17876d209b476d853f17b093a8012bea552f8354).

[2022-11-17 04:45] benbp commented on #4719
I think it's ok to require sdk devs to update to `2.37.x` if bisecting for the issue is too much work. We probably want people at this baseline anyways as we start encouraging sparse index scenarios more generally.

[2022-11-17 07:58] lirenhe opened #4734 "In Go APIView, when click the parameter definition, it is unable to jump to the correct location."
In https://apiview.dev/Assemblies/Review/518fb41eeb5447ea850c25d28cf9e7dc

For func (client *Artifact) [DeleteTag](ctx context.Context, tag string, options *DeleteTagOptions) error

When click DeleteTagOptions, we are unable to jump to its definition

type [DeleteTagOptions]generated.ContainerRegistryClientDeleteTagOptions

Expect: It should jump to the correct location.

[2022-11-17 08:15] live1206 opened #4735 "Api Docs Preview is not showing correct status from PR"
<img width="436" alt="image" src="https://user-images.githubusercontent.com/5196139/202392035-c11f12da-f8f5-4c72-90d2-31411bcc7be6.png">
The status on [PR](https://github.com/Azure/azure-rest-api-specs/pull/21578)
<img width="357" alt="image" src="https://user-images.githubusercontent.com/5196139/202392419-15da6d54-b3d5-4a67-acb7-2cd16959fdc8.png">

[2022-11-17 08:24] live1206 opened #4736 "SDK generation result is not showing"
<img width="835" alt="image" src="https://user-images.githubusercontent.com/5196139/202394093-23eb0f20-614d-4a0d-a0c0-062626968ed9.png">
Corresponding PR:   https://github.com/Azure/azure-rest-api-specs/pull/21393

[2022-11-17 08:26] dw511214992 commented on #4736
it's caused by unexpected response of openapi-hub
![image](https://user-images.githubusercontent.com/40835867/202394748-d5dfe5e1-dfba-4e38-aa3c-a4c01ef6c4fb.png)

[2022-11-17 13:58] praveenkuttappan opened #4737 "APIView - Add option to expand and collapse all documentation"
Documentation section can only be extended at each individual API level and this makes it impossible for user to search documentation if they need to find any specific keyword in API docs. We used to show all documentation expanded when show documentation is selected and this feature has been regressed when on demand API level documentation expand/collapse was added.  We need to add an option to e

[2022-11-17 15:11] praveenkuttappan opened #4738 "APIView - Reduce number of requests sentd to Devops to get pipeline details"
We should cache connection and pipeline name to definition mapping to reduce number of calls we make to Azure devops to optimize sandboxing requests we send to Azure Devops.

[2022-11-17 17:32] mikekistler opened #4739 "[ApiView] Change in operationId should not look like entire operation was deleted and added"
In the APIView for [PR 21240](https://github.com/Azure/azure-rest-api-specs/pull/21240), in the diff from revision 0 to revision 1

https://apiview.dev/Assemblies/Review/403f16af88e945baba69c06c0c445bea?diffRevisionId=06f379cd9bfe4f479a50d6efd1c14837&diffOnly=False&revisionId=dee606fa43c04080b8a89bb7cf31fa7b&doc=False

The GET on /linkconnections, and PUT, GET, and DELETE on /linkconnections/{link

[2022-11-17 18:04] ruowan commented on #4693
We already have circular reference handle but not support cross file reference. I did circular reference support for cross file reference.  I have already created a PR to fix it.  Here is example I test it with new version of swagger apiParser. https://apiviewstaging.azurewebsites.net/Assemblies/Review/eb2bc3f8c130420da2c89046b499f7e5. Looks good.

[2022-11-17 18:04] #4699 closed

[2022-11-17 18:05] ruowan commented on #4716
PR created. https://github.com/Azure/azure-sdk-tools/pull/4740

[2022-11-17 18:05] ruowan commented on #4708
PR created https://github.com/Azure/azure-sdk-tools/pull/4740

[2022-11-17 18:30] #4695 closed

[2022-11-17 18:40] danieljurek commented on #1495
Updated instructions:
1. Work w/ docs team to get these things moved over:
    1. Publishing
    1. CI builds
1. Automatic onboarding/publishing in our CI system
1. Get appropriate access to the right GH orgs to move the repos
1. Test everything to ensure it's working

[2022-11-17 18:47] JonathanCrd opened #4741 "SubService not showing in SDK Reviews"
When selecting a Service, the subservice is not showing anymore.

[2022-11-17 18:48] JonathanCrd commented on #4741
Fixed

[2022-11-17 18:48] #4741 closed

[2022-11-17 18:49] JonathanCrd opened #4742 "Fix issues in the Admin App to unblock automatic deployment"
There are some issues in the Admin app that have to be fixed if we want to use the Deployment Pipeline.

[2022-11-17 19:14] scbedd commented on #4719
I'll adjust to that. May need to find a different version of git to install for the `docker` container.

[2022-11-17 19:18] sima-zhu commented on #4646
The PR has been merged. Verify from python review site. https://review.learn.microsoft.com/en-us/python/api/overview/azure/load-testing?view=azure-python-preview&branch=main

It is good to close

[2022-11-17 19:18] #4646 closed

[2022-11-17 20:10] sima-zhu opened #4743 "Publish a new tool for github->msalias convertion"
https://github.com/Azure/azure-sdk-tools/pull/4728#pullrequestreview-1184748473

We currently use the audience api resource in two places in tools repo:
1. Metadata-Helpers.ps1
2. GitHubToAADConverter.cs

Better to publish GitHubToAADConverter.cs as a tool, and have powershell scripts use the tool for the conversion.

[2022-11-17 21:09] maririos commented on #4739
@praveenkuttappan correct me if I am wrong here, but I thought this was by design. If the operationId changes, our SDK generaiton will create different method names o we wanted to highlight that.

[2022-11-17 21:13] #4709 closed

[2022-11-17 21:44] benbp commented on #4738
@praveenkuttappan there is a nice model on devops definition caching that @hallipr built out for pipeline witness. It may be more than you need here, but it could be useful to share techniques/code.

[2022-11-17 21:49] ladonnaq commented on #3916
There should also be a notification to the Azure SDK APEX PMs (Siva and myself) so that we can check to see if the pull request (PR) is related to a new product (offering, sku, feature).  We know that service partners who have existing SDKs tend to engage the API Stewardship Board before what they are working on shows up as in scope for APEX.  We want them to engage early so that is good, but we a

[2022-11-17 22:02] ladonnaq commented on #4109
From an APEX product perspective, it can be difficult to figure out from looking at the pull request (PR) that a new API or new API version relates to the APEX product.  It would be good if we can map the APEX products to the Service and sub-service, so it is easier to validate that the APEX launch criteria has been completed.

[2022-11-17 22:06] #4658 closed

[2022-11-17 22:06] mikeharder opened #4744 "[Perf] Upgrade languages to latest LTS versions"

[2022-11-17 22:08] ladonnaq commented on #3867
We need to figure out how we map the APEX products to the service and subarea.  The release plans will be mapped to a product, not a service.  So we need to make sure that we have service and subarea data fields for the product data tables and Azure Devops work item (there is a field for service already, I can add subarea.  Sometimes subarea will map to the APEX product but other times it will not

[2022-11-17 22:08] ladonnaq commented on #4262
Issue resolved.

[2022-11-17 22:08] #4262 closed

[2022-11-17 22:13] ladonnaq commented on #4264
I noticed that I am still not seeing all of the products that I know have outstanding work.  We need to relook at the logic.  For example, existing extensions.  We have service partners that have existing extensions. If the product is showing as in GA, I don't think that the product is going to show up in the drop down box.  We could potentially have a check box that states "I can't find the produ

[2022-11-17 22:14] ladonnaq commented on #4265
We have another related GitHub issues for this problem.  I think we agreed that a checkbox that states "I cannot find service".  Then the user is presented with a field that they can use to enter the service tree identifier for the service.

[2022-11-17 22:46] maririos commented on #4264
I see. Currently the mapping is: Service has ARM data, Product target lifecylce is Private Preview, Public Preview or GA. If there are additional things that we should look into, let us know the specifics and we can adjust.
FYI @live1206

[2022-11-17 22:50] maririos commented on #3867
This is how I see it. If we follow Service Tree,:

- Service name: Key Vault
- Product: Key Vault
- Subservice: Secrets (this is not in Service Tree but it is how the SDKs are partitioned)

With this it looks like:

- Informational meetings should have Service name and Product name
- API meetings: Service name and Product name
- SDK meetings: Service name, product name, and subservice

[2022-11-17 22:51] maririos commented on #3867
So subservice shouldn't come from service tree, and it is only for SDK meetings when needed.

Across all of our Release process, the way to identify a relationship with partner team is with Service name & Product name (maybe something with release date or version or something else I am missing)

[2022-11-17 22:53] maririos commented on #4109
The label will be added from the Scheduler app or the Release planner apps which contain the Service name and Product name so they should have (in theory) everything needed to do the mapping.

[2022-11-17 22:54] maririos commented on #3545
Will this decision be affected by the docs effort that @ccbarragan is driving?

[2022-11-17 22:57] ladonnaq commented on #3788
I prefer product name because that maps to the release plan and that is what the teams will be looking to get signed off - the APEX launch criteria for the product.

I think we can an option so that a team can choose data plane follow as an information meeting type.  The template in this GitHub issue is the data plane follow-up.  I will review it and create 2 more GitHub issues for the other templ

[2022-11-17 23:03] maririos opened #4745 "User feedback for engagement experience apps"
Teams that have been communicated to us: Anomaly Detector and OpenAI

[2022-11-17 23:25] ladonnaq commented on #4446
![Image](https://user-images.githubusercontent.com/67656762/202581242-0501c386-6201-4510-a21c-e73f83eb8014.png)

[2022-11-17 23:26] ladonnaq commented on #4446
We should change our requested by to match what I put in the engagement experience project.  I think it make sense to list the main stakeholders by area they represent.

![Image](https://user-images.githubusercontent.com/67656762/202581374-9698b7d6-1f53-40a4-89cd-734883568795.png)

[2022-11-17 23:28] ladonnaq commented on #4248
I think that we can trigger to use the appropriate template by using a drop-down box for service partners to identify what type of follow-up meeting.   See this GitHub issue - https://github.com/Azure/azure-sdk-tools/issues/3788.

[2022-11-17 23:58] ronniegeraghty commented on #3545
I there a reason the Review Policies need to be external facing. If so, I would say we stick with the github.io page and try to update the format of the information there to make it more readable. If there is no reason for the Review Policies to be external facing, then I would say let's stick with the ADO wiki and update the information there.

[2022-11-18 00:01] praveenkuttappan opened #4747 "APIView - Add new filter in UI to show list of reviews not approved for first release"
We added a new feature to approve a package for first preview release. We should also add filter in index page to easily find list of packages that require this new approval.

[2022-11-18 00:09] scbedd opened #4748 "Transition script remote parse picks accidentally picks up the purpose of the remote"
Timo's transition script is choosing the wrong language.

the remote output that's causing the bug.
[code]

[2022-11-18 00:18] tg-msft opened #4749 "[ApiView] Swagger view should remember what's been expanded"
If you expand some of the nodes in the swagger view and refresh the browser, it will collapse everything again.  I often need to refresh to check if my comment was correctly applied or if other comments were added and it's very jarring to have my context disappear.  It'd be great to remember the state of whether things were collapsed in a local cookie.

[2022-11-18 00:55] heaths opened #4751 "DocWarden exclusions are case-sensitive"
The `omitted_paths` in _.docsettings.yml_ are treated case-sensitive, which can be a problem in some cases. It would be great if any file paths are matched case-insensitively to avoid needing otherwise redundant paths/globs.

[2022-11-18 01:32] mikekistler commented on #4739
To be clear, I _do_ want the difference highlighted.  But I only want to see what is different and not need to by eye inspect each aspect of the operation to see if it changed or didn't.

[2022-11-18 02:01] live1206 commented on #4736
Change to connect to OpenAPI hub in Prod, it is showing now
<img width="866" alt="image" src="https://user-images.githubusercontent.com/5196139/202599527-021c4f16-2bbf-416e-8a3a-ba7d8b49fbab.png">

[2022-11-18 02:52] #4736 closed

[2022-11-18 05:13] ruowan opened #4752 "[ApiView] swagger api parser remove APIView dependencies"

[2022-11-18 05:26] ruowan opened #4753 "[ApiView] Fix swagger apiParser CI pipeline run empty unit test"
The unit test in swagger apiParser CI is empty. Actually we have swaggerApiParserTest project. We should run unittest on this project.

[2022-11-18 16:55] ladonnaq commented on #3545
I am not sure why the review policies are external.  As far as I know only internal service partners are engineering team are engaging with the Arch Board for SDK reviews, naming, introduction meetings, etc.  @kyle-patterson - Is there a reason why the specifics regarding these type of meeting should be external?  I can understand why the guidelines are external and should remain in GitHub.

[2022-11-18 18:19] KrzysztofCwalina opened #4755 "Resolved threads make the current APIs hard to read"
When a discussion thread is resolved in API View, we show something along the lines of "This thread is marked resolved by KrzysztofCwalina [(show)]" between API listing lines. When there is a lot of resolved threads, it's difficult to see the overall shape of the APIs.

Feature Requests: show resolved threads as a gyph at the beginning of the line as opposed to a new line. When the user hovers the

[2022-11-18 18:22] kyle-patterson commented on #3545
The review process documentation is published externally so that external customers know how to engage with the architecture board if necessary - such as in the case of preparing extensive changes or fixes to our open-source libraries, which might require input or guidance from the architecture board (since these are changes to 1p libraries). In practice, at some point we ended up with internal an

[2022-11-18 19:26] maririos commented on #3788
I worry that by asking the service team to select the type of meeting, we are confusing them more instead of us doing it according to the information they provided.
Also, do the templates need to change that much? Do we really need to divide things that much? or can we try to unify them even more so the service has a more unified experience?

[2022-11-18 19:28] maririos commented on #4446
I like this for the Engagement experience project because of how many different areas it involves. But for the Scheduler meeting, our stakeholders are the admins of the meetings. The nature of the issue tells us what type of meeting or meetings the issue is for (note that one issue could apply to all meetings).

How will this information be used?

[2022-11-18 19:38] sima-zhu opened #4756 "Move archetype-sdk-tool-pwsh.yml to common folder"
As we want to add as many pester tests as possible for powershell script, we need to setup yml pipeline to run tests in PR.

Better utilize the central yaml file to save new tests onboarding efforts. The issue is to move yml to common, so all repos can benefit the step.

[2022-11-18 19:53] maririos commented on #4694
Looking into this a little more here are my thoughts:
- We need to track:
  - The GitHub issue with the meeting information
  - The Github PRs the team has used for a specific release version
- The `REST API Reviews` field could be renamed to `API review tracking` where we link the GH issue for the meetings and there is a new Field for `API Review PRs`.
- When scheduling an `API Review` meeting, t

[2022-11-18 21:05] mikekistler opened #4757 "[APIView] Add a "what's new" page to APIView"
This is a suggestion to add a "What's new" page, similar to VSCode's monthly change log, to announce new deployments an link to change logs.  We could keep a record of when the user last viewed this page in the user's preferences so they would only need to see it once after a new deployment.

[2022-11-18 21:42] maririos opened #4759 "Move versioning string in Prod environment"
We will like to mak the versioning less importnat for our users, so consider moving it to the bottom left of the screen. Something like this (paint work so it would look better in real application):

![image](https://user-images.githubusercontent.com/9868623/202807891-3edf7c81-e9ab-44bc-bde7-1979493b8f2b.png)

[2022-11-18 21:45] maririos opened #4760 "Add release version to the Release Planner App"
Similar to what we do in the Scheduler app. This is mainly for troubleshooting purposes.
The versioning doesn't have to be the same as the Scheduler app. Suggestion is to have the same format, which is based on our SDK versioning strategy. i.e. `1.0.0-beta.X`.

[2022-11-18 21:47] KrzysztofCwalina commented on #4755
It's close, but: a) could we make it the default. b) could hovering the pointer over the glyphs show a summary of the issue/comments?

[2022-11-18 21:50] maririos commented on #4755
The purpose of APIView is to have a review discussion so having the comments enable by default is what we advocate for. If you want the feature to be oof by default only for you, you could un-select it and we will remember your preference and preserve it.
@chidozieononiwu correct me here if I'm wrong on user preferences.

We could def look into this :)

[2022-11-18 22:27] maririos commented on #4597
Let's try this approach then in the Release Planner app. If we see that more than 10% of the services are hitting this route, we can revisit the overall strategy.

Once we have more data we can follow the same strategy in the Scheduler app.

[2022-11-18 22:35] maririos commented on #4695
FYI @chidozieononiwu  once this change is deployed into APIView, we need to communicate it to Wei Dong so he can start consuming it in the SDK automation flow

[2022-11-18 22:38] scbedd opened #4761 "Enable SingleFile Trimmed Publishing"
We can shrink the size of the `test-proxy` executable by setting two additional configuration items in the `csproj`.

- [ ] `<PublishTrimmed>true</PublishTrimmed>`
- [ ] `<PublishSingleFile>true</PublishSingleFile>`

However, _breaks_ some of the assumptions that we've been safe to make so far. Mostly around _reflection_ and how we offer the metadata for available customizations via `Info/Availabl

[2022-11-19 01:44] zzvswxy opened #4764 "[SDK generation pipeline]template replace shell script"
Use https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/scripts/Submit-PullRequest.ps1  template replace shell script to create GitHub pr.

[2022-11-19 01:46] zzvswxy commented on #4764
how to get the pr number
https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/scripts/Submit-PullRequest.ps1#L114

[2022-11-19 14:52] mikekistler commented on #4718
Here's a script I wrote to check the `autorest.md` files in azure-sdk-for-net for references to commits in azure-rest-api-specs that are not merged to main:
[code]

and here's what it found:
[code]

[2022-11-21 03:28] #4261 closed

[2022-11-21 04:48] live1206 commented on #4759
@maririos
In Release Planner App, we are planning to put the version into "Contact Us" page instead.
Do you think it is acceptable?
We can guide the user to access it when needed.

[2022-11-21 07:29] live1206 commented on #4759
Synced with @josefree, we are going to have the version info on the bottom navigation, then the version info can be included within screenshots.

[2022-11-21 15:42] praveenkuttappan opened #4765 "APIVIew - Python API review is not getting generated from SDK automation"
Review gen pipeline is not getting triggered for new SDK package when SDK automation send a request to generate review.

[2022-11-21 17:21] praveenkuttappan commented on #4211
This was already completed.

[2022-11-21 17:28] #4211 closed

[2022-11-21 17:29] praveenkuttappan commented on #4571
This is no longer required. I have removed Service name with actual package name returned by parser as part of package name approval change.

[2022-11-21 17:29] #4571 closed

[2022-11-21 17:32] praveenkuttappan commented on #4704
This is duplicate of another issue created to track this change. https://github.com/Azure/azure-sdk-tools/issues/4695

[2022-11-21 17:32] #4704 closed

[2022-11-21 17:36] praveenkuttappan commented on #4627
@chidozieononiwu  Can you look into this feature request to combine approval button to single button with check box options to approve APIs and Package name

[2022-11-21 17:37] praveenkuttappan commented on #4753
@ruowan  Is this still pending?

[2022-11-21 17:59] mikekistler commented on #4677
We need to clearly understand who is going to look at the language tabs and when they will look at it.

Are we asking language architects to look at BOTH this intermediate generated SDKs AND the PRs that are made to the actual client libary repos?

[2022-11-21 18:51] maririos commented on #4445
Depends on https://github.com/Azure/azure-sdk-tools/issues/4742

[2022-11-21 19:40] #4706 closed

[2022-11-21 19:41] #4507 closed

[2022-11-21 20:30] maririos opened #4766 "Release planner app should keep the service partner list updated"
Currently our PM team owns and mantains this list: List: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/43/Service-Team-Label-and-Contact-List
Purpose is so our team and the CXP team know who to contact for service team SDKs.

The Release planner app should help here and automate process

[2022-11-21 20:33] maririos commented on #4766
What is the relevant information we need here? who is notified is different than the support person? how do we keep it updated?

[2022-11-21 21:32] m-nash opened #4767 "[FEATURE REQ] Add a check that will block a mismatch of publicness between the spec and language repos"
There are 2 places where we can point at the spec repo.  Either in an autorest.md file or in a new cadl-location.yaml file.  In either case we should have a check that if the current commit is going into the public language repo then it MUST point at a public spec repo in those places.  Only if the commit is going to the private repo is it allowed to point at the private spec repo.

[2022-11-21 22:03] ladonnaq opened #4768 "When a service team updates the API Spec for maintenance/bug fix, ensure that a new version of the SDK is released"
In speaking with Pramod (pramod.valavala@microsoft.com) from the Azure CXP team he mentioned that is common to see issues where the management plane (ARM) API Spec is updated but the service team does not request new SDK versions, which results in bugs/issues opened by customers.

I am opening this GitHub issue so that when we are ready to document the maintenance/bug fix release plan for manageme

[2022-11-21 22:07] ladonnaq opened #4769 "CXP Intro Meeting added to Scheduling App"
I am opening this issue to track the requirements for CXP Intro Meeting to service teams during onboarding.  Since the Azure SDK Informational meeting only is required for specific scenarios, we should have a separate meeting type in the scheduling tool for the CXP Intro Meeting.

[2022-11-21 23:44] gearama opened #4770 "C++ recording issue"
when recording a request for C++ test i registered the following sanizers

 {

    std::string body = "{\"key\" : \"Location\",\"value\" : \"REDACTED\",\"regex\": "
                       "\"https://(?<account>[a-zA-Z]+).*\",\"groupForReplace\" : \"account\"}";

    Azure::Core::IO::MemoryBodyStream payloadStream(
        reinterpret_cast<const uint8_t*>(body.data()), body.size());
    Azure::Core

[2022-11-21 23:48] scbedd commented on #4770
@gearama how do I actually go about reproing this? I need a bit more detail then what you gave me.

[2022-11-21 23:57] gearama commented on #4770
repro https://github.com/gearama/azure-sdk-for-cpp/tree/main , checkout testProxy branch , build
run eng\common\TestResources\New-TestResources.cmd -ServiceDirectory keyvault -location westus3
Either set the ENVs or create a .runsettings with the values spwed out
Start TestProxy on https 5001
record the test
![image](https://user-images.githubusercontent.com/50641385/203181772-d139e070-3524-4bfb-8

[2022-11-22 01:01] chidozieononiwu opened #4771 "[APIView] Update UserPreference"
Add Show / Hide comments to user preference.

[2022-11-22 01:01] chidozieononiwu commented on #4755
Show / Hide comments is not currently part of UserPreference. I will work to have it added https://github.com/Azure/azure-sdk-tools/issues/new

[2022-11-22 02:52] live1206 commented on #4735
This has been fixed in PPE.

[2022-11-22 02:52] #4735 closed

[2022-11-22 02:54] live1206 commented on #4732
This has been covered in #4759
![image](https://user-images.githubusercontent.com/5196139/203016995-e78306ff-f364-45b9-859a-11bbf28db7c8.png)

[2022-11-22 02:54] #4732 closed

[2022-11-22 02:57] live1206 commented on #4760
![image](https://user-images.githubusercontent.com/5196139/203016995-e78306ff-f364-45b9-859a-11bbf28db7c8.png)

[2022-11-22 02:57] #4760 closed

[2022-11-22 03:20] ruowan commented on #4708
@tg-msft done

[2022-11-22 03:20] ruowan commented on #4716
Fixed and close this issue

[2022-11-22 03:20] #4716 closed

[2022-11-22 03:39] maririos commented on #4755
We could def look into this :)

Issue https://github.com/Azure/azure-sdk-tools/issues/4584

[2022-11-22 03:39] maririos commented on #4755
Request are going to be covered by individual issues so closing this one. @KrzysztofCwalina feel free to re-open if you think there is something else we should cover

[2022-11-22 03:39] #4755 closed

[2022-11-22 03:45] maririos commented on #4708
@tg-msft FYI that you won't see this fix until next APIView deployment which is scheduled for 11/28

[2022-11-22 04:23] maririos commented on #4742
Fixed 2 errors. There is still a runtime error. Trying to understand where it is coming from

[2022-11-22 04:40] live1206 commented on #4597
@maririos @ladonnaq I found an issue with this approach, if we let the user to input the service id and pull this service from service tree manually. We do not have a proper way to sync and update this manually input service, because the kusto query we have do not contain this service. I found another filter condition(the service should public), with this in place, the service number reduces to 4,

[2022-11-22 06:31] stliu opened #4773 "[APIView] Consider Spring AutoConfiguration class as Non-public API"
Spring Cloud Azure has Spring Boot auto configuration support for various Azure SDK features.
We do that by providing `@Configuration` class, it acts like a `bean factory` to the Spring IoC container, which means the auto configuration classes are only accessed by Spring IoC framework, not users directly.

But we can't put these into `implementation` package since customer may need to access the *

[2022-11-22 07:31] ruowan commented on #4753
The pipeline is not pending. But the seems the unit tests under swaggerApiParserTest project actually doesn't run.

[2022-11-22 13:49] ladonnaq opened #4774 "Enable localization for all of our Power Apps"
We should look at enabling localization for our Power Apps.  We have quite a few service partners who their 2nd language is English.

https://learn.microsoft.com/en-us/power-apps/maker/canvas-apps/connections/connection-microsoft-translator

[2022-11-22 14:03] ladonnaq opened #4775 "Ability for anyone to view all release plans for the service selected when accessing the release planner app"
The current Release Planner design only allows a user to view the release plans that they created or were shared with them.  If an engineering or PM lead at the service level wants to view all of the active product release plans for the service, then the release plan owner has to share the plan with them.  This is not only extra work but can cause confusion.  There is nothing in the current releas

[2022-11-22 14:12] ladonnaq opened #4776 "Enable accessibility features for all of our Power Apps"
We ensure that our Power Apps are accessible.  We should use the accessibility checker first to determine the current state of the applications.  Then we can create GitHub issues and prioritize.  We should add a category for accessibility that can be used for all of the GitHub issues that are related to accessibility.

Resource List:

- https://learn.microsoft.com/en-us/power-apps/maker/canvas-app

[2022-11-22 14:34] maririos commented on #4753
@chidozieononiwu could you take a look at this as part of your work on testing?

[2022-11-22 14:37] maririos commented on #4597
@live1206 does this mean that we first sync the service Tree data to a Kusto instance, and then from there we sync to Dataverse?

[2022-11-22 17:37] jimchou-dev opened #4777 "[Swift APIView] not picking up public api"
When specifying the source, it does not pick up all the files in the directory, it does not pick up `public class ChatAdapter` or anything in ChatAdapter.swift
`--source=/Users/jimchou/Downloads/communication-ui-library-ios/AzureCommunicationUI/sdk/AzureCommunicationUIChat`
But it works when specifying a more specific path
`--source=/Users/jimchou/Downloads/communication-ui-library-ios/AzureCommun

[2022-11-22 17:58] maririos commented on #4742
All issues have been fixed

[2022-11-22 17:58] #4742 closed

[2022-11-22 19:53] chidozieononiwu commented on #4753
We don't build or test the swager parser as part of the apiview pipeline. Do we want to add that?

[2022-11-22 20:42] tg-msft opened #4778 "[ApiView] Swagger not showing enum definitions"
See https://apiview.dev/Assemblies/Review/7c11c4c760344def8e4ce79217d2e805#-azureopenai-2022-12-01.swagger-Definitions-EntityErrorCode that renders like:
![image](https://user-images.githubusercontent.com/1179329/203417103-1bd61498-edbd-46f8-a077-d5e9f1e54f22.png)
even though the swagger is defined as:
[code]

[2022-11-22 20:45] tg-msft opened #4779 "[ApiView] Swagger not showing comment indicators in collapsed subsections`"
I have comments on https://apiview.dev/Assemblies/Review/7c11c4c760344def8e4ce79217d2e805#-azureopenai-2022-12-01.swagger-Paths-/deployments-0-operationId-Deployments_List but when collapsed it looks like:
![image](https://user-images.githubusercontent.com/1179329/203417516-9f3a0256-56de-4d4e-823f-cb5d88023745.png)

Ideally that would show the comment indicator like in the margin like:
![image](ht

[2022-11-22 20:47] tg-msft opened #4780 "[ApiView] Swagger deep links don't expand the relevant nodes"
If I click any of the items in https://apiview.dev/Assemblies/Conversation/7c11c4c760344def8e4ce79217d2e805 to open them in the API listing, it only shows a completely collapsed API.  It should instead expand the tree view to show the intended conversation.

[2022-11-22 20:51] tg-msft opened #4781 "[ApiView] Swagger definition missing a property"
Take a look at https://apiview.dev/Assemblies/Review/7c11c4c760344def8e4ce79217d2e805/fb63c85ea69e493b8d8e11b2b0a965c0#-azureopenai-2022-12-01.swagger-Definitions-FileStatistics which renders as:
![image](https://user-images.githubusercontent.com/1179329/203418674-57883a45-dbc7-4079-bc86-1d299dbe484a.png)
Even though the definition is:
[code]

[2022-11-22 20:59] JonathanGiles commented on #4773
I would propose using the new 'hidden API' feature that was added in #4618. We would then mark all of the API within the class as hidden, but retain the class as part of the public API scope that should be reviewed (to ensure correct naming and package placement). Let me know your thoughts based on the images you see in #4618.

[2022-11-22 21:14] maririos commented on #4753
Ideally if there are test for each parser, we should make sure they run on CI so when new changes are added they are not breaking.
What do you think will be best?

[2022-11-22 22:06] MrJustinB opened #4782 "highlight for the user that they are running outside of Prod"
If a user is using a non-prod instance, we make it obvious they are using a dev, test, ppe, or some other non-prod environment.  We should not rely on version # alone

[2022-11-23 00:07] maririos commented on #4554
Fixed:

![Image](https://user-images.githubusercontent.com/9868623/203445604-d73e3d07-cdc3-43a7-bad4-500803c79611.png)

[2022-11-23 00:07] #4554 closed

[2022-11-23 00:11] maririos commented on #4696
Thanks to https://github.com/Azure/azure-sdk-tools/issues/4554 we can do this change directly from the Admin app. We will wait until the fix is in PROD and then we will do this issue.
Moving to next release cycle

[2022-11-23 00:23] maririos commented on #3631
Closing this until it is a specific ask

[2022-11-23 00:23] #3631 closed

[2022-11-23 00:30] tjprescott commented on #4777
Generally speaking, you should target the `/Sources` folder or it will parse all of your Swift test files as well.

[2022-11-23 00:36] live1206 commented on #4597
We query from service tree Kusto cluster and sync data directly to dataverse.

[2022-11-23 00:36] maririos commented on #4350
This will be addressed in https://github.com/Azure/azure-sdk-tools/issues/3869

[2022-11-23 00:36] #4350 closed

[2022-11-23 00:51] maririos commented on #4446
Field updated:

![Image](https://user-images.githubusercontent.com/9868623/203449664-11bac66c-8022-44a4-bc6b-488281955769.png)

Also views and graphs like:
https://github.com/orgs/Azure/projects/231/insights/9

[2022-11-23 00:51] #4446 closed

[2022-11-23 00:54] tjprescott commented on #3339
https://dev.srdanstanic.com/swiftsyntax-tips/

[2022-11-23 04:14] stliu commented on #4773
this sounds nice, just confirm, once we have the public API (public method in the class) marked as hidden, change in the public API between two versions wont' block or raise any alert in apiview anymore?

[2022-11-23 07:17] josefree commented on #4060
We can do a lot here, for example, notification, dashboard.  However, currently, this issue is a requirement, yet being translated into features.  This is not ready to hand over to engineer.

[2022-11-23 07:42] JonathanGiles commented on #4773
No, I believe apiview will still treat it as API - it will just make reviews quicker

[2022-11-23 09:04] josefree commented on #3951
I wonder if this is a requirement for the scheduling tool? @maririos I added 'Scheduling tool' label per my understanding. If it is not only for the scheduling tool, feel free to remove it.

[2022-11-23 09:05] josefree commented on #4095
The issue is confusing. Cadl to DPG is only for Data Plane SDK release.  I fixed in the subject.

[2022-11-23 09:10] josefree commented on #4048
Add it to API tooling project for triage

[2022-11-23 09:16] josefree commented on #3785
I wonder this requirement is fulfilled.  Currently, the information meeting is promoted after the Onboard survey.

[2022-11-23 09:24] ruowan opened #4784 "[ApiView] Swagger APIView task support entirely new RP"
Feedback from Shams.

For an entirely new RP, the baseline branch doesn't have any content of this RP.  The generation on base branch should not crash.

    OpenAPI Hub support - Getting this error in the public repo PR - https://github.com/Azure/azure-rest-api-specs/pull/21518. Required file is present at a given location.

2022-11-23T05:16:16.0943307Z Changing directory and executing the functio

[2022-11-23 10:01] josefree commented on #4269
Agree. Let me bring this to engineer for triage

[2022-11-23 10:08] josefree commented on #4269
team channel: https://teams.microsoft.com/l/channel/19%3a59dbfadafb5e41c4890e2cd3d74cc7ba%40thread.skype/Engineering%2520System%2520%25F0%259F%259B%25A0%25EF%25B8%258F?groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47
GitHub Issue: https://github.com/Azure/azure-sdk-tools/issues/new

[2022-11-23 10:09] josefree commented on #4269
For GitHub Issue, I wonder if we would create an Github issue template, so that the feedback can directly flow into Engagement Service project with some context infor.  Some questions in the template maybe

-	Category: Bug report, Feature requirement
-	Which app: General, Release planner, API spec readiness, SDK release
-	Description
-	Screenshot

[2022-11-23 10:13] josefree commented on #4270
Let me bring this to triage

[2022-11-23 10:31] josefree commented on #4278
ARM uses the PR label "ARMSignedOff"
API stewardship agree to use the PR label "APIStewardshipBoard-SignedOff"

[2022-11-23 10:33] josefree commented on #4295
let me bring this to triage

[2022-11-23 10:37] josefree commented on #4312
We can use this track toolset migration and OpenAPI Hub retirement

[2022-11-23 10:45] josefree commented on #4381
let's work on this after collecting feedback from service parnter.

[2022-11-23 10:49] josefree commented on #4437
bring this to triage

[2022-11-23 10:59] josefree commented on #4469
I realize this is specific to Scheduling App

[2022-11-23 11:10] josefree commented on #4483
Not sure how long the "download link for the package from the DevOps artifacts" can be available. Before they are available, we can present message "generating...[details](lnk-to-ci-job)"

[2022-11-23 11:16] josefree commented on #4533
bring to triage

[2022-11-23 11:19] josefree commented on #4534
please close the issue if this is deployed

[2022-11-23 11:19] josefree commented on #4530
please close the issue if it is deployed

[2022-11-23 11:22] josefree commented on #4536
bring to triage

[2022-11-23 11:26] josefree commented on #4536
use this to track metrics requirements

[2022-11-23 11:29] josefree commented on #4538
we may not follow the float layer design, but for release plan view we can follow

[2022-11-23 11:37] josefree commented on #4592
this is mainly to figure out what labels API Stewardship Board is using in the review.  “APIStewardshipBoard-SignedOff” is the PR label being used. I will close the PR based on this response

[2022-11-23 11:38] josefree commented on #4593
there should be a central notification framework for Release Planner. bring this requirement to engineer triage

[2022-11-23 11:44] josefree commented on #4617
Thanks. bring this to engineering triage.

[2022-11-23 11:46] josefree commented on #4626
bring to engineering triage

[2022-11-23 11:47] josefree commented on #4663
agree. should be one of the steps when a brand-new service onboarding

[2022-11-23 11:50] josefree commented on #4684
Latest version of public SDK package management and view.  The requirement is taken.

[2022-11-23 11:54] josefree commented on #4774
bring to engineering triage

[2022-11-23 11:55] josefree commented on #4776
bring this to engineering triage

[2022-11-23 11:56] josefree commented on #4782
agree. bring this to engineering triage

[2022-11-23 16:53] maririos commented on #3951
Thank you @josefree  I agree tha thte scheduling tool can help with this

[2022-11-23 16:53] maririos commented on #3951
@ronniegeraghty form your experience with the arch boards, do you know how many reviews happen from people manually uploading their APIViews vs automatic APIViews?

[2022-11-23 16:56] maririos commented on #4095
You are right. My bad. We are already tracking Cadl to DPG here => https://github.com/Azure/azure-sdk-tools/issues/4399 so closing this issue

[2022-11-23 16:56] #4095 closed

[2022-11-23 18:29] MrJustinB commented on #4278
Is this signoff reflected in the release planner?  That is, is the release planner monitoring the PR to reflect the signofff?

[2022-11-23 18:35] ccbarragan commented on #4782
I usually see deployment environments being labeled by URL (for example `https://<environment>.loop.microsoft.com`, where the `<environment>` segment signals the test / pre-prod environment). would be cool if we could follow what folks might already have an established mental model for if possible.

@MrJustinB @josefree Some questions:

1. In what cases would a service partner need to use or acces

[2022-11-23 19:05] maririos commented on #4269
This issue is realted to https://github.com/Azure/azure-sdk-tools/issues/4642

- For teams channel the conclusion was to use the Onboarding channel. The Scheduler Tool has already been updated to reflect that. I am unsure about the status of the Release Planner App.
- Love the idea about the Github issue template :)

[2022-11-23 19:20] maririos commented on #3951
Thank you @ronniegeraghty . Great point.
The easiest way to see this will be to look directly in APIView in the `Revisions` tab. If the revision says `Created for PR` or `Auto Review` then it is automatic.

Ted has been one of the architects asking for this. Maybe a topic that could be brought up for the discussions with the arch board?

[2022-11-23 19:24] maririos commented on #4782
They should only use Prod environment.

This will help more the Azure SDK team when working on new features and asking for feedback which will happen in Pre-oproduction (PPE)

[2022-11-23 19:26] maririos commented on #4782
My assumption here is that knowing the app version number might come in handy for a user when it comes to troubleshooting, but otherwise prominently highlighting it in the app might not be necessary. I'd expect to be able to access it from a Settings page / panel or maybe displayed in an error notification.

Correct. My concern is that if we hide it, and a user run into a problem that was not expe

[2022-11-23 19:28] #4708 closed

[2022-11-23 19:47] maririos commented on #4469
This applies to both apps as we have the same data. We have decided on trying a different approach as stated on issue https://github.com/Azure/azure-sdk-tools/issues/4597.
We can close this and if we still need it re-open and revisit

[2022-11-23 19:47] #4469 closed

[2022-11-23 19:51] maririos commented on #4533
@ladonnaq @live1206 because the Release Planner app is currently only targeting Data plane, I imagine the tab `Management Plane` from the ADO item shouldn't be updated at all. right? Or how is it that we have that information?

[2022-11-23 20:09] maririos opened #4785 "Add `PT` to the main view of `Meeting Schedules`"

[2022-11-23 20:10] maririos commented on #4785
Added

![Image](https://user-images.githubusercontent.com/9868623/203637586-5468d159-770c-4835-9256-69a106cbd291.png)

[2022-11-23 20:10] #4785 closed

[2022-11-23 20:10] maririos opened #4786 "Clean old data from all elements when creating a new meeting time slot"

[2022-11-23 20:11] maririos commented on #4786
Done

[2022-11-23 20:11] #4786 closed

[2022-11-23 20:21] maririos opened #4787 "Services are being populated after latest update in Dataverse"
For example: `Cognitive Services`. See how in the Scheduling tool it is not found:
<img width="606" alt="image" src="https://user-images.githubusercontent.com/9868623/203639096-e76dc479-8190-4fcd-964b-e612da11e95c.png">

But it is in the Release Planner app:
<img width="398" alt="image" src="https://user-images.githubusercontent.com/9868623/203639003-2a1805de-e75f-49db-a386-1b1dfe0f9472.png">

Hap

[2022-11-23 20:22] maririos opened #4788 "Services dropdown reached limit"
Happens in Informational and SDK meeting.
With the need data, the scheduler tool is not able to display all services.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/9868623/203639493-affb9ccc-56f4-41de-b814-1e84a75a9902.png">

[2022-11-23 20:36] #4788 closed

[2022-11-23 21:46] maririos commented on #4787
There is a limit of 500-2000 elements in a collection. We manage the service profiles in a collection in each of our apps instead of getting the data directly from the table in DataVerse (which the Release Planner app does).
The size limit is a limitation of PowerApps.

[2022-11-23 22:32] ccbarragan commented on #4782
@maririos Valid concern! Can users run different versions of the app? If I have an app instance, and there's a new version deployed, will my instance be automatically be upgraded to the latest version? Trying to understand how we might come into a situation where users would have versions of the app that don't map to the latest.

[2022-11-23 22:40] mikekistler opened #4790 "REST API linter should not flag `format: unixtime` for `type: integer`"
The LintDiff PR pipeline step flags a property with `type: integer` and `format: unixtime` with the message:

But `unixtime` is defined as an allowed format value for autorest:

https://github.com/Azure/autorest/blob/main/packages/libs/openapi/src/v3/formats.ts#L74

The linter rule should be updated to allow `unixtime` as a value format for integer properties / parameters.

[2022-11-23 23:16] chidozieononiwu commented on #4647
Looking into this there is definitely an issue with the swagger parser which results in parsing

        "description": "A counterfactual evaluation.",
        "required": [
          "endTime",
          "name",
          "startTime"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the evaluation.",
            "maxLength": 2

[2022-11-23 23:20] weshaggard commented on #4483
For our release builds we retain them for 2 yrs.

[2022-11-23 23:47] JonathanGiles commented on #3684
@praveenkuttappan Sending this back your way for consideration - thanks.

[2022-11-23 23:48] maririos commented on #4787
Fixed in Informational:
<img width="470" alt="image" src="https://user-images.githubusercontent.com/9868623/203664904-c6f5759f-f58f-4e8f-a142-919e5d1dee23.png">

[2022-11-24 01:16] maririos commented on #4787
Fixed in SDK meeting

[2022-11-24 01:16] maririos commented on #4787
We have reverted the list of services to be back to 300 so users are not blocked until we finish updating the API meeting too

[2022-11-24 02:09] live1206 commented on #4533
Here, the field `REST API state` for tab `Management-plane` tab is based on the onboarding questionnaire.
Despite we have not implemented manage-plane related Apps yet, we can still put the state into ADO work item for later manual steps.
@ladonnaq Please correct me if I misunderstood this.

[2022-11-24 02:28] live1206 commented on #4625
@ladonnaq  The missing service can be selected in Prod now:
![image](https://user-images.githubusercontent.com/5196139/203680665-7046251f-7d1e-42d8-8648-28cb56b584d2.png)

[2022-11-24 02:37] live1206 opened #4791 "Adjust text for PR label in Scheduler App"
![Untitled picture](https://user-images.githubusercontent.com/9943211/203268742-340c3189-a020-4c40-9220-fbad0fbee8bf.png)
"API PR" and "Swagger PR" should be consistent and adjusted to "API Spec PR".

[2022-11-24 02:38] #4505 closed

[2022-11-24 05:53] live1206 opened #4792 "Refine integration between other Apps and Scheduler App"
Right now, while an event is created by other Apps, such as SDK Release App, it needs to be filled in with a few columns: `Workflow`, `Service Profile`, `Product` to pass along the data into Scheduler App.
`Service Profile` and `Product` seems redundant with Workflow in place. `Workflow ID` is deprecated, should be removed.
<img width="488" alt="image" src="https://user-images.githubusercontent.co

[2022-11-24 07:45] ruowan commented on #4781
Sure. I will take a look.

[2022-11-24 10:16] stliu commented on #4773
okay, let's give it a try and see how things go here.
@saragluna could you mark those configuration classes as hidden API?

[2022-11-24 10:27] saragluna commented on #4773
Will do. @JonathanGiles is there an example I could follow to set up?

[2022-11-24 18:25] maririos commented on #4791
Fixed in Dev environment:

<img width="494" alt="image" src="https://user-images.githubusercontent.com/9868623/203847615-2453558e-5053-4ac8-b6e4-74cb8d5f2815.png">

[2022-11-24 18:25] #4791 closed

[2022-11-27 04:38] maririos commented on #4787
Fixed in API meeting too

[2022-11-27 04:38] #4787 closed

[2022-11-27 20:40] JonathanGiles commented on #4773
This is the first of its kind in two ways, and so we need to tread carefully.

For starters, we have never used the 'hidden' API feature yet, so that needs to be added in to the Java parser (but this is easily done). More importantly, we need to find a way of introducing 'custom' functionality like this, and ideally do it without coding it directly into the parser itself.

Ideally, we would do som

[2022-11-28 02:58] ruowan commented on #4781
This has already been fix in swaggerApiParser 1.0.3 version. Maybe after the next apiView release, you could get the correct result.

[2022-11-28 03:00] ruowan commented on #4462
Closed as it fixed.

[2022-11-28 03:00] #4462 closed

[2022-11-28 03:01] ruowan commented on #4463
closed as it was fixed.

[2022-11-28 03:01] #4463 closed

[2022-11-28 03:43] ruowan commented on #4647
For the first one, the apim_key is different. The new property description was added. And to reduce display content. In parser, if some json object has less properties, the parser will use one line.

[2022-11-28 06:08] ruowan commented on #4647
I created a PR to fix the third issue https://github.com/Azure/azure-sdk-tools/pull/4794

[2022-11-28 06:16] ruowan commented on #4778
This issue has already been fixed in swaggerApiParser 1.0.3 version. @maririos maybe next ApiView release could use the lastest swaggerApiParser

[2022-11-28 06:28] saragluna opened #4795 "Support JPMS requires static for Java api review"
Related to https://github.com/javaparser/javaparser/issues/3769. When using `requires static some-org.some-module` in a `module-info.java`, we expect this `requires static` directive could be displayed in the API review.

One example could be https://apiview.dev/Assemblies/Review/aa2cf725c3834cf38d4c2be30a1987b4#module-info.

[code]

But in the source code, the MySQL and PSQL modules are `requires

[2022-11-28 06:43] josefree commented on #4136
the proposed solution is to add different parameters to link in different entries

[2022-11-28 06:51] josefree commented on #4270
@ladonnaq would you propose a new text here. Then @honghr could pick up for revise.

[2022-11-28 06:55] josefree commented on #4437
this is not specific for Release Planner. This is a requirement for Linter validation.

[2022-11-28 06:56] josefree commented on #4438
confirm being solved

[2022-11-28 06:56] #4438 closed

[2022-11-28 06:58] #4530 closed

[2022-11-28 06:59] josefree commented on #4533
will be deployed with November release

[2022-11-28 07:00] chunyu3 opened #4796 "[SDK Generation pipeline] Error Diagnostic enhancement"
Enhance the sdk generation pipeline to easy identify the error:

- categorize the failure type: `pipeline framework failure` or `codegen failure`
- emitter the failure type to unified pipeline via event
-  unified pipeline show the failure type in github check

[2022-11-28 07:00] josefree commented on #4534
will be deployed in November release

[2022-11-28 07:04] josefree commented on #4538
need to go through details with Crystal

[2022-11-28 07:05] #4539 closed

[2022-11-28 07:05] josefree commented on #4539
deployed

[2022-11-28 07:11] josefree commented on #4600
reassign back to Ladonna for the rest five work items handling

[2022-11-28 07:13] josefree commented on #4617
duplicate with this https://github.com/Azure/azure-sdk-tools/issues/4269

[2022-11-28 07:13] #4617 closed

[2022-11-28 07:14] #4625 closed

[2022-11-28 07:17] josefree commented on #4626
Helptext can be done.  But add a checkbox to allow manual input is not feasible, for manual input cannot trigger the linkage.

[2022-11-28 08:59] live1206 opened #4798 "Set up code flow for Power Apps"
There are 3 environments for us right now: Dev, Pre and Prod.

Dev is used for daily development, Pre is used for integration test before Prod, Prod is used for Production usage.

So, Dev corresponds to [dev branch](https://dev.azure.com/azure-sdk/internal/_git/engagement-experience?path=/src/power-apps/src/AzureSDKReleasePlanner&version=GBdev). Pre and Prod corresponds to the same branch [main](h

[2022-11-28 09:03] live1206 opened #4799 "Set up auto tests for Release Planner App"

[2022-11-28 09:30] live1206 commented on #4295
This is a corner case. We postponed the design until we figure out more details of requirements. Re-assign to PM

[2022-11-28 09:35] live1206 opened #4800 "UX enhancement"
https://www.figma.com/file/3o7CN47eJShB8DdHFZ00cw/Azure-SDK-Release-Planner

[2022-11-28 09:37] live1206 opened #4801 "Management-plane API Readiness App"

[2022-11-28 09:41] live1206 opened #4802 "Call to Open API Hub timeout in Power Apps"

[2022-11-28 17:49] mikekistler commented on #4739
Can we make the id for the operation a combination of the path and method?  That should solve the problem.

[2022-11-28 18:34] #3869 closed

[2022-11-28 18:34] maririos commented on #4238
Found the issue. Fixed provided

[2022-11-28 18:34] #4238 closed

[2022-11-28 18:46] ladonnaq commented on #4565
There is an aka link for intake - https://aka.ms/sdk-apex

[2022-11-28 18:51] mikeharder opened #4803 "Create agent pool for Ubuntu20 ARM64"

[2022-11-28 18:51] mikeharder opened #4804 "[Perf] Update package versions for Nov 22 releases"

[2022-11-28 19:06] maririos commented on #4671
Break out the work for this feature into a roadmap

[2022-11-28 19:10] maririos commented on #4390
Issues in current calendar component: 

- This approach doesn't have an easy option to block a specific date or slot if reviewer(s) is not available. 
- It doesn't allow to have more than one meeting slot on same day for same type of meeting. 
- It's not easy to create a custom meeting slot if a meeting is required to be setup quickly. 
- It's not easy to reschedule a meeting to a different time o

[2022-11-28 19:21] maririos commented on #4774
This is blocked until the UI for the scheduler tool is stable.
We need to see a way to test the translations make sense in a specific language

[2022-11-28 19:24] maririos commented on #3951
FYI @praveenkuttappan

[2022-11-28 19:28] maririos commented on #4792
@JonathanCrd  could you please look into this and tell us where we are and what we need to do to get to a better place?

[2022-11-28 19:28] ladonnaq opened #4805 "UKMet Supercomputer Service not found in Release Planner App drop-down menu"
The product UKMet Supercomputer is blocked from using the Release Planner app to onboard the new product.  The service does not show up in the drop-down menu.  This is a new service and new ARM namespace. The service does have an ARM namespace - microsoft.baremetal.

Product - https://microsoftservicetree.com/products/1a8695e3-b068-4ffa-8f13-7a78e672db22

Service - https://microsoftservicetree.com

[2022-11-28 19:56] mikekistler opened #4806 "Avocado issues messages for missing readme in Cadl directories"
When Avocado runs on a PR that includes the Cadl API definition it issues "missing readme" messages for the Cadl directories.

An example is [PR 9634](https://github.com/Azure/azure-rest-api-specs-pr/pull/9634/checks?check_run_id=9748693363).

[2022-11-28 21:03] ladonnaq commented on #4805
@live1206 Another new service cannot find their service in the drop-down menu.  They are blocked from onboarding with our team for APEX.

[2022-11-28 21:03] ladonnaq commented on #4045
Link to Figma -  https://www.figma.com/file/F1nFR9MOVml76e7B2eNJiR/SDK-admin-dashboard?t=JtFmBtgdkAccEH39-1

[2022-11-28 21:17] kurtzeborn commented on #4795
Looks like a parser issue, so probably goes to someone on the Java team for follow up

[2022-11-28 21:32] kurtzeborn commented on #4712
Yes!  On the same day we enable this, either you or I should send a broad mail (and teams post) to notify the team of this change.

[2022-11-28 21:38] kurtzeborn commented on #4751
Yes, this is a less than desirable behavior in doc warden.  Longer term though we're rather invest in moving away from doc warden to another, standard md linting tool.  So we're probably not going to fix this.
@heaths, if this is causing you immediate pain, feel free to open a PR to doc warden and @scbedd or @weshaggard can review.

[2022-11-28 21:38] #4751 closed

[2022-11-28 21:44] kurtzeborn commented on #2935
Assigning to sima's backlog.  Indeed, now that the recordings are moving out of the repos, this now becomes a lot more interesting and valuable.  Before, it would've just created noise whenever recordings were included in PRs.

[2022-11-28 21:46] maririos commented on #4437
What we need to track as part of the Engagement Experience is that SG or DL that will contain the approvers. We want to have a centralized place with that information and be able to re-use it in different places

[2022-11-28 21:50] maririos commented on #4782
If you have the app open while there is a deployment, the only way to get latest is to refresh the page, but otherwise all users should have same app version.
The case is that when they report a bug, if it is not critical and we don't need to provide a fix right away, we will include the version in the GH issue and that will help to provide a fix later on.

[2022-11-28 21:50] kurtzeborn commented on #2934
@hallipr, this is probably a follow up on the work you're doing to organize our secrets story across our engineering system.  You've done similar work in PipelineWitness with the KeyVault based IConfigurationProvider.

[2022-11-28 21:52] kurtzeborn commented on #2925
If we do this, it will likely be part of the work @hallipr will be doing to refactor our pipeline story.  So assigning to him for tracking.

[2022-11-28 21:52] #2911 closed

[2022-11-28 21:55] kurtzeborn commented on #2867
@sima-zhu this should go to you since @chidozieononiwu has changed responsibilities.

[2022-11-28 21:59] kurtzeborn commented on #2839
So, in summary, the change needed here is to check the error code from `git add -A` rather than just continuing.  When `git add -A` fails, the script should exit with failure.

[2022-11-28 22:02] heaths commented on #4751
Would those standard linting tools happen to be ones that power the extensions for VSCode? That would be ideal, as 1) I know the Microsoft Docs team uses those in their pipeline, and 2) they encourage - and therefore I have - the extensions to be used, so now we have one set of rules/exemptions/etc.

[2022-11-28 22:06] #2828 closed

[2022-11-28 22:27] maririos commented on #4805
This might already be fixed but we need to wait for the deployment of the Scheduler App in order to bring all those services. We are working on a deployment today. I will update this issue here

[2022-11-28 22:34] weshaggard commented on #4751
Yet to be determined but we have issue https://github.com/Azure/azure-sdk-tools/issues/1896 that is tracking to a more mainstream MD linter tool.

[2022-11-28 22:45] maririos opened #4807 "Error when submit intake questionnarie"
I was trying the tool today and run into with every convination I tried:

<img width="942" alt="image" src="https://user-images.githubusercontent.com/9868623/204396231-85db9e4b-d9b2-4382-b1d5-ff6afc64753c.png">

[2022-11-28 22:46] maririos commented on #4136
We should start catalloging the specific places to make sure they are updated correctly

[2022-11-28 23:26] maririos commented on #4244
It has been removed as part of version `1.0.0-beta.11`

[2022-11-29 00:18] heaths commented on #1896
Markdown Linter that @chidozieononiwu referenced is part of the Microsoft Docs Extension Pack for VS code, which Microsoft Docs (now Learn) recommends you install. Many of those components are also used in the pipeline that Docs uses, so could we talk to them and maybe align on that such that all our docs across Microsoft properties (e.g. .NET, various SDKs, general Docs, samples, etc.) are using

[2022-11-29 00:31] maririos opened #4808 "Multiple products with the same name are shown in Informational meeting"
i.e.:
<img width="426" alt="image" src="https://user-images.githubusercontent.com/9868623/204409110-5b8a9f7f-3d83-4ca6-aec7-48feaa428c41.png">

Why is this happening? is this expected? how to make it different?

[2022-11-29 00:35] #4803 closed

[2022-11-29 01:32] mikeharder commented on #4804
Fixed in #4810

[2022-11-29 01:32] #4804 closed

[2022-11-29 02:25] jianyexi opened #4811 "Cadl validation update"
Enhance the Cadl Shift-Left pipeline (in ADO)

~~1. For dataplane, skip the MissingExamplesDirectory check.~~

1. Enrich the documentation to describe more technical details.

2. Validate the new folder structure as defined [here](https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/cadl-structure-guidelines.md)

3. Use the variables in the [comment below](https://github.com/Azure

[2022-11-29 05:40] raych1 commented on #4806
This issue was fixed in avocado. Only files underneath resource-manager and data-plane folders will be validated for this readme rule.
//CC: @tianxchen-ms

[2022-11-29 05:42] #4399 closed

[2022-11-29 05:46] josefree commented on #4684
per check with engineer, the SDK version (preview or GA ) is decided in the ArchBoard review.

[2022-11-29 05:55] josefree commented on #4684
need further discussion how to manage SDK versions in SDK release pipeline

[2022-11-29 05:58] honghr commented on #4269
Hi @maririos , The screenshot you posted in Scheduler app is not contact us page. It's bug reporting page. I looked at the contact us page in Schedular app.
![image](https://user-images.githubusercontent.com/88764852/204450352-a71bda1b-8a13-4e08-83a0-13c481964b95.png)
So, Did you want to us follow the page to update contact us or add a new page for bug reporting?

[2022-11-29 06:03] dw511214992 opened #4815 "Provide a new rest api in ApiView Service to get apporval status of a review"

[2022-11-29 06:03] dw511214992 commented on #4692
depends on https://github.com/Azure/azure-sdk-tools/issues/4815

[2022-11-29 06:05] #4683 closed

[2022-11-29 06:10] leni-msft opened #4816 "Improve ServiceApiReadinessTest pipeline to support traffic validation based on test-proxy recording"
https://microsoftapc-my.sharepoint.com/:u:/g/personal/leni_microsoft_com/ESCWakp7UE9EtqrDOEnn5fcBT_tzrO1uOv2WtKkJgHESVA?e=nRXpgi

[2022-11-29 06:12] leni-msft opened #4817 "Integrate with test-proxy recording externalization solution"

[2022-11-29 06:13] leni-msft opened #4818 "Improve auto-labeling logic in PR Summary job"

[2022-11-29 06:14] leni-msft opened #4819 "Use liveness.yaml as scope in auto-generated data plane scenarios"
In generated data-plane API scenario:
 - [ ] Use liveness.yaml as scope
 - [ ] Copy $.scenarios[0].authentication

[2022-11-29 06:15] leni-msft opened #4820 "Document local dev experience"

[2022-11-29 06:52] tianxchen-ms commented on #4806
It's a known issue. Only MISSING_README rule has this issue in pipeline. I'll fix it soon

[2022-11-29 07:08] #4305 closed

[2022-11-29 07:18] ruowan opened #4822 "[MQ] Leverage Azure SDK pipeline to delete legacy branch for docs repo and pipeline branch repo."

[2022-11-29 07:20] honghr commented on #4269
Updated to 'Report a bug' page in Release planner app, API readiness app and SDK release app.

[2022-11-29 08:10] akning-ms commented on #4818
consider trigger manually via label, depends on unified pipeline support validation task base trigger

[2022-11-29 08:46] tianxchen-ms opened #4823 "User can provide the custom Restler config to improve the dependency calculation"
Using the Restler config will mean that less work is needed to modify the ApiScenario file directly

[2022-11-29 09:01] tianxchen-ms opened #4824 "Add operation coverage and tag when pipeline success"

[2022-11-29 10:16] raych1 commented on #3877
I close this issue as there's no response.  Feel free to re-open it.

[2022-11-29 10:16] #3877 closed

[2022-11-29 10:17] raych1 commented on #4519
This task is planned in sprint of Dec.

[2022-11-29 10:18] raych1 commented on #4420
This is planned in sprint of Dec.

[2022-11-29 17:59] heaths opened #4825 "Show route for Cadl"
Whether a service uses Azure-Core or not for Cadl, it would be great to see what the route/endpoint will be. Even when some of us get used to doing this calculation in our heads, our customers and new reviewers onboarding will take time (or, if infrequent enough, may never truly learn it well enough).

I could think of several ways this could be accomplished, such as a system message (though, perh

[2022-11-29 18:08] maririos commented on #4805
@live1206 deployment is done. We should be good to bring back all services

[2022-11-29 19:33] maririos commented on #4811
@jianyexi when there is an error in a PR, is the link to the documentation shared? or how do people know to look [here](https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/ci-fix.md#cadl-validation)?

[2022-11-29 19:37] #4655 closed

[2022-11-29 19:39] maririos commented on #4815
@dw511214992 what is exactly what you need that you don't have right now? or how is this different from https://github.com/Azure/azure-sdk-tools/issues/4695

[2022-11-29 19:53] richardpark-msft opened #4826 "[stress] Update your Dockerfiles to use a more recent node.js version"
The stress tests are using an older version of node which has fallen very far out of support and aren't getting updated Docker image updates.

You'll want to update your FROM to use the latest LTS (or possibly 16.x, since that's what appears to be supported in Azure Functions).

[2022-11-29 20:00] richardpark-msft opened #4827 "[stress] Dockerfile scanning"

[2022-11-29 20:06] benbp opened #4828 "[stress testing] Update stress watcher and az deployer image base versions"

[2022-11-29 20:19] #4099 closed

[2022-11-29 21:22] ladonnaq commented on #4808
I am seeing the same thing.

![Image](https://user-images.githubusercontent.com/67656762/204650606-c0831a7a-2f6a-4128-9c61-b9a177b6a61a.png)

[2022-11-29 21:29] ladonnaq commented on #4808
I am also not finding the product that I am looking for in the drop-down.  I am looking for a feature for the Backup offering.  It is not there, and the product is still active for APEX.

Service tree link for product - https://microsoftservicetree.com/products/c36b07be-54d6-444d-8440-6b871045da54/overview

![Image](https://user-images.githubusercontent.com/67656762/204651333-4c53c8a6-dbd6-4554-89

[2022-11-29 21:39] benbp opened #4830 "[stress testing] Update node image versions"
https://learn.microsoft.com/en-us/azure/aks/node-image-upgrade

[2022-11-29 21:47] hallipr opened #4831 "Create an umbrella solution file in /tools"
With the interdependencies between projects in /tools, having a single solution file will let devs load all of the projects into Visual Stydio and make static analysis and compatibility checks across consumers easier.

Without a common solution file, devs will be unaware of compatibility issues for consuming projects not loaded in Visual Studio when building locally

[2022-11-29 21:54] JonathanCrd commented on #4445
The existing release pipelines for PPE and PROD worked as expected in the previous release.

Could you clarify what this issue is abou? Is it about creating new ones or a copy of those?

[2022-11-29 22:03] weshaggard commented on #4831
I'm not sure we want to have one solution for all the tools I think that is generally going to be a problem. I like having a solution per tools folder. Some of those tools might have cross-tool folder project references which can be included but we do need to be careful to not publish those common projects/packages from multiple pipelines.

[2022-11-29 22:07] maririos commented on #4445
@JonathanCrd the pipelines were not working before so we were looking into it.
Now that Admin app is clean and Wei has been cleaning the pipelines it seems to be working.
We can close the issue

[2022-11-29 22:07] #4445 closed

[2022-11-29 22:12] maririos commented on #4269
thanks @honghr . @ccbarragan is adding this screen into her UI design so we can have the best experience for our users

[2022-11-29 23:48] weshaggard commented on #4811
We should also update the docs to tell folks what to do to fix an error. For example InConsistentSwagger the error says to regenerate but we should point to docs that tell folks how to do the generation. Similar for other errors we need to be explicit in what steps they need to take.

[2022-11-29 23:58] danieljurek opened #4833 "API View for C++ needs more agent storage space"
API View for C++ requires LLVM, which consumes significant disk space during its build.

We intend to use vcpkg caching to accomplish this by building the artifacts on an Azure DevOps agent and uploading those artifacts from the build agent to the cache. Subsequent runs of build agents should fetch LLVM at the pinned version from the cache and not require the build time.

The build is estimated to

[2022-11-30 00:32] tjprescott commented on #4825
@maririos why is this assigned to me?

[2022-11-30 00:57] live1206 commented on #4807
@honghr Could you help take a look at this? We are hitting this error again in PPE

[2022-11-30 04:52] mikeharder commented on #4833
It looks like the release-only build of LLVM fit onto the 150GB cache.

If you do need more disk space, you can add the `DiskSizeGiB` to your pipeline YML, which will attach an empty data disk as `F:\` (on Windows).  You can either set the working folder to this drive using the `WorkFolder` demand, or just manually set `VCPKG_ROOT` to use `F:\`.

[2022-11-30 07:02] dw511214992 opened #4836 "Know other people when multi-person are working on the same workflow"

[2022-11-30 07:27] #4269 closed

[2022-11-30 09:07] live1206 commented on #4807
@maririos Fixed and deployed to Prod.

[2022-11-30 09:23] live1206 commented on #4805
Services added back, the above service is available now.
![image](https://user-images.githubusercontent.com/5196139/204757304-3a3d5896-e1e3-4dc0-8a5d-865285c09b9a.png)

[2022-11-30 09:24] live1206 commented on #4597
Added all public services.

[2022-11-30 09:24] #4597 closed

[2022-11-30 09:25] #4354 closed

[2022-11-30 10:38] live1206 opened #4838 "Add check for SDK generation in Sign off API Spec Readiness page"
![image](https://user-images.githubusercontent.com/40835867/202999141-a4dc356d-8507-4a11-b887-187ca7f826c3.png)

If there is sdk generated failed, we need to add a label to indicate the failure can be ignroed. If the label doesn't exist, we should block customer from completing the task.

[2022-11-30 10:44] live1206 opened #4839 "Connector auth failure casues browser crash on Mac M1 chip"
<img width="1334" alt="Screenshot 2022-11-22 at 16 36 48" src="https://user-images.githubusercontent.com/52271048/203266419-7580f910-0913-4995-a544-0e78e8d0ec76.png">

[2022-11-30 10:47] live1206 opened #4840 "Provide a way to display the user the scheduled meeting for APEX review"
Not way to provide the user the Informational meeting of onboard APEX Product.

[2022-11-30 14:31] maririos commented on #4825
@tjprescott correct me if I'm wrong, but this looks like something that could be explored from the parser perspective

[2022-11-30 14:45] maririos commented on #4807
I was testing this in PPE. I confirm the error is gone and now I can submit the questionnary

[2022-11-30 14:45] #4807 closed

[2022-11-30 14:49] maririos commented on #4805
Awesome! I confirm Scheduler tool fix works as expected and that we can also see the service in our end:

<img width="753" alt="image" src="https://user-images.githubusercontent.com/9868623/204827211-75444e01-d9b3-437f-ae12-d4f464e30650.png">

[2022-11-30 14:51] ladonnaq opened #4841 "Stakeholder Feedback Sessions: Release Planner V2"
### **Stakeholder Feedback Plan for Release Planner Beta 2**

1. [Stakeholder Release Planner V2 User Study Plan]( https://microsoft.sharepoint.com/:fl:/s/a8deefde-7c82-4dbf-98e1-5238b2c9e016/EQh8ZjlgMFBKgKE-o-0FphoB8x19OirRqzLrC04MHmAz5A?e=se05tm&nav=cz0lMkZzaXRlcyUyRmE4ZGVlZmRlLTdjODItNGRiZi05OGUxLTUyMzhiMmM5ZTAxNiZkPWIhLXhNU1pGQnBka3lvUkdNaG1nMV9odXNDMnJFUVNqZElqcGpPLWdYVG1vYUh1SVlIRWZDdFJaLWhM

[2022-11-30 14:51] mikekistler opened #4842 "Migrate APIView into a set of VS Code extensions that could be enabled in VSCode.dev"
Evaluate the feasibility / effort to migrate APIView into a set of VS Code extensions that could be enabled in VSCode.dev for a comeback to executive leadership.

[2022-11-30 16:49] ladonnaq commented on #4841
[UX Study Release Planner Beta 2 Plan]( https://microsoft.sharepoint.com/:fl:/s/a8deefde-7c82-4dbf-98e1-5238b2c9e016/EbbiZ4e5N05BhMFjkcJISYkBm9buDFO6X4emTWYKVTaR0Q?e=ao2Rev&nav=cz0lMkZzaXRlcyUyRmE4ZGVlZmRlLTdjODItNGRiZi05OGUxLTUyMzhiMmM5ZTAxNiZkPWIhLXhNU1pGQnBka3lvUkdNaG1nMV9odXNDMnJFUVNqZElqcGpPLWdYVG1vYUh1SVlIRWZDdFJaLWhMTVliZmhpaCZmPTAxQk9RNk4zTlc0SlRZUE9KWEpaQVlKUUxEU0hCRVFTTUomYz0lMkYmZmx1aWQ

[2022-11-30 17:15] tjprescott commented on #4825
I guess I was confused because the code shown is definitely not Cadl. @heaths are you saying this should be displayed for Cadl APIViews?

[2022-11-30 17:19] ladonnaq opened #4843 "New Cadl Docs page link added to release planner apps"
We should update our links to send users to the new Cadl GitHub.io page.  It provides a better docs user experience vs directing them to wiki pages, markdown files, etc.  We will still need to link to some information that is elsewhere, like the perquisites.  For example, [Enabling API Spec pipeline](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRyLqLSatF0RNqSnWnzd-MglUMl

[2022-11-30 17:21] maririos commented on #4825
Ohh I see. Or is this that for a generated SDK you would like to see where it came from (Cadl/OpenAPI)

[2022-11-30 17:33] maririos commented on #4808
@ladonnaq is this what you are expecting to see?

<img width="678" alt="image" src="https://user-images.githubusercontent.com/9868623/204867844-83dd97d4-e49d-4f44-bdd6-270bf537d8bc.png">

[2022-11-30 18:54] m-nash opened #4844 "[FEATURE REQ] Expand the sparse matrix for core and mgmt core tests"
Right now the sparse matrix pins each project to either package reference or project reference.  We saw recently with this issue https://github.com/Azure/azure-sdk-for-net/issues/32733 that this can allow bugs to get checked into main which make debugging and finding the issue a lot more difficult.  It would be better to catch these at PR time so we can fix them and disrupt everyone in the repo.

[2022-11-30 19:13] heaths commented on #4825
Yes, I'm suggesting it should be shown for APIView - even if they use Azure-Core. That said, my understanding is that the parser behind APIView that each language implements might have to do it, but only that parser - I don't mean the Cadl parser/compiler itself. In a way, it already does that so maybe it's useful and can help the APIView parser figure it all out.

[2022-11-30 20:37] maririos commented on #4682
@ladonnaq do you have the issue for this? I want to make sure that across apps we are showing the same information

[2022-11-30 21:09] heaths commented on #4825
Clarifying per my offline conversation with @maririos, @tjprescott (or whoever might work on this), I meant more like a "tooltip" or some sort of hint that would show the computed route. For non-Azure-Core-based Cadls, I suppose it's unnecessary because I understand they have to include a `@route`, but for Azure-Core-based Cadls, perhaps something like this (mock-up with F12 dev tools):

Non-Azure

[2022-11-30 21:24] sima-zhu opened #4846 "Use prefer_source_distribution for missing src code fix"
We currently lack of the ability of config `prefer_source_distribution` for our automation.

Use the issue to add the flexibility.

[2022-11-30 21:30] #4365 closed

[2022-11-30 21:31] scbedd commented on #4338
@JimSuplizio completed this. When we closed the issue during scrum it didn't close it automagically. Doing that here.

[2022-11-30 21:31] #4338 closed

[2022-11-30 21:34] scbedd commented on #3902
This task is supplanted by the shims of each repo passing the appropriate assets.json along to the proxy if detected.

[2022-11-30 21:34] #3902 closed

[2022-11-30 22:03] ladonnaq commented on #3785
@maririos This would be follow-up from the first informational meeting that is for data plane only.  What I would like to see is a drop-down box similar to what is in the SDK Review.  I will edit the first entry on the GitHub issue so that the requirement is clearer.

![Image](https://user-images.githubusercontent.com/67656762/204917205-80a72015-3d33-4fd0-873c-b4abe7efa98d.png)

I suggested that w

[2022-11-30 22:05] LarryOsterman opened #5684 "C++ ApiView Diagnostics"
Provide implementation for APIView Diagnostics for the following errors:

1. Missing documentation for type/method
2. Type declared in global namespace
3. Namespace filter is provided but there is a type in the folder that is outside the namespace filter (note: Just generate a stub for the type, not the full type).
4. Enumeration that is not a scoped enumeration.
5. Non-const static fields
6. Prot

[2022-11-30 22:17] ladonnaq commented on #4745
I am going to close this issue and use the GitHub issue that Crystal and I are using to track the UX study plan.
https://github.com/Azure/azure-sdk-tools/issues/4841

[2022-11-30 22:17] #4745 closed

[2022-11-30 22:22] tjprescott commented on #4825
Got it. It is possible to do, though it would mean that the representation in APIView isn't actually what the Cadl says (although that's technically already true).

Right now the recommendation would simply be to look at the Swagger APIView for the Cadl but without the ability to easily navigate from the Cadl to said view, that's kind of annoying.

I'd like the architects to weigh in on this and i

[2022-11-30 22:38] sima-zhu commented on #4846
Double checked the logic. We do have the ability to keep what we have in package-latest.json.

The only thing we hard-coded is the package in csv but not in package.json. We need the hard-coded as expected. Closed the issue as it is not an issue.

[2022-11-30 22:38] #4846 closed

[2022-11-30 22:48] scbedd opened #4847 "[APIView] Display branch revision was generated from (if present)"
The ml folks have had some friction when differentiating revisions that were `generated automatically` versus `manually via wheel` versus `generated automatically from release branch`.

To ease this, we should show this source somewhere on the UI under the revision information.

[2022-11-30 23:14] heaths commented on #4825
Right - that's mainly the issue. Having to look at the swagger feels like hitting a thumbtack with a sledgehammer. Ideally, we never have to look at swagger again. And as we onboard new reviewers - or even team self-reviews - what the route looks like may not be obvious.

/cc @JeffreyRichter @johanste @markweitzel @mikekistler

[2022-11-30 23:41] #638 closed