[2022-09-20 05:52] JonathanCrd opened #4176 "Use LongDateTime for dates and times across the tool"
This is related to:

- https://github.com/Azure/azure-sdk-tools/issues/4068

To avoid confustions, we should use the LongDateTime format in all places in which we show a date.

This means, that instead of showing `09/10/2022` we will display `September 10th 2022`, which won't cause confusion on what's the month and day in the date format.

[2022-09-20 06:34] fengzhou-msft commented on #4144
.NET Track 1 generator (`autorest.csharp` V2) [uses .NET Core 2.0](https://github.com/Azure/autorest.csharp/blob/577856ec9b735fa264a17cafd937ff9d678c97c9/src/autorest.csharp.csproj#L29) (link provided by @archerzz ) which uses OpenSSL 1.0 and is not supported by the current CI agents in swagger pipeline with Ubuntu 20.04.

@raych1 is it possible for the SDKAutomation script to specify a CI agent w

[2022-09-20 16:54] kyle-patterson opened #4177 "SDK review reminder emails don't link to the right version of the scheduling tool"
In the following screenshot, the link below redirects to the wrong instance of the scheduling tool - it points to the DEV instance, which can't find the meeting ID.

![image](https://user-images.githubusercontent.com/57923303/191318378-a73988a0-62a9-4e27-aced-83854fb29abc.png)

Link in question:
https://web.powerapps.com/apps/db1cda0f-e441-482f-9790-56d053d32ccb?view=editinformational&event=394a7b

[2022-09-20 16:56] kyle-patterson opened #4178 "SDK review meeting titles are unclear in reminder emails"
Per the screenshot below, I'm not sure what the "None" refers to in the reminder emails. Could you break down the fields into a "key: value" list?

![image](https://user-images.githubusercontent.com/57923303/191318711-997e327e-f9c9-4d78-9946-abf40b7b65c1.png)

[2022-09-20 16:58] kyle-patterson opened #4179 "Show list of successfully uploaded API links in reminder emails"
In the SDK review reminder emails, can we show a link of which API links are successfully included in the upcoming meeting? Right now, it only shows the missing links - which requires the users to have selected all languages for their review prior to the reminder. It would be helpful to know which languages don't need updating at the same time.

![image](https://user-images.githubusercontent.com/5

[2022-09-20 17:05] JonathanCrd opened #4180 "Include release steps and troubleshooting cases in the Wiki"
We can improve our current internal wiki by adding a detailed step by step guide for deployments, things to have in mind and to keep an eye on, and troubleshooting for common issues.

[2022-09-20 17:14] JonathanCrd opened #4181 "Flow to open/close a GitHub issue is failing when trying to reopen an issue"
A user wants to reuse an existing GitHub issue for a new API Review, but was getting an error on the GitHub Create flow.

This issue was caused by a missmatch on the schema parser after doing the request to GitHub to open the existing issue. We should remove all of the properties we are not using from that schema, so we don't run into more troubles.

[2022-09-20 17:15] #4181 closed

[2022-09-20 17:55] tjprescott opened #4182 "[CADL APIView] Add pipeline to build, test and release cadl-apiview to devops feed"
As part of PR #4160, we need a pipeline to build and test the cadl-apiview emitter, and release it to the devops feed.

[2022-09-20 18:04] #3538 closed

[2022-09-20 18:06] #4133 closed

[2022-09-20 18:10] JonathanCrd opened #4183 "Improve Informational Email templates to include missing information"
The templates we are using for the Informational meetings are obsolete now.

There's also information missing, like:

And then no link was provided in the email.

[2022-09-20 18:47] #3999 closed

[2022-09-20 20:27] maririos opened #4188 "Add 'Link' to the end of each artifact label"
Currently, it is not clear that the user needs to provide a link instead of plain text. We need to add `link` to the end of each artifact label:
![image](https://user-images.githubusercontent.com/9868623/191357937-6ea04fb2-b129-4966-bd72-426c9266166f.png)

This only applies to the API Review meetings

[2022-09-20 20:30] maririos commented on #4188
Fixed
![image](https://user-images.githubusercontent.com/9868623/191358361-61ae7cbc-2661-423f-993d-e66fbac855cb.png)

[2022-09-20 20:30] #4188 closed

[2022-09-20 20:30] JonathanCrd opened #4189 "When an Admin edits a meeting, the outlook event gets updated to a duration of 0 minutes."
If a user schedules a review, and then an Admin goes and updates any information from that review in the Tool, the updated outlook event will have the new information but the duration will change to 0 minutes.

This can't be replicated when the same user who schedule the meeting is the one who updates it.

[2022-09-20 20:40] scbedd opened #4190 "Ensure missing assets.json is an understandable error"
Right now, I have updated the `.NET` and `python` shims to ascend looking for an `assets.json`, and if they _find_ one, then add that to the request to start playback.

What this means is that if an assets.json is _not present_, the proxy will return a `recording not found` error, but _not_ an restore error. There was no way to know that it was necessary to clone!

We need to ensure that when a re

[2022-09-20 20:43] scbedd opened #4192 "Add breadcrumb to assets store"
Current repo structure:

[code]

I want to add a breadcrumb addition that will ease _scripting_ of the assets directory.

Specifically I want there to exist a `.cloned` or `.breadcrumb` file:

[code]

With format:

`<relative path to assets.json> <hashed directory>`

Example:

[code]

[2022-09-20 20:45] scbedd commented on #4124
Additional piece of feedback from Wes, lets ensure that the credcan error message links out to aka.ms with a description on how to fix, bypass, ignore, etc.

Additionally, is there anything we can do to have the proxy credscan have a couple default ignores/sanitizers?

[2022-09-20 20:59] mikeharder opened #4193 "Compare performance of build agents in shared and unshared pools"
* storage-blob download 10KB: Shared has 5-10% slower throughput
  * Unshared: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1860423&view=logs&j=42ded549-05ee-5cdb-7ba7-7a948a0cc056&t=a103fa30-9714-51c6-dfba-9bd5390ed023
  * Shared: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1860431&view=logs&j=42ded549-05ee-5cdb-7ba7-7a948a0cc056&t=a103fa30-9714-51c6-dfba-9b

[2022-09-20 22:10] Vailorium commented on #4052
@JonathanGiles

[2022-09-20 22:22] hallipr opened #4194 "Add Test Results to Kusto"
If we ingested details at the test level, we could see the history of a single test as well as a more complete breakdown of the time spent in a test run.

On build completion, we ingest TestRuns into blob storage and Kusto at the TestRun level. This included overall test run duration as well as aggregate counts per test result:

[code]

We don't know which tests failed, and we don't know why this

[2022-09-20 22:55] chidozieononiwu opened #4195 "[APIView] Improve Show Documentation Button"
![ShowDocumentationButton](https://user-images.githubusercontent.com/31145988/191378936-03378a17-132c-41af-99e7-b370410dba1b.png)
Use more intuitive icon for show documentation button

[2022-09-20 22:57] chidozieononiwu opened #4196 "[APIView] Create Isolated Test Environment"
Incorporate Storage Emulation with existing Cosmos Emulator in dev environment to create consistent predictable data to allow for isolated test environment.

[2022-09-20 23:05] chidozieononiwu commented on #3804
It looks like this issue has been resolved from what I can see.
![DocumentationPadding](https://user-images.githubusercontent.com/31145988/191379997-5aca612f-bb5e-42cc-b947-b4e5676a466c.png)

[2022-09-20 23:08] chidozieononiwu commented on #3638
This has been resolved

[2022-09-20 23:13] chidozieononiwu commented on #3492
This has been deployed

[2022-09-20 23:13] #3492 closed

[2022-09-20 23:14] chidozieononiwu commented on #3412
This has been fixed and deployed

[2022-09-20 23:14] #3412 closed

[2022-09-20 23:15] chidozieononiwu commented on #3082
This is now resolved. Will be deployed soon

[2022-09-20 23:15] #3082 closed

[2022-09-20 23:21] chidozieononiwu commented on #2155
This has been resolved with the persistence of user preferences

[2022-09-20 23:21] #2155 closed

[2022-09-21 00:04] tg-msft opened #4198 "[ApiView] Don't select line numbers when copying"
Sometimes I need to copy the API listing to diff manually ([example](https://gist.github.com/tg-msft/647eaf5f83399c9b0a0f3451da2b2f50/revisions)), but the line numbers make a mess of it.  Can we add `user-select: none;` to [the `.line-number` class](https://github.com/Azure/azure-sdk-tools/blob/e8486c4bd14259034718d945a9d6bb32c9e4f3e7/src/dotnet/APIView/APIViewWeb/Client/css/site.scss#L878-L884)?

[2022-09-21 01:51] mikekistler opened #4199 "No BreakingChangeReviewRequired label for breaking change"
I'm still struggling to understand the rules for when the PR pipeline checks will add the `BreakingChangeReviewRequired` label to a PR.

[PR 20762](https://github.com/Azure/azure-rest-api-specs/pull/20762) failed the "Breaking Changes - Cross Version" PR check:

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/85643503/191395739-a3c8d15e-ee4c-42e9-ab50-55319fc2cafa.png"

[2022-09-21 03:43] JonathanGiles commented on #3804
I agree - I can not seeing it in staging (but I can see it in production). The Massey students will look into this further to ensure that it remains fixed.

[2022-09-21 03:56] benbp commented on #4194
This would be amazing to have and would unlock a lot of new possibilities (flaky test monitoring, etc.)

[2022-09-21 22:01] #3493 closed

[2022-09-22 00:35] praveenkuttappan opened #4204 "Create Pipeline to release swagger Parser to devops feed"
Swagger API parser is used to convert swagger files to APIView token file and this parser needs to be built, test and published to devops feed so it can be consumed at various places.

[2022-09-22 03:48] #2921 closed

[2022-09-22 03:48] chidozieononiwu commented on #2921
resolved byhttps://github.com/Azure/azure-sdk-tools/pull/4091

[2022-09-22 17:30] praveenkuttappan opened #4209 "Support manual Swagger API review gen in APIView"
This requires creating a pipeline that converts swagger file into APIVIew code file using Swagger API parser published to devops feed and publish it as artifact.

APIView should process code file generated by pipeline and create API review for manually uploaded swagger files.

[2022-09-22 17:31] #4101 closed

[2022-09-22 18:01] praveenkuttappan opened #4210 "Enhance API diff to support swagger review diff"
Currently APIView diff is created using line by line comparison which won't work for table based swagger API review. We need to identify the context of the diff and show changes with entire diff context.

[2022-09-22 18:03] praveenkuttappan opened #4211 "Swagger Parser should support creating API review for multiple swagger files"
Currently swagger parser creates API review using only one swagger file as input. We need to enhance parser to support generating API review using swagger readme file which has reference to multiple swagger files.

[2022-09-22 18:36] #4080 closed

[2022-09-22 20:22] chidozieononiwu commented on #3452
Am not clear what is the ask here. It seems that this is already present either using the mouse wheel or the scroll bar itself.

[2022-09-22 20:54] mikeharder commented on #4127
Verified fixed as of image version 66.0.0: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1866678&view=results

[2022-09-22 20:54] #4127 closed

[2022-09-22 20:55] #4193 closed

[2022-09-22 21:39] heaths commented on #3452
Not all mouse wheels move horizontally, and there's no horizontal scrollbar.

What I'd like to see is vertical and horizontal scrollbars - as needed - for both the TOC and content.

[2022-09-22 23:41] Baas-hub commented on #4164
@JonathanGiles can you please assign me, @cmcd22 and @Vailorium to this issue?

[2022-09-22 23:53] #3487 closed

[2022-09-22 23:54] chidozieononiwu commented on #4195
Resolved by https://github.com/Azure/azure-sdk-tools/pull/4206

[2022-09-22 23:54] chidozieononiwu commented on #3487
Resolved by https://github.com/Azure/azure-sdk-tools/pull/4206

[2022-09-22 23:55] chidozieononiwu commented on #3639
Resolved by https://github.com/Azure/azure-sdk-tools/pull/4206

[2022-09-22 23:55] #3639 closed

[2022-09-22 23:55] chidozieononiwu commented on #4085
Resolved by https://github.com/Azure/azure-sdk-tools/pull/4206

[2022-09-22 23:55] #4085 closed

[2022-09-22 23:55] #4195 closed

[2022-09-23 00:25] Vailorium commented on #4164
@JonathanGiles

[2022-09-23 00:50] cmcd22 commented on #4164
@JonathanGiles

[2022-09-23 08:06] dw511214992 opened #4215 "SDK Breaking change sometimes stores apporved breaking change failed"
In this old PR, all the SDK breaking changes have been approved: https://github.com/Azure/azure-rest-api-specs/pull/19652

But in this new PR that changes only description, those breaking changes come out again unapproved: https://github.com/Azure/azure-rest-api-specs/pull/20774

[2022-09-24 19:22] #1021 closed

[2022-09-24 20:00] #285 closed

[2022-09-26 05:56] jianyexi commented on #4145
It's because there is model validation error

[2022-09-26 05:56] #4145 closed

[2022-09-26 05:57] #3886 closed

[2022-09-26 12:41] mikekistler opened #4220 "Automation in azure-rest-api-specs repo is adding incorrect labels to PRs"
The AzureRestAPISpecReview bot incorrectly added the `ARMReview` and `WaitForARMFeedback` labels to [PR 20672](https://github.com/Azure/azure-rest-api-specs/pull/20762) in the azure-rest-api-specs repo. These labels are incorrect because this PR makes no changes to files within a "resource-manager" directory.

<img width="764" alt="image" src="https://user-images.githubusercontent.com/85643503/192

[2022-09-26 18:06] maririos commented on #3859
Need to verify all edits are available

[2022-09-26 18:08] maririos commented on #3864
Let's revisit this after the Scheduling tool is connected to the Azure SDK Release Planner app

[2022-09-26 18:08] #4130 closed

[2022-09-26 18:09] maririos commented on #3868
The decision was not to do this. Closing by design

[2022-09-26 18:09] #3868 closed

[2022-09-26 18:14] maririos commented on #3880
Closed by design as right now we don't need GH issues from Informational meetings

[2022-09-26 18:14] #3880 closed

[2022-09-26 18:14] maririos opened #4224 "Do not create a GH issue when scheduling an Informational meeting"

[2022-09-26 18:20] #3946 closed

[2022-09-26 18:25] maririos commented on #4027
@JonathanCrd can you look into this and see with the new knowledge if we still want this?

[2022-09-26 18:27] maririos commented on #4029
First step: Make sure people know in the UI that this is not supported until we proparly fix it

[2022-09-26 18:32] maririos commented on #4183
We decided GH issue is no longer needed for Informational meeting

[2022-09-26 19:27] chidozieononiwu commented on #3452
Perhaps it's a browser compatibility issue. What web browser are you using. I ask because I see horizontal scroll bar in the main content in (Edge, Chrome and Mozilla). As for the table of Content a scroll is also present although not deployed yet. But it is fixed in staging right now.

[2022-09-26 20:09] heaths commented on #3452
I'm using Edge Dev and see no horizontal scrollbar:
<img width="469" alt="image" src="https://user-images.githubusercontent.com/1532486/192370258-c5f819ea-cc5b-45bb-8385-0de07a2372e4.png">

[2022-09-26 20:29] sima-zhu commented on #4159
1. Package/Service level readme will go to moniker folder

    **Proposed**:
    - Preview: `api/overview/azure/preivew`
    - Latest: `api/overview/azure/latest`

    **Where they are currently:**
    - Current: `api/overview/azure`

3. ToC:
    **Proposed:**
    - Preview: `docs-ref-toc/reference-preview.yml`
    - Latest: `docs-ref-toc/reference-latest.yml`
    - Unified: `docs-ref-toc/referenc

[2022-09-26 20:31] sima-zhu commented on #4159
What we don't need to touch
1. Package json/CSV: They have supported the moniker already
2. API yaml/xml: They have supported the moniker already.

[2022-09-26 20:35] sima-zhu commented on #4159
What workflow we need to change: (We will support proposed path and current path in parallel for a while, and then remove the old one)
1. Update-DocsMsMetadata.ps1 (docindex, release, nightly): Update the place to check in the readmes.
2. Fetch the namespace and check in the metadatc for toc update.
3. New toc automation code.
4. Update the sync-toc.py (Need to support xml file reading) for the ri

[2022-09-26 20:54] maririos commented on #4178
This has been fixed thanks to issue https://github.com/Azure/azure-sdk-tools/issues/3964

[2022-09-26 20:54] #4178 closed

[2022-09-26 20:55] kurtzeborn commented on #4194
Are there concerns here around the cost of including this data in kusto?  It seems like it would be an enormous amount of data.  Maybe we could filter it to only test failures (and assume success if it's not there)?  What about putting into AppInstights (which theoretically would be cheaper) instead of kusto?

[2022-09-26 20:56] maririos commented on #4069
dup of https://github.com/Azure/azure-sdk-tools/issues/3917

[2022-09-26 20:56] #4069 closed

[2022-09-26 20:56] maririos commented on #3873
Fixed in https://github.com/Azure/azure-sdk-tools/issues/3696

[2022-09-26 20:56] #3873 closed

[2022-09-26 20:58] maririos commented on #3861
Now that the scheduling tools is used, we know that the person that created the recording is the person that owns it. This issue https://github.com/Azure/azure-sdk-tools/issues/4093 has more information on what the concrete asks are

[2022-09-26 20:58] #3861 closed

[2022-09-26 21:15] #3194 closed

[2022-09-27 00:30] JonathanCrd commented on #4189
It turns out this not only happens with admin, the issue can be replicated by updating a meeting but not changing the original datetime.

The reason why this is happening is because the duration of the event is provided by the Calendar component when an available date is clicked. Since the user didn't perform any action on the Calendar itsefl, the duration is `blank`. Then, on the PowerApp itself,

[2022-09-27 00:48] JonathanCrd opened #4229 "Add Tests we should manually perform every release in the wiki"
For now, we would do a series of tests manually (until we get all of them in the Test Suite).

Let's add a checklist in the wiki we can use for testing on each release.

[2022-09-27 00:49] JonathanCrd commented on #4229
I can use this as a base https://github.com/Azure/azure-sdk-tools/issues/3985

[2022-09-27 02:53] mikekistler commented on #4220
Another example is [PR 20342](https://github.com/Azure/azure-rest-api-specs/pull/20342)

<img width="750" alt="image" src="https://user-images.githubusercontent.com/85643503/192420813-2d9dc41d-6cb4-4852-83f2-2a22732874aa.png">

[2022-09-27 05:56] dw511214992 commented on #4215
fixed

[2022-09-27 05:56] #4215 closed

[2022-09-27 05:57] dw511214992 opened #4231 "SDK Breaking change label sometimes is labelled by mistake"
When a PR has unapproved breaking change in first commit, and there is no breaking change in the second commit, the sdk breaking change label cannot be removed.

[2022-09-27 16:49] maririos commented on #4189
Is this a possible scenario?
Is it expected that the new meeting duration in the new date should change too?

Not something that happens. So no need to worry about it.

+1

SAme as you, I prefer option 2 more.

[2022-09-27 17:50] chidozieononiwu opened #4233 "APIView Memory and Performance"
Identify and resolve memory and performance issues in APIView. Specifically large review pages.
[code]

[2022-09-27 18:09] #4149 closed

[2022-09-27 18:34] markweitzel opened #4235 "Add meeting owner as "Assignee" and service team label when new issue opened..."
When a new API Scoping issue is opened, the person on the service team that the issue was opened on behalf of, should be added as an `Assignee`.

In addition, the label for the team should be added, e.g. `FarmBeats`.

![azure-rest-api-specs 2022-09-27 14-31-56](https://user-images.githubusercontent.com/522116/192607955-e1e13d0d-c817-4979-bfee-84f428bad19b.png)

[2022-09-27 19:44] maririos commented on #3869
@JonathanCrd I confirmed that this is what we want:

[2022-09-27 19:45] maririos commented on #3994
Happening in October

[2022-09-27 19:48] maririos commented on #4108
It should always exist, so we need to add it for new issues, and for existing issues make sure it is there

[2022-09-27 20:59] benbp commented on #4194
This will be a good potential item to get some data going before MQ starts, so if we get to do test time/pipeline time improvement work with the dev teams, we'll have a good idea what the highest impact areas are. CC @alzimmermsft

[2022-09-27 22:25] maririos opened #4237 "Admin should be able to cancel a meeting"
We need to make sure that admins can schendule meetings. Currently, the only view that allows this is the central "list" view. Only people that created the meeting or were explicitly invited can see the "cancel" button.

We should re-think if that is the right view and/or if there should be a view on the Admin panel that will list the meetings and provide the option to edit/cancel them.

Open to o

[2022-09-27 22:29] maririos opened #4238 "When a meeting is updated the link to the scheduler tool is wrong"
When a meeting is updated, we update the calendar invite and the Github issue and add, again, the link to the scheduler tool so the people on the meeting can see more details.
This link doesn't contain the `event id` which makes the link generic.
For example, the link is `https://web.powerapps.com/apps/xx?view=edit&event=`

[2022-09-27 23:41] timovv opened #4239 "[test-proxy] Test proxy adds `Content-Length: 0` header to GET and DELETE requests"
## Background

One of our service partners is trying to migrate the Azure Batch JavaScript SDK to the test proxy-based recorder. The Batch service uses a [shared-key authentication mechanism](https://learn.microsoft.com/en-us/rest/api/batchservice/authenticate-requests-to-the-azure-batch-service#construct-the-signature-string) which requires calculation of a HMAC signature. This signature is calcu

[2022-09-28 01:03] JonathanCrd opened #4241 "Bug: Link Text inputs overlap with PR Number input in API Review"
The labels overlap.

[2022-09-28 01:10] mikekistler commented on #4220
@ruowan Could you please investigate?

[2022-09-28 02:24] dw511214992 opened #4242 "SDK Automation filter bug: should skip all sdk jobs if there is no valid sdk automation jobs"
Example: https://github.com/Azure/azure-rest-api-specs-pr/pull/8964

[2022-09-28 02:55] dw511214992 commented on #4242
PR: https://devdiv.visualstudio.com/DevDiv/_git/openapi-alps/pullrequest/426229

[2022-09-28 08:21] JonathanCrd opened #4243 "Bug: If something wrong happens when updating a meeting, the date from that meeting gets deleted from the Dataverse"
Bug found when working on:

- https://github.com/Azure/azure-sdk-tools/issues/4189

It seems that the Update section of the code is hitting the `IfError` catch intended for scheduling new meetings, which reverts the DB state in case something goes wrong when creating a new meeting.

[2022-09-28 16:49] maririos opened #4244 "Organize the requirements fields for API Review meeting"
Currently we are asking the user to provide Core concepts, API Documentation, and Hero scenarios.
We should:

1. Remove API Documentation field as it is the same as asking for the Swagger PR.
2. Add add a new field alled `Architecture diagram link` (we have this field already in the informational meetings)
3. Reorder the fields to Hero scenarios, Architecture diagram, Core concepts

Note: The curr

[2022-09-28 16:50] maririos commented on #4244
@markweitzel could you please update the documentation of the wiki https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/665/Azure-REST-API-Stewardship-Review to reflect the need for the architure diagram?

[2022-09-28 16:56] maririos opened #4245 "Update Github issue template for API Review meetings"
After talking to @markweitzel he suggested for us to add links to the wiki, office hours, and link to Teams channel as part of the information on the GH issue.

We can add at the end of the template the following text:
[code]

Wiki link: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/665/Azure-REST-API-Stewardship-Review

[2022-09-28 16:58] #4115 closed

[2022-09-28 16:58] JimSuplizio commented on #4115
This issue was closed with a linked checkin

[2022-09-28 17:42] danieljurek commented on #4159
This work can be split into two buckets:

1. "Monikerization" of the .NET docs repo
    1. azure-docs-sdk-dotnet -- ALL config changes, file moves/renames, split ToC (no ToC automation) ... Preferably accomplished by a script we can run and verify outputs
    1. azure-sdk-for-net -- Config updates to output updated `.md` files to the right locations ... (could this include service level overview a

[2022-09-28 18:50] maririos opened #4247 "Informational meeting has duplicate meeting tiles"
This happened before for the API meetings. I couldn't find the GH issue for it though.
@JonathanCrd  will have more information

[2022-09-28 18:52] maririos commented on #3788
@ladonnaq is going to provide the email template.
We will no longer have Github issues created for the Informational meetings

[2022-09-28 18:54] maririos commented on #4163
We met today and conclusion is we need to do:
- UI improvements
- Update email template
- Update wiki page and aka.ms link

Once that is done, our users can use the tool.

There is also an exatra ask of surface the Service Product when scheduling an Informational meeting. This will come from the Release Planner App and if not provided, user can select it.

[2022-09-28 18:56] maririos opened #4248 "Update aka.ms/azsdk/onboarding/informational with new Onboarding wiki"
We will have a new more generic wiki for the Informational meetings. Once it is ready, we need to update this aka.ms link and make sure that it is the one we consume on our scheduling tool and email templates

[2022-09-28 19:01] maririos opened #4249 "UI updates to Informational meeting"
•	Remove Hero scenarios field
•	Remove core concepts field
•	Remove asterisk and text about the requirement for architecture diagram, instead add information about how people can upload a link
•	Don't cancel meeting so remove that text

[2022-09-28 19:07] maririos opened #4250 "Add new Product field into the Informational meeting"
Currently we are only asking for Service name, but we need to product in order to map the Scheduling tool with the Release Planner App.
We need to make sure:
- Both apps are using the same source for Service Name
- Both apps surface same Product information

[2022-09-28 20:16] JonathanCrd commented on #4241
Fixed

[2022-09-28 20:16] #4241 closed

[2022-09-28 20:16] JonathanCrd commented on #4189
Fixed

[2022-09-28 20:16] #4189 closed

[2022-09-28 21:26] scbedd opened #4252 "ctrl-c doesn't kill test-proxy container"
It should.

[2022-09-28 21:39] scbedd commented on #4252
[For reference](https://stackoverflow.com/questions/41097652/how-to-fix-ctrlc-inside-a-docker-container)

[2022-09-29 17:23] #3695 closed

[2022-09-29 17:33] scbedd opened #4255 "Add integration tests for docker CLI"
We have a set of CLI tests that run against test-proxy in powershell _using_ the `test-proxy` tool.

We should extend the test to be able to invoke docker `run` commands instead of calling `test-proxy` directly. This will ensure that we are verifying that the `docker` users maintain full functionality.

[2022-09-29 17:36] scbedd opened #4256 "Integrate asset-sync w/ azure-sdk-for-js"

[2022-09-29 17:36] scbedd opened #4257 "Integrate asset-sync w/ azure-sdk-for-go"
Right now, the `start` on record/playback POSTS to the `playback/start` or `record/start` with a json body that looks like:

[code]

The adjustment to the framework is the following.

1. Starting from the test path, begin traversing upwards along the directories. Checking each level for a `assets.json` file.
2. If an `assets.json` file is found. Save that path.
3. During creation of the POST to `s

[2022-09-29 20:56] ladonnaq opened #4259 "Hide the APEX and non-APEX question in the Onboarding Questionnaire blade in Beta V1"
The APEX or non-APEX question should be hidden in Beta V1.  It is disabled but it is confusing to keep it visible.

![image](https://user-images.githubusercontent.com/67656762/193139672-109cbfee-73a7-44b0-baf8-432a439adefe.png)

[2022-09-29 21:16] ladonnaq opened #4260 "404 error for "I don't see my SDK package release here""
Updates to the UI text label and broken link

- [ ] Error: In current prototype, 404 error when link was clicked.

- [ ] Change UI label text: Let's change the sentence to "If you cannot find the SDK package release, click here"

![image](https://user-images.githubusercontent.com/67656762/193142626-d410a30f-6784-4c26-b5ca-683f22476588.png)

[2022-09-29 21:33] ladonnaq opened #4261 "When onboarding questionnaire is submitted, change the ADO field that maps to the launch criteria to complete"
Updates to the ADO creation power automate flow

- [ ] When the ADO onboarding work item is created, also change the ADO field that corresponds to the "Onboard with the Azure SDK Team" APEX launch readiness criteria to "Complete">

![image](https://user-images.githubusercontent.com/67656762/193145946-470ab466-c491-4f89-8ca0-0a75ca479dbe.png)

[2022-09-29 21:39] ladonnaq opened #4262 "The RP Name field is not being populated in the ADO work item"
Missing info that is expected in the ADO work item

- [ ] The RP Name field is not being populated in the ADO work item

![image](https://user-images.githubusercontent.com/67656762/193146728-48684a84-3862-4439-a56b-99653ad10264.png)

[2022-09-29 22:35] maririos opened #4263 "Select service options should be in alphabetical order"
See:
![image](https://user-images.githubusercontent.com/9868623/193154092-b75df4e0-2a1b-43c2-9c61-977d2c071c4b.png)

[2022-09-30 02:08] #4163 closed

[2022-09-30 02:47] maririos commented on #4249
Changes applied:

![Image](https://user-images.githubusercontent.com/9868623/193179271-c7fb472c-7419-4162-a45d-e791f10c50a2.png)

[2022-09-30 02:47] #4249 closed

[2022-09-30 02:49] maririos commented on #4224
Done.
Cancelling a meeting doesn't fail if there is no github issue retrieved from the DB. The flow is called `CalendarEvent - Cancel`.
It will be good to do some cleanup on that flow so if there is no github issue retrieved no other logic is executed

[2022-09-30 02:52] maririos commented on #4224
Emial template has been updated to not include GH link

[2022-09-30 03:05] maririos commented on #4224
Updating an invite also works even though we don't have a GH issue. We need to look more into this too

[2022-09-30 16:38] ladonnaq commented on #4262
Seems this issue was resolved in the demo shown during the onboarding PM meeting on 09/29/2022.  I am going to keep it open to test with a refresh of the prototype.  Will close once I confirm that I am seeing same results as the demo.

[2022-09-30 17:25] maririos opened #4264 "Option to show all products associated with a service"
It is weird that the only prodcut available for Cognitive Services is this one. @ladonnaq is there a mapping we are missing?
Or are all not APEX products?

This is problematic and @live1206 discussed this morning because I have had a couple service team's blocked because the filtering is only retrieving products that are in scope or APEX (showing up in Cloud LIfecycle).

Scenarios we need to suppo

[2022-09-30 17:27] maririos opened #4265 "Communicate next steps when a service is not present"
What should a user do if their service is not listed here? Should we add a hint/message/label/etcx with instructions?

<img width="625" alt="image" src="https://user-images.githubusercontent.com/9868623/193323829-9da0e35d-0667-44c3-9368-8fbb5cd659ac.png">

[2022-09-30 17:31] maririos opened #4266 "Improve documentation about APEX Launch-Readiness"
Current app says:
<img width="682" alt="image" src="https://user-images.githubusercontent.com/9868623/193325022-5e8faf21-62da-4d3b-bda5-c6ed6a9a4afd.png">

Looking at the page: https://dev.azure.com/msazure/AzureWiki/_wiki/wikis/AzureWiki.wiki/37799/APEX-Launch-Readiness-(PLR) I am lost at what should I do when looking at this page. It will be good to improve the documentation to explain what APEX

[2022-09-30 17:34] maririos opened #4267 "Network error when looking for an existing SDK package"
AS I was typing Text Analytics in the SDK search field, this error appeared:
<img width="1490" alt="image" src="https://user-images.githubusercontent.com/9868623/193325389-a8b022d7-f629-4b20-82b8-3b161dfdf9d5.png">

[2022-09-30 17:41] maririos opened #4268 "Error when submitting questionnaire"
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/9868623/193326506-95484123-32c2-4367-9f10-b7ad042ed19b.png">

[2022-09-30 17:47] maririos opened #4269 "Consolidate Contact Us/report a bug pages between Release Planner and Scheduler apps"
It will be good to have both apps feel the same, so expose information similarly.
See different approaches:
![image](https://user-images.githubusercontent.com/9868623/193327346-e689a023-42a9-4d62-b00c-c2726020a314.png)

As for the Release Planner app reporting a bug on Github, we should tell them the repo and to add the `Engagement Experience` label.

FYI @ladonnaq @josefree

[2022-09-30 17:52] maririos commented on #4268
Seems like a flow is turned off in PPE. I am taking a look

[2022-09-30 18:11] maririos commented on #4268
Both parent and child flows are on in PPE

[2022-09-30 18:12] maririos commented on #4268
@JonathanCrd could you take a look and see if something pops for you on why this is happening?

[2022-09-30 18:14] maririos commented on #4268
It actually might be a bug. If I select yes for any option, then it works.

[2022-09-30 18:19] maririos opened #4270 "Improve text for pop up to schedule an informational meeting"
Wording and ending in `?` could be improved. What about changing `?` to `.` and add `We recommend for you to schedule an Informational meeting with our team to better understand your needs`. @ladonnaq is this ok? Feel free to correct in any case

<img width="704" alt="image" src="https://user-images.githubusercontent.com/9868623/193332350-3e9d601a-0e4c-4b2c-be6a-9f0d535ecbd8.png">

[2022-09-30 18:24] maririos opened #4271 "Incorrect Scheduler app loaded from Release Planner app"
When a user says `Unsure` on the Release Planner app, they have the suggestion to schedule an Informational meeting. When clicking on the button, the general scheduler app is loaded. https://apps.powerapps.com/play/e/a49cfcc0-87c2-469b-9516-da85bf6474e6/a/b406d8d6-06b2-4738-be7b-1edf716799cb

The one loaded should be the Informational Meeting: https://apps.powerapps.com/play/e/a49cfcc0-87c2-469b-9

[2022-09-30 18:33] maririos opened #4272 "Safe proof no Github issue on flow CalendarEvent - Cancel"
See more info on https://github.com/Azure/azure-sdk-tools/issues/4224

[2022-09-30 18:34] maririos opened #4273 "Safe proof Updating an invite on Informational meeting"
More information on https://github.com/Azure/azure-sdk-tools/issues/4224

[2022-09-30 18:34] maririos commented on #4224
I have created separate issues to keep cleaning flows when there is no Github issue present:
- https://github.com/Azure/azure-sdk-tools/issues/4272
- https://github.com/Azure/azure-sdk-tools/issues/4273

[2022-09-30 18:34] #4224 closed

[2022-09-30 21:06] #4229 closed

[2022-09-30 21:07] JonathanCrd commented on #3820
Fixed

[2022-09-30 21:07] #3820 closed

[2022-09-30 22:43] JonathanCrd commented on #4268
@maririos I was not able to replicate the problem, I also see that both flows are turned on in PPE and then have been running succesfully in the past days.

[2022-09-30 22:52] #4180 closed

[2022-10-01 00:42] benbp commented on #2961
We're just going to advise people to consume the latest version.

[2022-10-01 00:42] #2961 closed

[2022-10-03 01:35] Vailorium commented on #4052
This appears to be working fine on the main branch - it was probably resolved with #4091

[2022-10-03 01:38] Vailorium commented on #2650
@JonathanGiles

[2022-10-03 16:47] RickWinter opened #4290 "APIView for C++"
Add out-of-proc language specific apiview for C++.

[2022-10-03 16:48] MrJustinB opened #4278 "Need consistent way for capturing approvals as part of Service Partner Library creation process"

[2022-10-03 16:50] MrJustinB commented on #4278
This includes API Stewardship Board, Azure SDK Architecture Board, Azure.core, and ARM approvals

[2022-10-03 20:48] vhuseinova-msft opened #4280 "Function signature parameters with attributes cannot be parsed"
1) Some SwiftUI parameters attributes like `@ViewBuilder` can't be parsed properly for iOS APIView. In case if file contains such attributes, the file is fully skipped from json result file.
  <img width="728" alt="Screen Shot 2022-10-03 at 1 47 23 PM" src="https://user-images.githubusercontent.com/98852890/193679395-3c4fbd38-2ca2-441f-92cb-ef1e0b67adf6.png">
  <img width="729" alt="Screen Shot 20

[2022-10-03 22:06] vhuseinova-msft opened #4281 "Multi sources support for iOS APIView tool"
Currently, APIView tool for iOS can support only 1 of the following: file, folder, framework. As a git repo can contain more than 1 product, some products can share some common code that will be located outside of the project folder.

<img width="493" alt="Screen Shot 2022-10-03 at 3 01 39 PM" src="https://user-images.githubusercontent.com/98852890/193693906-474d1fd1-7a17-4333-9fb1-e096d606a092.pn

[2022-10-03 22:32] RickWinter opened #4282 "Cross-Language APIView work for GO"
https://github.com/Azure/azure-sdk-tools/issues/4033

[2022-10-03 22:33] RickWinter opened #4283 "APIView sandboxing language support for GO"

[2022-10-03 22:37] RickWinter opened #4284 "Enable CredScan in GO repo"

[2022-10-04 01:10] scbedd opened #4286 "`test-proxy push` hanging on large add operations"
To be clear, this is hanging because we're missing handling an event _somewhere_.

I say this because if I _end_ the `test-proxy push` as it is hung, all the files _immediately_ show up as added. This tells me there is something happening internally in the `ProcessStartInfo` that we aren't handling. It's not a matter of an assumption going wrong.

After speaking with a couple people who have exten

[2022-10-04 01:14] scbedd commented on #4126
This is a duplicate of #4149

Or...that one was a dup of this. Either way. Closing as dup.

[2022-10-04 01:14] #4126 closed

[2022-10-04 02:36] Vailorium commented on #4052
Issue is in the Java code, which I hadn't rebuilt since some changes were made. Reopened and looking into this again.

[2022-10-04 04:08] #4052 closed

[2022-10-04 15:23] praveenkuttappan commented on #4182
I have included CI.yaml for this new pipeline in PR #4160

[2022-10-04 15:50] praveenkuttappan opened #4288 "Link to create GitHub Issue from APIView comment is not working"
APIView allows to create an issue in GitHub from APIView comment, It opens GitHub new issue page with prefilled information when you  click on a language. This link is broken when you click on language button in comment panel from review page but works fine from conversations page.

[2022-10-04 15:51] maririos commented on #4183
This will be included with issue https://github.com/Azure/azure-sdk-tools/issues/3788

[2022-10-04 15:51] #4183 closed

[2022-10-04 16:57] rakshith91 opened #4387 "[Python APIView] hide generated overloads from API view"
https://apiview.dev/Assemblies/Review/5fbe8b98bd4a4c62be152df0f4abc3d1

I have a couple of auto generated overloads showing on the API view which I don't need.
Is there a workarounf to remove them?

[2022-10-04 17:13] maririos commented on #4029
Is there any option here to select "no special characters" ? FRom @praveenkuttappan

[2022-10-04 17:16] maririos commented on #3767
@JonathanCrd this could be a place where we could use components (like you showed us from your Hackhaton project)

[2022-10-04 17:38] maririos commented on #4104
There was a new Beta release to include the errors of the app into AppInsights.
We need to turn this feature into one App and revisit. Suggestion is API meeting

[2022-10-04 17:42] maririos commented on #4175
@praveenkuttappan could you help us here providing a design for this feature?
This should be the same for the Release Planner App

[2022-10-04 17:50] maririos commented on #4235
- We need to look into an API that helps us do ms alias -> github alias
- Is there any mapping between a service name and a github label that we could consume?

[2022-10-04 17:59] richardpark-msft opened #4291 "[stress] Is it possible resources are being deleted out from underneath tests?"
I've had a few test runs of azservicebus and azeventhubs where it seems like the Service Bus or Event Hub went down in a much harder way than expected (theory: it's being deleted out from under the test):

This is a log from one of the pods in the playground sublscription:

Info:
* ns: rpeh
* pod: processorinfinite-goeh-4-4pmrt
* pg cluster

[code]

I need to track down some more for Service Bus t

[2022-10-04 18:00] maririos commented on #4108
@JonathanCrd is figuring out the permissions for the Azure SDK bot into our testing repository

[2022-10-04 18:29] weshaggard commented on #3406
As part of this we should move to windows 2022 Compliant image instead of TLS.

[2022-10-04 21:33] ladonnaq opened #4295 "Current design will block users with products that do not map to a service in service tree."
Current design will block users with products that do not map to a service in service tree.

Not all products in service tree map to a "service".   Some services map to SGs (Service Groups).   We need have an option to select a Service Group if a user can't find the services.  This is not the standard scenario but we have had several products we are working with that will be blocked from accessing

[2022-10-04 22:21] #2764 closed

[2022-10-05 00:47] scbedd opened #4298 "Hourly Cleanup/Backup Job for `azure-sdk-assets`"
This job should run in two steps primarily.

- [ ] Backup. Wes suggested pushing any new tags to a forked Azure-sdk-assets repo. Specifically, `azure-sdk`'s fork.
- [ ] Cleanup any tags _created more than a month ago_ that do not exist in a main repo commit.

[2022-10-05 00:49] scbedd opened #4299 "Asset-Sync Tag Creation Uses Local SHA"
Right before we push a tag, we generate a new guid() to use as part of it.

`<tagprefix>_<guid>`

Wes suggested that we make this guid _actually related_ to the data that we're pushing. We have the SHA for the tag before we push it, why not use _that_ instead of a guid? We don't need to use a lot of it, just the first 8 characters or so.

This has the knock-on effect of allowing us to restore dele

[2022-10-05 00:54] JimSuplizio opened #4300 "Consider updating the TagPrefix in assets.json to match the sparse checkout path"
Here's an example of an initial assets.json created in the azure-sdk-for-java\sdk\attestation directory, the way things are today
{
  "AssetsRepo": "Azure/azure-sdk-assets-integration",
  "AssetsRepoPrefixPath": "java",
  "TagPrefix": "java/attestation",
  "Tag": ""
}
The TagPrefix definition `"<Language>/<ServiceDirectory>" or "<Language>/<ServiceDirectory>/<library>" or deeper if things are nest

[2022-10-05 04:01] antkmsft opened #4304 "Can't upload an ApiView file more than 50MB."
When I upload an ApiView file to create a review, and the file is >50 MB, I get HTTP 413 "Request entity too large".
Maybe it has something to do with some server settings, where the app is deployed on.

[2022-10-05 04:05] antkmsft commented on #4304
Maybe this will help: https://techcommunity.microsoft.com/t5/iis-support-blog/solution-for-request-entity-too-large-error/ba-p/501134

[2022-10-05 18:43] tjprescott commented on #4182
Merged in #4160.

[2022-10-05 18:43] #4182 closed

[2022-10-05 18:45] tjprescott commented on #4281
For cases where projects share common code, you should use the framework option.

[2022-10-05 18:47] tjprescott commented on #1208
https://github.com/Azure/azure-sdk-tools/pull/4160

This has been completed.

[2022-10-05 19:22] benbp opened #4305 "[stress testing] Pass docker build args/env vars from scenario matrix"
Since a lot of the test parameters end up just being baked into the customized dockerfile for the test scenario (as opposed to via command line params or environment variables), we will get more utility out of the scenario matrix generator if we also passed in the matrix parameters to the docker build step.

CC @ckairen @richardpark-msft

[2022-10-05 19:37] richardpark-msft commented on #4305
One example we discussed as swapping out the base image to use different runtimes (ie, multiple versions of Python, different .NET framework runtimes, different versions of Go for the build image, etc..)

[2022-10-05 20:49] praveenkuttappan commented on #1208
Reopening this to track integration within APIView to support creating manual API review for CADL.

[2022-10-05 20:50] maririos commented on #1208
Could we create a separate specific issue for this work?

[2022-10-05 20:57] praveenkuttappan commented on #1208
I will reopen 3604.

[2022-10-05 20:57] #1208 closed

[2022-10-05 20:59] praveenkuttappan opened #4306 "Support creating manual API review for CADL"
Add CADL manual API review gen in APIView

[2022-10-05 20:59] praveenkuttappan commented on #1208
Actually filed a new issue: https://github.com/Azure/azure-sdk-tools/issues/4306

[2022-10-05 21:07] mikeharder opened #4307 "[test-proxy] Test proxy adds `traceparent` header"
It appears that `test-proxy` is adding a `traceparent` header that was not present in the incoming request (the `Content-Length` header is covered by #4239):

[code]

Servers will likely ignore this header, but technically `test-proxy` should not be adding it.

[2022-10-05 21:42] mikeharder commented on #4239
This issue is a little complex because `test-proxy` needs to properly mirror two similar client requests:

1. No body, no `Content-Length` header
2. No body, with `Content-Length: 0` header

`test-proxy` cannot disambiguate these requests by only inspecting the body, it also needs to check whether the `Content-Length` header was present on the incoming request.

[2022-10-05 22:21] scbedd commented on #4286
And now it's not repro-ing in tests 👎

[2022-10-05 22:42] MrJustinB commented on #3951
Is this a process or tooling improvement?  Update Issue to reflect correct Area please

[2022-10-05 22:59] tjprescott commented on #4306
Is this the file where you need the commit hash? Would this also enable PR and automatic APIViews?

[2022-10-05 23:26] maririos commented on #3951
Great question. The way I see it is to modify tooling and drive process change with it. For now I will put it in Tooling

[2022-10-05 23:29] maririos opened #4312 "How does OpenApiHub is affected by the Release Planner app?"

[2022-10-05 23:33] maririos commented on #4109
@weshaggard do you know if there is aleady tooling or a document somewhere that contains this mapping?

[2022-10-06 00:15] weshaggard commented on #4109
We do have some tools that we run from time to time to sync labels across the repos. We also have label mappings in our code owners files see https://github.com/Azure/azure-sdk-for-net/blob/main/.github/CODEOWNERS#L23 which we used to help configure our bot that labels PR.

If we want the scheduling app to add the right label we will need to figure out how to map the service team with the correct

[2022-10-06 00:23] #4239 closed

[2022-10-06 00:29] scbedd commented on #4239
@timovv I have merged a piece of code that I believe addresses this problem. Once I have a docker image and nuget version published, I'll cut an eng/common PR to make the bugfix available to all the repos (including _your_ repo 👍)

[2022-10-06 16:15] praveenkuttappan opened #4320 "APIView- namespace node is not expanding"
Namespace node in left side navigation panel is not expanding once it is collapsed.

[2022-10-06 18:03] tjprescott commented on #4280
@vhuseinova-msft can you please update to the latest version of Swift APIView and try again? I just wrote a test and it worked fine:

<img width="531" alt="image" src="https://user-images.githubusercontent.com/5723682/194386276-da4a6376-0e30-49a4-8090-561d5935d879.png">

[2022-10-06 18:13] vhuseinova-msft commented on #4280
@tjprescott, unfortunately, the result is still the same
<img width="695" alt="Screen Shot 2022-10-06 at 11 05 03 AM" src="https://user-images.githubusercontent.com/98852890/194387828-a41f0409-86db-4a96-8f6f-bb9cda3108a8.png">
can't be parsed and leads to
<img width="1722" alt="Screen Shot 2022-10-06 at 11 11 43 AM" src="https://user-images.githubusercontent.com/98852890/194387879-59e9bf3f-4e55-41

[2022-10-06 18:21] scbedd commented on #4286
I believe this is a conflict between `process.StandardOutput.ReadToEnd();` and `Process.WaitForExit()`.

I am claiming (with no real proof) that when invoking an operation with a lot of _output_, we are filling an internal buffer. Given that we're synchronously reading from the process, we may end up in a deadlock.

This is due to the fact that the child is waiting for the parent to empty some of

[2022-10-06 18:36] vhuseinova-msft commented on #4280
Also,

are repoducable too

[2022-10-06 18:38] maririos opened #4323 "Update List of meetings date to include Time Zone"
Currently this is what our customers see:
<img width="836" alt="image" src="https://user-images.githubusercontent.com/9868623/194392579-3a00f659-8ed3-4348-bdf8-52469c948cb7.png">

We need to make sure to add `PT` to the date so there is no confusion on the actual time of the meeting

[2022-10-06 18:43] maririos opened #4324 "Add a tooltip or similar for Contact us when service needs a special time request"
The way it is right now, if the service can't accomodate to our dates, they need to go to the left panel and click in `Contact Us` or email/text a PM they know about to request for a differnt time slot.
We could add something in our UI with that message:
<img width="623" alt="image" src="https://user-images.githubusercontent.com/9868623/194393348-3d797df7-d059-4157-ac72-35233582c254.png">

[2022-10-06 18:47] maririos opened #4325 "Block reviewers' calendar with potential time slots"
We need to guarantee that the reviewers for a meeting have their calendar blocked for the available slots that are displayed in our Scheduler app. Currently those invites are manual and are creating confussion.
It will be ideal if the scheduler app send a placeholder to the reviewers when a time slot is set.
Other questions to consider:
- Is there a way to update an instance of that placeholder wi

[2022-10-06 18:50] maririos opened #4326 "A meeting was scheduled at a wrong time"
A user located in India created a meeting, and for some reason the Outlook event for that review was scheduled at 9:30 PM Pacific time. The tracking github issue had written `9:30 PM PT` too which is wrong.

[2022-10-06 19:26] JonathanCrd opened #4327 "Verify that apps support switch from Daylight Savings to Standard Time"
This is a big problem. What I have noticed:
- The App is already doing -1h to the dates. So for example, if the meeting is Tuesdays as 9am PT, the calendar will show Tuesday 8am
  - If this time slot is selected, the calendar invite (Outlook) adjusts the date too, so it does -1h, which leaves the start time at 7am PT , which is not what we want.
- When updating something on an app, our logic thing

[2022-10-06 19:57] ladonnaq commented on #4248
@maririos - I have 2 Azure SDK Informational Meeting wiki pages.

### Azure SDK Information Meeting

#### AKA links

- [ ] Create new AKA for https://aka.ms/azsdk/onboarding/informational, link to wiki page - https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/773/Azure-SDK-Informational-Meeting
- [ ] AKA link to the scheduling tool information meeting power app - https://aka.ms/azs

[2022-10-06 20:14] maririos commented on #4248
It turns out I am not an owner of `https://aka.ms/azsdk/onboarding/informational,` I have requested access to it so I can modify it with the new wiki you created

[2022-10-06 20:26] maririos commented on #4323
Change done:
<img width="390" alt="image" src="https://user-images.githubusercontent.com/9868623/194411767-4b4c75d6-1612-4f99-aeaa-23cd9cdfbc41.png">

[2022-10-06 20:33] maririos commented on #4323
I wasn't able to publish SDK Review app to DEV becuase of other errors not related to this change. Will need to keep looking

[2022-10-06 20:49] ladonnaq commented on #4248
Great, I could not find the link aka tool so did not know who owned it.  :-)

[2022-10-06 21:01] #4286 closed

[2022-10-06 21:33] ladonnaq commented on #3788
### _**Requirement: Meeting title = Azure SDK information meeting: data plane follow-up + product name**_
### _**Requirement: Azure SDK Informational Meeting: data plane follow-up - body of the calendar invite**_

Thanks for scheduling an Azure SDK informational meeting: data plane follow-up.

This meeting can be updated only through the scheduling app [here](https://aka.ms/azsdk/scheduleinformati

[2022-10-06 21:34] ladonnaq commented on #3788
@maririos - I will create another issue for the default information meeting.  This is for the alternative flow (data plane follow-up).

[2022-10-06 21:34] kyle-patterson opened #4331 "Service names not appearing in list"
Several service names seem to be missing from the service list, such as Azure Communication Services, Azure Storage, and Azure Web PubSub...

[2022-10-06 21:36] kyle-patterson commented on #4331
Azure SDK appears to be missing as well

[2022-10-06 21:49] ladonnaq opened #4333 "Azure SDK information meeting email template"
Requirement: Meeting title = Azure SDK information meeting + product name

Requirement: body of the email invite

Thank you for scheduling an Azure SDK information meeting.

This meeting is designed to help service teams who are engaging the Azure SDK team to complete APIs/SDKs for new APEX products, which may require new APIs or new API version and new or new SDK versions.

This meeting can be up

[2022-10-06 21:50] ladonnaq commented on #4333
@maririos I will finish this up later this evening.  I need to add email templates.

[2022-10-06 22:34] maririos commented on #4331
Interesting. The service names are comming from Service Tree. @ladonnaq how do we handle this? Do these services have another "Service Name"?
Is Azure SDK another Service Name? or you mean our team?

[2022-10-06 22:40] maririos commented on #3788
We have been using the format `[Service name - subservice/product name] - Azure SDK Information meeting: data plane follow - up` for the REST and SDK meetings, will you liek this format too?

Also, I added `<Service name - Product name` do you prefer only the product name?

[2022-10-06 22:58] maririos commented on #4333
Two questions:
- We cuerrently don't have product name in the scheduling tool (issue chuchuchu ) so what about service name?
- The format for the other meetings is `[Service name - sub service/ product name] - <name of meeting>` would you like to follow this format too?

[2022-10-06 23:01] tjprescott commented on #4280
`none` is a reserved keyword in Swift. You should quote it with backticks and it will parse.

[2022-10-06 23:44] ladonnaq commented on #4333
I will open a requirement to change the scheduling tool blade and logic. We should have the drop-down box for product. I sent you an email Wei sent to Ronnie and Sandeep regarding using dataverse for the dashboard they built. Wei is also getting data from Cloud Lifecycle Kustos tables.  Until we implement the product box you can use service. We can update later.

[2022-10-06 23:44] ladonnaq commented on #4333
Format is fine for now but I do want product when it is implemented.

[2022-10-06 23:58] maririos commented on #4333
Ohh so preference is to have product over service. Got it.
Yes we can do service for now, and once we have product then move with that.

Thank you!

[2022-10-07 00:01] maririos commented on #4247
We looked into this and it is because I am an explicit reviewer on the DEV environment for this meeting.
It is not an issue for our customers so closing

[2022-10-07 00:01] #4247 closed

[2022-10-07 00:06] maririos commented on #4248
Link has been updated :)

[2022-10-07 00:07] maririos commented on #4248
IF product ADO work item field or dataverse table field "information mtg data followup" state equals incomplete, THEN use the https://aka.ms/azsdk/scheduleinformational ELSE use https://aka.ms/azsdk/onboarding/informational.
TODO: I will open a GitHub issue for Azure SDK Release Planner Beta V1 for the "information mtg data followup" field.

Sounds good!
So looks like this issue is all done, right

[2022-10-07 00:23] ladonnaq commented on #4333
Yes that is correct! Thank you! I will add the email reminder info in the morning.

[2022-10-07 00:33] ladonnaq commented on #4248
Correct this is done. This issue will have a dependency on the issue I need to open for the "informational mtg data followup".  I will open that tomorrow.

[2022-10-07 03:03] mikeharder opened #4336 "[Perf] Update package versions"

[2022-10-07 15:36] #4066 closed

[2022-10-07 16:16] #4248 closed

[2022-10-07 16:27] maririos commented on #4323
Informational and API Review meetings in PPE contain the change

[2022-10-07 16:32] #4280 closed

[2022-10-07 17:24] JimSuplizio opened #4338 "Language repositories are going to need .assets added to their respective .gitignore files"
When a user executes test-proxy restore -a <pathToAssets.json>\assets.json, by default it'll create an **.assets** directory in the root of the repository. Git status shows this as untracked and it shouldn't be showing up at all.
[code]

[2022-10-07 17:56] #4299 closed

[2022-10-07 18:50] #4291 closed

[2022-10-07 19:30] richardpark-msft commented on #4291
To add some more details, this looks like it's a legitimate bug in the stress test _code_, not in the watcher. So this'll be re-enabled.

[2022-10-07 19:34] tjprescott opened #4340 "ACS Calling needs to be migrated to use unified pipelines"
Currently, the only language for the AzureCommunicationCalling library that goes through our unified pipeline is iOS. All tier1 languages use the partner pipeline for release. This results in Calling releases bypassing a crucial SDK quality check--the APIView gating mechanism for GA versions.

Calling releases as binaries because they essentially wrap C++ libraries, but we should still route them

[2022-10-07 22:24] weshaggard commented on #4340
@tjprescott do you know how they release today? Are they using the partner release pipelines?

[2022-10-07 23:22] maririos commented on #4333
Tables updated:
- Reference Documents:
  - Core Concepts document guidance link
  - Architecture document guidance link
  - Informational Meeting - Wiki Link
- SDK Email:
  - Informational Meeting Confirmation Email
- Event Settings: add Teams channel link -> this should be done from the Admin app

[2022-10-07 23:22] maririos commented on #4333
Template has been updated and published in the DEV app. @ladonnaq I sent you the email so you could take a look and give me feedback :)

[2022-10-07 23:36] maririos opened #4342 "When updating any field of an Informational meeting, the calendar invite includes a table with date updates"
Notice how the date changed, not the hour

![Image](https://user-images.githubusercontent.com/9868623/194675545-b910fa75-c117-4396-9c21-e6fc7bec5ba4.png)

[2022-10-07 23:41] maririos commented on #4323
After looking more, this is not an issue so we need to remove `PT` :P
I have removed it from:
- Informational
- SDK

[2022-10-07 23:49] scbedd opened #4343 "Define "You tell me what to keep" mode"
Right now, the test-proxy records **everything** that we can from incoming requests, applying configuration and base sanitization on the resulting recordings.

@LarryOsterman would prefer that the test-proxy record _nothing_ by default, and instead be instructed via some mechanism to only keep certain parts of the request.

This issue tracks the addition of such a feature.

[2022-10-08 00:05] maririos commented on #4342
Ugh, daylight savings is the one causing all of this.

[2022-10-08 00:06] #4342 closed

[2022-10-08 03:22] honghr commented on #4268
@maririos I also cannot replicate the issue. Can you try again? If you can get this error, please ping me

[2022-10-08 03:40] honghr commented on #4267
@maririos I cannot replicate this issue. But According to your screenshot, I suppose that your network is unstable and the page fails when loading data.

[2022-10-08 08:03] live1206 commented on #4263
This has been resolved in the App

[2022-10-08 08:03] #4263 closed

[2022-10-08 08:34] live1206 commented on #4271
@maririos Updated to schedule an informational meeting.
How can we pass along the selected service to the informational meeting page?
As I can see, the scheduler tool only accept `eventID` in the URL query: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/728/Scheduler-Experience-App?anchor=additional-information

cc @JonathanCrd

[2022-10-08 09:18] live1206 commented on #4260
Fixed in the App

[2022-10-08 09:18] #4260 closed

[2022-10-10 05:58] gaobob-msft commented on #4340
@weshaggard yes we use the partner release pipeline. @tjprescott are there instructions/wiki anywhere on how to migrate to the unified pipeline?

[2022-10-10 07:43] live1206 commented on #4259
Updated in PPE

[2022-10-10 07:43] #4259 closed

[2022-10-10 14:04] maririos commented on #4271
You will need to add an entry on Data verse with the information you have. See more information here: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/728/Scheduler-Experience-App?anchor=integrate-the-scheduler-app-with-another-powerapp

[2022-10-10 14:09] maririos commented on #4267
Hmmm I couldn't repro it again. Closing issue

[2022-10-10 14:09] #4267 closed

[2022-10-10 14:11] maririos commented on #4268
Thank you all. Couldn't repro. Closing isue

[2022-10-10 14:11] #4268 closed

[2022-10-10 14:12] maririos opened #4345 "Consider adding the ADO workitem in warning message"
When this warning message is displayed, it will be good to include the ADO workitem link so the user can look at the information adn then decide what to do:

<img width="545" alt="image" src="https://user-images.githubusercontent.com/9868623/194886251-d06bbf13-9fa7-41be-9e0f-50b5181436e6.png">

[2022-10-10 17:30] JimSuplizio commented on #3722
@benbp, the assets repository can store anything deemed to be a test asset. .json files just happen to be the thing that's common across any of the languages that utilize record/playback but we could ultimately end up with other types of assets. Like @scbedd mentioned in the description, the temporary python files would probably be something to ignore as would any potential temporary files for oth

[2022-10-10 17:50] maririos commented on #4104
@praveenkuttappan  has turned this on for the Informational meeting :)
We need to keep looking into how to make this information useful

[2022-10-10 17:57] maririos opened #4347 "Identify a way to figure out how the scheduling app was triggered"
Example:
- One off
- Azure sDK Release Planner app

[2022-10-10 18:06] JimSuplizio commented on #4338
@benbp is going to be adding the .gitignore to Go since he's already working on an assets PR.

[2022-10-10 18:09] maririos opened #4349 "Create a EnvVar for the version number"
Instead of manually changing it in every app before a release, we can add it as an env variable

[2022-10-10 18:11] maririos opened #4350 "In API Reviews, if the user specifies a previous GitHub Issue to reuse, then we shouldn't ask for the repo"
If the user is providing the GitHub issue link to reuse, then we need to get the repo from that link instead of asking it.

Should we also check that the PR and Issue provided are in the same repo?

[2022-10-10 18:32] maririos commented on #4331
This is a limitation that we have with the data we are getting. @ladonnaq is looking into this to see how we can get unblock

[2022-10-10 18:32] maririos commented on #4331
FYI this is also needed for the other scheduler apps and fro the Release Planner App

[2022-10-10 18:34] maririos commented on #4331
While we figure this out, we can add an input field for it

[2022-10-10 18:35] benbp commented on #4338
Go PR that includes the gitignore change: https://github.com/Azure/azure-sdk-for-go/pull/19322

[2022-10-10 19:19] benbp opened #4352 "Test Proxy asset transition script should enforce minimum test proxy version"
I just tried running the asset transition script, and since I've been using/testing proxy via docker, my actual test proxy binary version is many months old. This resulted in the `restore` command "hanging" because the sub-command was ignored and it started just running the test server instead (but the logs were swallowed so it just appeared to hang).

We should check a minimum version via `test-p

[2022-10-10 20:17] mikekistler opened #4353 "AzureRestAPISpecReview bot incorrectly removes NewApiVersionRequired label"
In [PR 20745](https://github.com/Azure/azure-rest-api-specs/pull/20745), the openapi-pipeline-bot correctly added the "NewApiVersionRequired" label

<img width="566" alt="image" src="https://user-images.githubusercontent.com/85643503/194945429-c29718c9-83f2-42d0-b497-469c8b927723.png">

But then 12 days later the AzureRestAPISpecReview bot removed it:

<img width="579" alt="image" src="https://use

[2022-10-10 20:40] kurtzeborn commented on #4300
Not sure if this goes to you Jim or Scott.  Please reassign if I got it wrong.

[2022-10-10 20:44] ladonnaq opened #4354 "Support for use case involving products that do not map to a service"
### Use case 2:
A new product in scope for APEX does is not mapped to a service in service tree.  The engineering lead access the Azure SDK Release planner for the first time to complete the SDK onboarding Questionnaire.

### Issue with current design:
Azure SDK Release Planner request a user to enter the service that the product is mapped to at login.  The context for the Azure SDK Release Planne

[2022-10-10 20:45] maririos opened #4355 "Prod Service Profile information not up to date"
We got a service today that couldn't find their name in our app. After looking into it, the `Sync Up Service Tree` hasn't run in Prod environment for more than 3 weeks. It was turned off and it is erroring with an invalid connector.

[2022-10-10 20:46] maririos commented on #4355
FYI @markweitzel

[2022-10-10 20:46] kurtzeborn commented on #3172
Pretty sure we've got this sorted out now.  If anyone sees this still happening, please re-open and provide a pointer/details to what you're seeing.

[2022-10-10 20:46] #3172 closed

[2022-10-10 20:49] kurtzeborn commented on #3154
This is probably only interesting after we get our test recordings out of our language repos.  Then it will be worth assessing whether this makes any difference/improvement.

[2022-10-10 20:51] benbp commented on #3172
I'm not seeing any recent hits of this:

[query](https://dataexplorer.azure.com/clusters/azsdkengsys.westus2/databases/Pipelines?query=H4sIAAAAAAAAA3WPwQqCQBCG7z3FtCcFQ8NTgR2ki2C3XmB0Jx1wZ83dJYoePiWwU9f5v4//nzLwoGvb1Sy0ecOjp4ngyoacRzPCCbCzUZ7peA3LxTjTjYU9W6k0FAWoPDtkamUu5Bx2BK0VjywOFJr7eAyCwfd24hfpHbbtTClA0Su//QmpWJnIT4zNQOlffa50wRhcjnNdEB/F0DyhYYnWNxLY6zj5Lq/0B+eqLXTzAAAA)

[code]

[2022-10-10 20:51] kurtzeborn commented on #3112
There is a larger topic to discuss on whether we want GH CLI as a dependency on our pipelines.  It handles errors differently than PowerShell too, so we'd want to be sure we get sufficient benefit for the added complexity of doing this.

[2022-10-10 20:54] kurtzeborn commented on #3106
We looked at this last week and it's not where we hoped it would be.  Still keeping an eye on it, but there's no clear task/work right now beyond paying attention to these tools progress.

[2022-10-10 20:54] #3106 closed

[2022-10-10 22:21] benbp opened #4356 "[stress testing] Stress watcher deletes test resource groups on container restart"
Some events in the cluster, such as a node reboot, will cause the pod to reach a terminating state, and a new pod to be re-scheduled on a new node. The first pod event triggers the watcher to delete the underlying resources, despite the test still running on a new node. We need to figure out a way to skip completion hooks in the watcher when they are actually pods getting re-scheduled.

CC @ckaire

[2022-10-10 22:24] benbp commented on #4356
Perhaps we can change the watch to job events, or at least check the job status on a pod event to exclude `Running`.

[2022-10-10 22:28] richardpark-msft commented on #4356
@l0lawrence, this is probably what happened to your test.

[2022-10-10 22:28] benbp commented on #4356
For posterity, some investigative tools for rooting out node reboots:

You can see these changes with these two queries against [stress-pg - Microsoft Azure](https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-stress-cluster-pg/providers/Microsoft.ContainerService/managedClusters/stress-pg/logs)

[code]

This shows y

[2022-10-10 23:11] weshaggard commented on #4340
In order to move the unified pipeline you would need to move the code into our public mono repos and build and release from there. If you cannot do that for some reason I'd like to better understand but then your only option is to use the partner release pipeline which currently doesn't support the APIView check.

[2022-10-10 23:55] heaths opened #4357 "Validation should not err on missing `type: object` in model"
Since OpenAPI models are considered `type: object` by default (rather, per JSON schema), why do we need the `MissingTypeObject` error validation? It's not hard to add it, but just seems like unnecessary friction since it's the default anyway.

[2022-10-11 01:54] #2281 closed

[2022-10-11 01:55] #2650 closed

[2022-10-11 03:03] maririos commented on #4355
Flow is up and table has been updated.

[2022-10-11 03:03] #4355 closed

[2022-10-11 03:27] maririos commented on #4323
Removed from API meeting

[2022-10-11 03:27] #4323 closed

[2022-10-11 03:32] live1206 opened #4359 "Add "Release Planner App Test" tag for ADO work items in non-Prod environment"

[2022-10-11 04:09] maririos commented on #4238
Tested in PPE and all apps are working as expected. I honestly don't remember how I found this or from which app.
I will close this issue and re-open if needed

[2022-10-11 04:25] #2505 closed

[2022-10-11 04:27] maririos opened #4360 "Subservice option`Default` value is added and `None` is removed when a new subservice is added"
Found in SDK Review meeting:

When the app is loaded and a service is selected, the subservice field appears and here is how it looks:

![Image](https://user-images.githubusercontent.com/9868623/194996927-95b3f49d-45a8-4ede-979b-dc4a842834a5.png)

After adding a new subservice, `None` disappears and `Default` is added

![Image](https://user-images.githubusercontent.com/9868623/194997093-b3d67dc0-7

[2022-10-11 04:31] maririos commented on #4238
Just saw this happened in Prod with a real meeting update.
See https://github.com/Azure/azure-rest-api-specs/issues/20922 as example

[2022-10-11 04:32] maririos commented on #4238
@JonathanCrd  could this be a permission issue? what else could be the difference between Prod and PPE for this specific case?

[2022-10-11 10:08] live1206 commented on #4271
The service is pre-selected in the informational meeting page now, change deployed to PPE.

[2022-10-11 10:08] #4271 closed

[2022-10-11 10:33] raych1 commented on #4357
Here's the abstract of the rule definition, with type: object or without it have different types in generated SDK. For details, please see [rule#4037](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r4037-missingtypeobject)

[code]

[2022-10-11 16:17] JimSuplizio commented on #3960
@scbedd this shouldn't be terrible, there's [one function to change](https://github.com/Azure/azure-sdk-tools/blob/main/tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs#L506) and it only affects the assets.json, and has nothing to do with anything else like ascertaining the location of the repo root. I've assigned this to me.

[2022-10-11 16:27] raosuhas opened #4362 "TopLevelResourcesListBySubscription should not fire for extension resources"
Example failed run : https://github.com/Azure/azure-rest-api-specs-pr/pull/9070/checks?check_run_id=8809421296

The   path "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/multiXConfigurations":

is an extension resource and does not need a top level resource list by subscript

[2022-10-11 16:57] heaths commented on #4357
@lmazuel can you follow up on this? I seriously doubt any track 2 code generators make this distinction. .NET is the only runtime (/C# language) that even has a distinction between structures vs. classes and we certainly don't use the presence of `type: object` to make that distinction. In fact, the only time we generate structs currently is for extensible enums (`modelAsString: true`).

I would a

[2022-10-11 18:37] mikekistler commented on #4362
I just discovered that this issue has already been reported, [#398](https://github.com/azure/azure-openapi-validator/issues/398), and the fix is already in PR,  [#399](https://github.com/azure/azure-openapi-validator/pull/399).

[2022-10-11 18:57] #3960 closed

[2022-10-11 19:17] JimSuplizio opened #4365 "Consider using the absolute path to the assets.json as the local cache key instead of the relative path"
With the changes to [optimize the restore path to minimize disk reads/writes](https://github.com/Azure/azure-sdk-tools/pull/4105) a cache was added where we're using the AssetsJsonRelativeLocation as the key. I'm not 100% if the relative path is unique enough. As I found out while trying to write a [testcase](https://github.com/Azure/azure-sdk-tools/blob/main/tools/test-proxy/Azure.Sdk.Tools.TestP

[2022-10-11 19:54] maririos commented on #4271
Yes!!! woohooo
The only thing to note is that youa re targetting PPE scheduler app whcih is good for now and I like that both apps are targeting same environment. IS the idea that when Release planner moves to Prod that the link will be for Scheduler prod too?

[2022-10-11 19:58] JonathanCrd commented on #4326
I spotted several problems that need to be addressed regarding this issue:

- [x] The time of the Outlook Event is incorrect
        FIXED: Since we were using Local Time at the start, we don't need to convert or check the status of the toggle again. Removing that from the Start/End build section worked.

- [x] GitHub seems to use the Local Time Instead of PT
        FIXED: The EmailParams were us

[2022-10-11 20:04] JonathanCrd commented on #4326
For the last problem, this seems to be something that has been there even before making any changes.

[2022-10-11 20:21] maririos commented on #4345
Another question: Will I get the warning if the issue was closed?

[2022-10-11 20:24] JonathanCrd commented on #4243
Fixed, if something failed in the process, it was changing the date of the record to `Blank()`, however, this is only true for new meetings, for existing meetings we should be resetting the date back to the original date, not `Blank()`.

So, I changed `{ crf3c_date: Blank()}` to `{ crf3c_date: If(mode = "new",  Blank(), _eventRecord.Date)}` in the patch operation.

[2022-10-11 20:41] #4243 closed

[2022-10-11 20:43] JonathanCrd commented on #3857
For this, as a first step, I'm going to create a new view in the Admin app, and for this current release (beta.7) just display them and maybe have a button to go to the corresponding app with the app ID.

[2022-10-11 21:01] MrJustinB opened #4370 "Typo in scheduling tool"
<img width="982" alt="image" src="https://user-images.githubusercontent.com/105250266/195197493-5c8cf215-fa88-43ee-8839-340cc24e30ff.png">

Should be 'your', not 'you're'

[2022-10-11 21:29] maririos opened #4371 "How should we save and surface the ADO workitem that was created from the Release Planner App into the Scheduler app?"

[2022-10-11 21:31] #4146 closed

[2022-10-11 21:35] scbedd commented on #4352
Minimum test-proxy version should be `1.0.0-dev.20221007.3` IMO.

This is the latest version that has the fixed `buffer` problems AND Jim's `--tags` fix.

[2022-10-11 21:38] maririos commented on #4370
Thank you!!!

[2022-10-11 21:52] JimSuplizio commented on #4352
@scbedd We're going to need the test-proxy that uses the CLP version changes that were [checked in today](https://github.com/Azure/azure-sdk-tools/pull/4366) in order to do the version check. Pre-CLP version, the --version will spit out the version but also start the proxy which we don't want here.

[2022-10-11 22:58] scbedd opened #4374 "CLI Integration Tests Exercise `Reset` Input on against Docker"
#4344 resolved for `push` and `restore`, but the `Write-Output | & test-proxy` methodology doesn't work with `docker run`.

Need to find a better way to test this, but it's lower priority than working through the real integration issues at this point. Filing this issue to track this work.

[2022-10-11 23:20] weshaggard commented on #4340
Ok So the question would be do we want to start blocking partner release pipeline on APIView check. I think that may cause a lot of issues. There are a number of teams using that for releasing that for track 1 libraries aren't working with our team for API reviews and we would end up blocking them and/or cause more work on our team to review those.

So what is the suggestion here?

[2022-10-12 00:22] JonathanCrd commented on #3857
I implemented a new screen in the Admin App to monitor all upcoming meetings. To achieve this, I created a new View in the `Events` table that filters out meetings that are `In Progress` and whose dates are in the next 365 days. Then I use that view into a component with a gallery to display the information. From this new screen, admins can open the GitHub issues for the reviews or the full detail

[2022-10-12 00:31] #3857 closed

[2022-10-12 00:36] heaths opened #4375 "APIView should somehow block PRs from being merged in GitHub"
With swagger/Cadl support coming online for APIView, I feel one important feature that's needed is to somehow block PRs on GitHub from being merged while there are unresolved comments. Ideally, showing those comments on appropriate lines in the PR would be nice so we're not forced to use separate tools- GitHub and APIView - but perhaps consider that a stretch or I can open another issue.

At the v

[2022-10-12 00:36] live1206 commented on #4271
Yes. Release Planner in Prod will link to Scheduler Prod.

[2022-10-12 00:37] JonathanCrd commented on #4237
This has been resolved in https://github.com/Azure/azure-sdk-tools/issues/3857 by adding a `Cancel` button on the Meetings list in the Admin App.

However, I have 2 questions:

1.  The current message shown in the email and the GitHub tracking issue is: "Cancelled by System Admin". Is this ok? Or would it be helpful to show exactly who cancelled the meeting?
2. Do we want this cancel button to als

[2022-10-12 00:37] #4237 closed

[2022-10-12 00:39] JonathanCrd commented on #3834
This seems to be related to:
- https://github.com/Azure/azure-sdk-tools/issues/4237
and
- https://github.com/Azure/azure-sdk-tools/issues/3857

Adding those issues for context.
We could add a special textboxt to modify the default message `Cancelled by <person>` that we use right now.

[2022-10-12 00:43] JonathanCrd commented on #4326
@praveenkuttappan do you know if your changes regarding Daylight savings time fixed the issue of weird time slots when switching  between time zones?

[2022-10-12 02:51] #3834 closed

[2022-10-12 04:01] #4359 closed

[2022-10-12 04:02] honghr commented on #4359
Resolve

[2022-10-12 05:54] #4345 closed

[2022-10-12 05:54] honghr commented on #4345
resolved

[2022-10-12 08:00] lirenhe opened #4381 "[PowerApps] Decide what information would be displayed after the SDK is released"
This is to follow up with the discussion the EngSys sync up meeting.

There are a couple of thinkings.
1.  Release pipeline would provide the link of the released SDK but for some language, it takes time to get the link of the released SDK.
2. Use a template to combine the information for the link of the released SDK.
3. Shall we provide other information like installation guide, etc

No conclusio

[2022-10-12 17:13] tjprescott opened #4384 "[APIView] Comments are "lost" when a method signature changes"
Changing a method signature can cause a comment to vanish into the Conversations tab. This happens when a change to a signature results in a change to the "definitionId" for a signature.

[2022-10-12 18:17] scbedd opened #4386 "Add `podman` and `docker` support to the transition script"
@JimSuplizio has a great script put together. I am going to do the same thing I did with #4344 to enable the usage of docker/podman for the initial setup experience.

[2022-10-12 19:09] JonathanGiles commented on #4099
An alternative solution for consideration: could we instead use the approach I outline in #2449 to have diagnostics that are critical blockers, and then write diagnostics per language that validate against ecosystem artifacts in nuget, maven central, etc?

[2022-10-12 21:26] tjprescott commented on #4387
When you say "I have a couple of auto generated overloads showing on the API view which I don't need." what do you mean? If you don't need the overloads at all, that sounds like Autorest (or DPG). If you mean you don't need them to show up on APIView... that's.. trickier.

[2022-10-12 21:39] maririos commented on #3994
Meeting notes:
- scheduler will be useful once the apiarmreview board selects a specific time slot
- APIView swagger features will be helpful here too. Start sharing information and once diff is available, make sure to share that too.

Follow up next week

[2022-10-12 21:45] tjprescott commented on #4340
My suggestion would be:
1) yes add APIView gate release check to partner pipelines
but
2) we specifically opt services into that check. Right now it would just be the ACS Calling and UI libraries, I think. That way all those services for which it doesn't make sense aren't unnecessarily blocked.

[2022-10-12 21:58] tjprescott opened #4389 "[Cadl APIView] Honor --no-emit and support output-dir option"

[2022-10-12 22:03] maririos commented on #3859
Admins can currently update a meeting. With the work on https://github.com/Azure/azure-sdk-tools/issues/4237 they will also be able to cancel a meeting.

[2022-10-12 22:05] maririos commented on #3558
This has been done for all meeting types until requested again by specifc admins

[2022-10-12 22:05] #3558 closed

[2022-10-12 22:06] maririos opened #4390 "Revisit calendar component"
Current problems with existing component:
- No ability to set more than one time slot per day
- TimeZone bugs

The calendar is also fetch from a table that takes as information a day, hour, minute. The problems with this approach is that it doesn't let the adminds:
- Cancel/block a specific timeslot https://github.com/Azure/azure-sdk-tools/issues/3983
- Recurring meetings in a specific cadence htt

[2022-10-12 22:11] maririos opened #4391 "Consider adding Language to the title of the SDK meeting"
For example, the format could be: `[<complete service name>] SDK Review - <type> <language>`.

We can currently do this if the customer provided API View links at the moment of creating the meeting. If new links are added, the tittle won't be updated.

Another consideration could be to add an entry asking the customer to specifcy the languages that would be reviewed. This means:
- Add them to the

[2022-10-12 22:44] kristapratico commented on #4387
I think this would ideally be solved in the generator. Even if we hide the generated overloads in APIview somehow, the overridden overloads will still not play nice with type checkers

[2022-10-13 01:51] live1206 commented on #4354
@ladonnaq  As we offline discussed, most of the products have a mapping service. The only exception we encountered now is `Azure Playfab`. We could talk to the Product team to figure out why they are not mapping to any service.
We do not need to implement a way for this case for now.

cc @maririos

[2022-10-13 03:13] Vailorium opened #4393 "Replace UserPreference container with UserProfile implementation"
With changes coming in #4361 regarding adding user profiles, it makes more sense to bring the user preference objects and table into the table used there, so all details of a user's status within APIView are in one place. This would require removing the UserPreference table added in #4070, and having the cache load to and from the UserProfile system instead.

[2022-10-13 03:32] dw511214992 opened #4394 "Migrate adding/deleting label from kebab bot to PR summary pipeline"

[2022-10-13 03:34] dw511214992 opened #4395 "CDAL+DPG: Package quickstart document based on docker container"

[2022-10-13 06:36] dw511214992 opened #4397 ".Net track1 sdk automation pipeline bugfix: openssl 1.0 is not supported in latest pipeline agent"

[2022-10-13 06:36] dw511214992 opened #4398 "CADL+DPG: caculate cadl project in unified pipeline"

[2022-10-13 06:37] dw511214992 opened #4399 "CADL+DPG: support cadl project in sdk automation pipeline"

[2022-10-13 06:37] dw511214992 opened #4400 "CADL+DPG: support cadl project in docker cotainer"

[2022-10-13 06:38] dw511214992 opened #4401 "CADL+DPG: automation script for js sdk"

[2022-10-13 18:06] scbedd opened #4403 "Nightly Merge to `main`"
Tags that are reflected in the `main` repo should be merged into `main` of the assets repo.

- [ ] Nightly Job

[2022-10-13 18:28] benbp commented on #4300
@scbedd @JimSuplizio is the actual command `sparse-checkout set --no-cone java/sdk/attestation`? If so, we can just use cone mode as we only need non-cone if globs are being used (which will be unnecessary after we migrate to asset sync).

[2022-10-13 19:35] #4389 closed

[2022-10-13 19:45] sima-zhu commented on #4159
.NET monikerization is live now.
Work done here:
1. Move all markdowns to latest/preview.
2. Have monikerized toc
3. Add plugin supports.
4. Fix the toc issue in API pages.
Next step: Move to toc generation

[2022-10-13 20:08] maririos commented on #4331
@kyle-patterson and @ronniegeraghty
With the dev team we have been looking and all services are listed in our app. For example:
- Azure Communication Services is called `IC3 ACS Resource Provider` https://servicetree.msftcloudes.com/?pathSet=true#/ServiceModel/Home/5b23174b-8c6d-467d-862d-a3f24958fb74 . You can see how they succesfully schedule a meeting using the scheduler app for 10/19
- Azure S

[2022-10-13 20:10] sima-zhu commented on #3407
Created the new pool for win-2022 complant.

[2022-10-13 20:19] #4370 closed

[2022-10-13 20:24] #4333 closed

[2022-10-13 20:24] maririos commented on #4333
It will go as is until hearing different

[2022-10-13 20:24] maririos commented on #4333
Tables were updated in PPE end of last week

[2022-10-13 20:36] scbedd opened #4404 "Debug statements always showing up during invocations of test-proxy CLI mode"
Due to [this line](https://github.com/Azure/azure-sdk-tools/blob/f05a60af11a508b953ffd63c231df70c5409ff95/tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs#L92) of code that states

This is a problem because we don't have a logger when running in `cli` mode. so we always see

[code]

The problem absolutely remains, if in `debug` logging level, we should absolutely print it. Otherwis

[2022-10-13 20:36] scbedd commented on #2125
This issue is supplanted by the introduction of `live tests`. [This build](https://dev.azure.com/azure-sdk/internal/_build?definitionId=5212&_a=summary) exercises exactly

[2022-10-13 20:36] #2125 closed

[2022-10-13 20:38] scbedd commented on #2217
Closing as no one has complained about the issues here. We have refactored to allow customizations to the httpclient since then, and folks have been happy.

[2022-10-13 20:38] #2217 closed

[2022-10-13 20:42] scbedd commented on #2285
Resolved in #2646

Generically caught exceptions include stack trace, `HttpException` where we understood the cause do not. Closing.

[2022-10-13 20:42] #2285 closed

[2022-10-13 20:48] #4138 closed

[2022-10-13 20:52] scbedd commented on #2432
#4205 resolved this problem. I don't think its popped up in a while in CI, but if it does it should be fixed by this PR.

[2022-10-13 20:54] scbedd commented on #2418
This is done.

[2022-10-13 20:54] #2418 closed

[2022-10-13 20:56] scbedd commented on #3413
This was actually completed in #4066

[2022-10-13 20:56] #3413 closed

[2022-10-13 20:59] sima-zhu commented on #3407
1. Create a MMS-Win-2022 image.
2. Create a pool using the image.

[2022-10-13 20:59] scbedd commented on #3905
Going to keep this item open for a longer `introduction to asset-sync` that walks through the whole process in detail, then leads into the transition script that that Jim wrote.

[2022-10-13 21:00] scbedd commented on #4119
Closing as dup of #4298 which has more detail.

[2022-10-13 21:00] #4119 closed

[2022-10-13 21:04] JimSuplizio commented on #4300
Yes, the sparse-checkout path is java/sdk/attestation but the TagPrefix is java/attestation. The suggestion here is to make them the same.

[2022-10-13 21:52] scbedd opened #4406 "Address Transition Script Feedback"
@mccoyp had a great summary of these issues.

- In the "Running the script" section, the second line of code should be targeting `generate-assets-json.ps1` in the azure-sdk-tools repo -- not the language repo
- When running `generate-assets-json.ps1`, you need to have a recent version of the dotnet test proxy tool and a functioning set of nuget sources. I had to disable a nuget source in order to

[2022-10-13 21:52] benbp opened #4407 "Test Proxy command line argument inconsistencies"
Dumping a few general feedback items here from dogfooding the CLI:

1. All commands seem to dump out version information and other logs before the actual command text.
[code]
2. Test proxy commands like `--help` and `--version` exit with code 1 when they should exit 0.
3. The test proxy `--version` flag shows up in the help text for sub-commands when I think it should not.
4. The top level help te

[2022-10-13 21:56] benbp opened #4408 "Test Proxy restore does not support ssh based github credentials"
It would be nice if there was a way to detect this and use whatever login method the user is authenticated with.

[code]

Setting up the git credential manager for WSL is kind of annoying so I don't think I'm the only person who will hit this.

CC @scbedd

[2022-10-13 21:58] #4352 closed

[2022-10-13 22:11] maririos opened #4410 "Establish a baseline for swagger files"
Original plan is to baseline according to what is currently in `main` but we need to take into account that what is in `main` not always reflect what the service team published.
What process we should follow?

[2022-10-14 01:08] raych1 commented on #4362
Feel free to re-open if necessary.

[2022-10-14 01:08] #4362 closed

[2022-10-14 01:17] raych1 commented on #4353
This issue was fixed as the label was added again for the latest pipeline run.

[2022-10-14 01:17] #4353 closed

[2022-10-14 01:21] raych1 commented on #3573
Moved this item to backlog as it's not urgent.

[2022-10-14 01:26] raych1 commented on #4199
@jianyexi , can you confirmed if this is fixed?

[2022-10-14 01:27] ruowan commented on #4220
Thanks for feedback. We have filter data-plane PR and won't add ARMReview and WaitForARMFeedback for data-plane PR.

[2022-10-14 01:27] #4220 closed

[2022-10-14 01:28] raych1 commented on #4144
@fengzhou-msft , please provide an update if downgrading agent os to ubuntu 1804 works.

[2022-10-14 01:31] raych1 commented on #4102
@lei-msft , console doesn't seem to have real error then it should not fail the check.

[2022-10-14 01:33] raych1 commented on #4121
@dw511214992 , can you close this issue if the PR made the fix?

[2022-10-14 01:35] raych1 commented on #3950
@heaths , this is supported.

[2022-10-14 01:35] #3950 closed

[2022-10-14 01:35] ruowan commented on #3825
We have configured git longpath in windows pipeline before repo checkout step. It won't block pipeline validation

[2022-10-14 01:37] raych1 commented on #3968
PR was merged.

[2022-10-14 01:43] #3825 closed

[2022-10-14 01:44] raych1 commented on #4073
@jianyexi , can you provide update?

[2022-10-14 01:53] leni-msft commented on #4102
The real error is:
[code]

I filed an issue in ARM schemas repo to track: https://github.com/Azure/azure-resource-manager-schemas/issues/2618

[2022-10-14 01:53] #4102 closed

[2022-10-14 02:06] fengzhou-msft commented on #4144
It works.

[2022-10-14 02:14] dw511214992 commented on #4121
sure @raych1

[2022-10-14 02:14] #4121 closed

[2022-10-14 02:57] jianyexi commented on #4073
already fixed

[2022-10-14 02:57] #4073 closed

[2022-10-14 02:57] jianyexi commented on #4075
fixed

[2022-10-14 02:57] #4075 closed

[2022-10-14 02:57] jianyexi commented on #4199
fixed

[2022-10-14 02:57] #4199 closed

[2022-10-14 03:06] jianyexi commented on #3887
yes, will do it in validator extension

[2022-10-14 03:18] ruowan commented on #2298
Avocado will validate the swagger reference in readme.md. Here is the rule https://github.com/Azure/avocado#unreferenced_json_file.

Also MISSING_API_IN_DEFAULT_TAG is disabled for data-plane swaggers. The reason is the data-plane apis and readme tag is more flexible than management-plane.  So @tianxchen-ms will investigate how to optimize this rule for data-plane and then we will enable it.

[2022-10-14 09:27] dw511214992 opened #4413 "JS SDK Breaking change tool Bug: false alert of breaking change when moving properties to base interface"

[2022-10-14 17:10] maririos opened #4414 "SDK meeting APIView link in Github issue is wrong when no link was provided"
When a user creates a Follow-up meeting, they are asked to select the language. They do not have to provide the APIView link. When this happens, the issue that is created shows the language as a hyperlink. This link is set to the GH issue. This could be confusing.
Proposal is to leave it as plain text if no link is provided (can we do this?)

[2022-10-14 17:16] #4407 closed

[2022-10-14 17:36] maririos opened #4416 "SDK meeting APIView link update doesn't update the table"
When a user adds an APIView link into the language option, the table view is not updated even though the data was correctly updated.
Also, the `Update` button is not clickable so the user needs to update any other field (like description) to be able to update the meeting.

Some screeshots:

When link updated:
<img width="905" alt="image" src="https://user-images.githubusercontent.com/9868623/19590

[2022-10-14 17:41] maririos opened #4417 "SDK meeting GH issue apivew link not updated"
When updating a meeting to provide the apiview link (not changing the date) the APIView link is not correctly updated on the Github issue but it is in the app.
Note that if the date is updated, then the link is correctly updated on the GH issue

[2022-10-14 18:06] heaths opened #4419 "Validation does not support different host templates across separate specs"
If separate swaggers are together in a data plane RP and use different host templates like `{Endpoint}/language` and `{Endpoint}/language/authoring` to simplify authoring, validations tools are erring that,
[code]
See https://github.com/Azure/azure-rest-api-specs/pull/21068#issuecomment-1278304921 for more information.

This may also be a problem related to #3309. @tjprescott this should also be s

[2022-10-14 18:09] #4164 closed

[2022-10-14 18:29] heaths opened #4420 "Validation is saying a required property (parameter) is missing even though its there"
I'm getting an `OBJECT_MISSING_REQUIRED_PROPERTY` error on a sample for "api-version" despite the fact it's there in the [sample](https://github.com/Azure/azure-rest-api-specs/blob/db344f8a6cbbf157414e2f3c335be8b5c3ceb18d/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/DeleteRoleDefinition-example.json#L6:20) and spelled correctly.

Based on https://github.com/A

[2022-10-14 20:59] maririos commented on #3952
Dup of #4060

[2022-10-14 20:59] #3952 closed

[2022-10-14 21:01] maririos commented on #4371
@live1206 you were talking about keeping a relationship between the Service Name + Product + ADO wokfitem id?
If we do that, we could get that information and surface it in the scheduler when the user is requesting a meeting

[2022-10-14 21:23] benbp commented on #4257
@scbedd I think we may need to be more flexible regarding relative vs. absolute paths. Relative paths work for a containerized proxy, but absolute paths work for a local process proxy. From the perspective of the test framework, we don't really know which mode the proxy may be running in. I'm musing over a few options:

1. Add a new proxy route that returns some information about the proxy host (e

[2022-10-14 21:37] azure-sdk commented on #4142
Meeting updated by **Jonathan Cardenas**

**Service Name**: AAD Connect Health
**Review Created By**: Jonathan Cardenas
**Review Date**: October 27, 2022 4:00 PM PT
**PR**: https://github.com/JonathanCrd/SDKExpTesting/pull/7
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Jonathan was here.

Detailed meeting information and documents provided can be

[2022-10-14 21:50] JonathanCrd opened #4424 "Current meeting Date and Time overlaps with other UI elements when editting a meeting"
When editting any meeting, the green label overlaps other UI elements.

![Image](https://user-images.githubusercontent.com/17486462/195949158-777a7b41-5f16-4bf7-a7b8-53319134291d.png)

[2022-10-14 22:06] weshaggard commented on #3825
@ruowan @raych1 we need to be a start enforcing that teams don't introduce paths that are too long. WE cannot depend on folks having longpath configured correctly on windows as that will be a blocker in a lot of cases.

For reference we have https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/pipelines/templates/steps/verify-path-length.yml which we use in each of our SDK repos to enforc

[2022-10-14 23:27] maririos commented on #4053
wiki will have to be updated to include information about Cadl https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/665/Azure-REST-API-Stewardship-Review

[2022-10-14 23:28] MrJustinB opened #4425 "SDK Release Process Documentation - redesign and migrate to Engineering Hub"
This is to capture the epic for updating the wiki documentation:

1.  move it out of the internal DevOps space (to Eng Hub?)
2. Review for accuracy
3. Update out of date content
4. Consolidate duplicative content
5. Update to account for the new Release Planner tool
6. Improve content organization and usability
7. Reference documentation from within the Release Planner

Associated GitHub issues re

[2022-10-15 02:27] scbedd opened #4428 "git fetch origin --tags should be a specific tag retrieval"
Part of the reason we are transitioning is to _avoid_ pulling down all of the tags. We should only be attempting to [fetch the tag](https://github.com/Azure/azure-sdk-tools/blob/b7bf7f1e0b8e5a2147ad2cb8de3438723768b7f1/tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs#L251) that we are attempting to restore. No reason to pull the entire thing down.

[2022-10-16 18:23] #2359 closed

[2022-10-17 05:36] dw511214992 opened #4432 "CADL DPG Integration in SDK Automation/Generation Pipeline - Java"
Please follow doc: https://gist.github.com/dw511214992/de785084657716b59e19a99970800544

[2022-10-17 05:36] dw511214992 opened #4433 "CADL DPG Integration in SDK Automation/Generation Pipeline - Python"
Please follow doc: https://gist.github.com/dw511214992/de785084657716b59e19a99970800544

[2022-10-17 05:37] dw511214992 opened #4434 "CADL DPG Integration in SDK Automation/Generation Pipeline - .Net"
Please follow doc: https://gist.github.com/dw511214992/de785084657716b59e19a99970800544

[2022-10-17 05:37] dw511214992 opened #4435 "CADL DPG Integration in SDK Automation/Generation Pipeline - JS"
Please follow doc: https://gist.github.com/dw511214992/de785084657716b59e19a99970800544

[2022-10-17 08:54] josefree opened #4437 "[Release Planner Requirement] Support Linter Error Suppression Recording and Review"
Currently Swagger Linter Error suppression follows the [Swagger Suppression Process] (https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/85/Swagger-Suppression-Process). The suppression settings distribute in the readme.md configuration file of each resource provider.  It is expected
-  To set up a centralized suppression for new resource provider.
-  Entry of the suppression reque

[2022-10-17 09:00] josefree opened #4438 "[Release Planner New Issue] Feedback on Beta V1 Intake Questionnaire"
From: Justin Bettencourt <[jbettencourt@microsoft.com](mailto:jbettencourt@microsoft.com)>
Sent: Friday, September 30, 2022 5:05 AM

Subject: RE: [Onboarding] PMs - Dev Leads sync
![image](https://user-images.githubusercontent.com/18413981/196135215-fd730afd-8283-40a2-8a71-67e37746d84f.png)

[2022-10-17 14:17] praveenkuttappan opened #4439 "APIVIew - User tagging option is not showing all users in Azure org"
User tagging options fetches and caches only public users in first page which is only first 100 users in Azure org. We need to fetch all users and show usernames as options to tag.

[2022-10-17 14:18] praveenkuttappan commented on #4439
This is a follow up change to fix an issue in feature added by Masey students' team.

[2022-10-17 14:22] praveenkuttappan opened #4440 "APIView - SDK review gen from swagger PR fails with auth error"
APIView fails SDK review request if Azure Org membership is private for PR author, and this has been done to run review gen steps for authorized users only. We are seeing a too many failures due to this reason and causing swagger to SDK automation not getting much benefit unless users change their membership type. Alternate option is to verify Azure org membership using Microsoft opensource URL to

[2022-10-17 14:24] praveenkuttappan opened #4441 "APIView - Auto generate swagger API review from Spec PR"
We have added manual swagger API review gen support in APIView. This issue is to track the feature to support autogenerating API review from Swagger spec PR.

[2022-10-17 14:27] praveenkuttappan opened #4442 "APIVIew - Update documentation with APIView REST API"
APIView supports various REST APIs like

1. Create a new review using pre-generated code file
2. Create a review using an artifact published by a pipeline ( automatic/PR)
3. Get API review status

This issue is to update README markdown with more details about this REST API so it can be consumed by more automation.

[2022-10-17 14:30] praveenkuttappan opened #4443 "APIView - Enable CD of APIView when changes are merged to main"
Auto deploy changes to staging instance from main branch to support CI - CD. Staging instance should not be used for any manual deployment from PR.

@maririos just fyi..

[2022-10-17 14:56] christothes opened #4444 "AzureSDKAnalyzer: AZC0015 should include NullableResponse<T>"
Should also treat NoBodyResponse<T> as deprecated.

[2022-10-17 15:16] fengzhou-msft commented on #4144
Issue resolved by a short term solution to downgrade the CI system to Ubuntu 18. A long term solution is tracked by https://github.com/Azure/azure-sdk-for-net/issues/31839.

[2022-10-17 15:16] #4144 closed

[2022-10-17 16:57] praveenkuttappan commented on #4443
correct. continuous deployment

[2022-10-17 17:39] maririos commented on #4370
Updated in Informational meeting too

[2022-10-17 17:43] maririos commented on #4326
@JonathanCrd can you create the new issue for the remaining work here?

[2022-10-17 17:43] #4326 closed

[2022-10-17 17:43] #4327 closed

[2022-10-17 18:02] #3859 closed

[2022-10-17 18:04] maririos commented on #4067
Related issue: https://github.com/Azure/azure-sdk-tools/issues/4174

[2022-10-17 18:17] maririos commented on #4244
@ladonnaq to follow up with Mark on documentation

[2022-10-17 18:20] maririos opened #4445 "Create Release pipelines from Dev to PPE and PPE to PROD"

[2022-10-17 18:22] maririos opened #4446 "Communication with Stakeholder"

[2022-10-17 20:05] #4192 closed

[2022-10-17 20:12] maririos commented on #1114
This has been fixed

[2022-10-17 20:12] #1114 closed

[2022-10-17 20:15] maririos commented on #2366
With the new filters, @tg-msft  is this still needed?

[2022-10-17 20:19] #4031 closed

[2022-10-17 20:22] maririos commented on #1845
@LibbaLawrence is this something you are still planning on doing? And is this Python specific?

[2022-10-17 20:24] maririos commented on #1718
Dup of https://github.com/Azure/azure-sdk-tools/issues/1057

[2022-10-17 20:24] #1718 closed

[2022-10-17 20:36] maririos commented on #2361
@xirzec with the new filters in place, do you find you can achieve this?
i.e. https://apiview.dev/?languages=JavaScript&state=Open&status=Approved&type=Automatic&pageNo=1&pageSize=50

[2022-10-17 20:42] maririos commented on #4320
This has been fixed. @praveenkuttappan feel free to re-open in case there is something missing

[2022-10-17 20:42] #4320 closed

[2022-10-17 20:50] maririos commented on #3444
@praveenkuttappan Is this still an issue?

[2022-10-17 20:54] maririos commented on #1844
@LibbaLawrence what is the work that needs to happen here? is this specific to Python? or generic APIView

[2022-10-17 20:57] kristapratico commented on #1844
@l0lawrence

[2022-10-17 20:57] kristapratico commented on #1845
@l0lawrence

[2022-10-17 20:57] praveenkuttappan opened #4448 "APIView - Requested review page is not listing reviews"
Existing reviews doesn't have new column which was causing issue when processing reviews to find required reviews to be listed in pending reviews page. This was also fetching all reviews from cosmos DB and filtering on APP side to find required pending reviews.

We should change this to fetch only required reviews from Cosmos DB.

[2022-10-17 20:57] maririos commented on #676
@praveenkuttappan this is work that will need to happen in every token file right? and therefore language-owned?

[2022-10-17 20:58] maririos commented on #3452
@chidozieononiwu I know we went back and forth with this feature. What was the conclusion? and what is the state today?

[2022-10-17 20:59] maririos commented on #407
Related to https://github.com/Azure/azure-sdk-tools/issues/3495

[2022-10-17 21:04] maririos commented on #1533
@ahsonkhan is this still something that needs to be worked out?

[2022-10-17 21:48] xirzec commented on #2361
Ooo! This is very nice. Is there any way we can control the result ordering? The default sort of using the "Last Updated" column makes a lot of sense when looking for things to approve, but when looking at old approvals, "Name" might be nicer

[2022-10-17 21:49] maririos commented on #3603
Closing as dup of https://github.com/Azure/azure-sdk-tools/issues/4033

[2022-10-17 21:49] #3603 closed

[2022-10-17 22:00] maririos commented on #2813
Testing in current instance suggest this is working. @heaths could you confirm in case I didn't fully understand the scenario?

[2022-10-17 22:02] #2655 closed

[2022-10-17 22:04] maririos commented on #2725
@mikeharder with the current state of APIView, could you file individual issues for the work you will like to be done?

[2022-10-17 22:07] maririos commented on #1245
Error handling will be done with issue https://github.com/Azure/azure-sdk-tools/issues/3495

[2022-10-17 22:07] #1245 closed

[2022-10-17 22:08] maririos commented on #1211
@praveenkuttappan I couldn't find a reference to the `Update Model` feature. What is the status of this issue?

[2022-10-17 22:14] maririos commented on #4306
@praveenkuttappan please correct me if I'm wrong but the work for enabling CADL APIView generation from PR is issue https://github.com/Azure/azure-sdk-tools/issues/3991

[2022-10-17 22:15] heaths commented on #676
From what I understood from Pavel, yes. But I wonder: if every language is tokenized in a standard way, can't APIView - the ingestion backend, more specifically, just do it? That said, it might require special handling across languages so, perhaps ideally, it's still handled by each language parser. Just a thought, though.

[2022-10-17 22:15] maririos commented on #3992
We might be getting this already thanks to the existing diffing logic. We need to check that it works as expected

[2022-10-17 22:16] heaths commented on #2813
Yes, from what I remember - and if I take the request literally - this works now.

[2022-10-17 22:17] heaths commented on #1211
"Update Model" was on old reviews after the APIView backend went through a bit change back when Pavel was still here. Maybe everything has since been migrated and we just never see this feature, or it's pointless now (and maybe should be cleaned up).

[2022-10-17 22:25] maririos commented on #4209
Closing as done. @praveenkuttappan feel free to re-open if I missed something

[2022-10-17 22:25] #4209 closed

[2022-10-17 22:26] maririos commented on #4210
Will https://github.com/Azure/azure-sdk-tools/issues/3485 be covered thanks to the work here?

[2022-10-17 22:27] maririos commented on #4204
Close as done. @praveenkuttappan please re-open if I missed something

[2022-10-17 22:27] #4204 closed

[2022-10-17 22:28] #2326 closed

[2022-10-17 22:34] maririos commented on #2342
Adding intial requirements:

- **[Done]** Should be able to display the swagger
- Should be able to show a diff against existing or older api versions of a swagger. Issue https://github.com/Azure/azure-sdk-tools/issues/4210
- **[Done]** Need to enable comments and discussions

@praveenkuttappan for status on:
- Need to enable review approval for the API.

[2022-10-17 22:42] JoshLove-msft opened #4450 "Support test-resources.json at library level"
Currently, test-resources.json (and the bicep equivalent) is expected to live in service directory. For services where we have split live test pipelines by library, we may want to have separate files per library directory. It should be as simple as updating New-TestResources.ps1 to accept an optional library directory parameter.

[2022-10-17 22:48] #4386 closed

[2022-10-17 22:51] #3772 closed

[2022-10-17 22:51] #4100 closed

[2022-10-17 23:49] RickWinter commented on #1533
@LarryOsterman is working on a brand new APIView for C++.  We should keep this open until that work is completed to ensure the new APIView does the right thing.

[2022-10-18 02:19] chidozieononiwu commented on #3452
The horizontal scroll is present even in Edge Dev.
![Scroll](https://user-images.githubusercontent.com/31145988/196320117-89e8e438-d065-4285-828f-4f285dbd8b5d.png)

[2022-10-18 04:02] weidongxu-microsoft commented on #4432
PR https://github.com/openapi-env-test/azure-sdk-for-java/pull/2896
branch https://github.com/openapi-env-test/azure-sdk-for-java/tree/feature/java-cadl

need dev.10

tested locally, sample output
[code]

[2022-10-18 04:07] weidongxu-microsoft commented on #4432
@zzvswxy for review as well, for docker flow.

[2022-10-18 08:23] zzvswxy commented on #4432
reviewed, thx

[2022-10-18 16:18] maririos opened #4451 "Onboarding documentation should be out of private Github repos"
We use this repository for some of the Onboarding pre-requisites documentation: https://github.com/Azure/azure-sdk-pr/blob/main/onboarding

The problems are:
- It is in a private repo
- It is on Gihtub while the user is already in DevOps
- Some users don't have a Github account, so trying to access this file gives them `404`

We should make sure all documentation is available for etiher public con

[2022-10-18 16:22] gearama opened #4452 "Perf Framework fails with packages at diffrent versions"
using this fragment

- Service: keyvault-keys
  Languages:
    Cpp:
      Project: azure-security-keyvault-keys-perf
      PackageVersions:
      - azure-security-keyvault-keys-cpp: 4.2.0
      - azure-security-keyvault-keys-cpp: source
      - azure-identity-cpp: 1.3.0
      - azure-identity-cpp: source
  Tests:
  - Test: GetKey
    Arguments:
    - -r 0
    TestNames:
      Cpp: GetKey

to run t

[2022-10-18 17:11] JonathanCrd opened #4453 "Calendar in IST shows ghost time spots available"
For people on Indian Standard Time (UTC+5:30), there are time slots available that does not match any availability.

[2022-10-18 17:23] tjprescott opened #4454 "[Cadl APIView] Stewardship board feedback"
**High Priority**
- [ ] Line length heuristics
- [ ] Don't hide doc decorators

**Med Priority**

**Low Priority**

[2022-10-18 17:28] heaths commented on #3452
Only if you scroll the main content down, though. It seems someone did already change the content regions: TOC has no scroll on overflow, but probably fine since it's typically long enough to see enough of a type; and th emain content *does* have a horizontal scrollbar but not properly taking into account the height above it seems. Here's me before scrolling the main content region (and doesn't ma

[2022-10-18 18:10] mikeharder commented on #4452
This is not the correct syntax to specify multiple packages.  You want to use something like this example:

[code]

https://github.com/Azure/azure-sdk-tools/blob/67cdc22c6102a116fe981dbf984bec72a2cdfb34/tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml#L187-L192

You need to specify the `PrimaryPackage` (so the framework knows which package version to report in the results summary), a

[2022-10-18 18:14] mikeharder commented on #4452
In terms of package ordering, the general convention in `tests.yml` is to put the primary package first, then core packages (sorted alphabetically), then remaining packages (also sorted alphabetically).  Python lists the core package first due to the way their package manager works.

https://github.com/Azure/azure-sdk-tools/blob/67cdc22c6102a116fe981dbf984bec72a2cdfb34/tools/perf-automation/Azure.

[2022-10-18 18:37] KrzysztofCwalina opened #4455 "API View Static Analysis is Not Useful"
API View for .NET has a built in set of static analysis rules. These are totally useless today. Here are the issues:
1. The analysis rule violations show as strange red boxes, and people tent to ignore them. They should be show to the users as regular comments from a bot.
2. Many rules fire too many times, and result in many duplicated comments.

[2022-10-18 21:27] maririos opened #4457 "Daylight savings end date is different per country"
This is creating start time mislaps if the person that created/updated the meeting is in a country which end date for daylight savings is different than the one for the USA.

[2022-10-18 22:17] scbedd commented on #4255
Follow-up in #4374

[2022-10-18 22:17] #4255 closed

[2022-10-19 03:58] JonathanCrd commented on #4457
### Workaround to fix meetings affected by this problem:
We can use the existing CalendarEvent - Update flow to fix those events manually.

**If the error was caused when updating a meeting:**

1. Locate the previous run in the Update parent flow
2. Expand the first step and look at the Output Properties
3. Open a new tab to do a new run of the Update flow
4. Copy the Weblink as it is and paste it

[2022-10-19 05:32] raych1 commented on #4419
@jianyexi , can you have a look at the lint tool error?

[2022-10-19 06:20] dw511214992 commented on #4399
https://devdiv.visualstudio.com/DevDiv/_git/openapi-alps/pullrequest/430433

[2022-10-19 06:20] dw511214992 commented on #4398
https://devdiv.visualstudio.com/DevDiv/_git/openapi-alps/pullrequest/430433

[2022-10-19 06:51] ruowan commented on #2298
For this PR https://github.com/Azure/azure-rest-api-specs-pr/pull/7030, @tianxchen-ms  will check why avocado doesn't report error.

[2022-10-19 08:35] ruowan commented on #4441
Hi, @praveenkuttappan .  Our swagger pipeline need to download the swagger-api-parser tool. Could you share how to access the private nuget register?

[2022-10-19 08:43] ruowan opened #4461 "[Swagger APIView] Fix missing first property for definition model"
For contentModerator, the first property of model in definition are missing.

Feedback from @mikekistler

Some of the schemas in "definitions" are missing properties. For example, "ErrorCode" only shows "code" but also contains "message" in the REST API definition. "TextDetectDiagnosis" is also missing the "start" property. Maybe it is always the first one that is missed?

[2022-10-19 08:44] ruowan opened #4462 "[Swagger APIView]Fix wrong x-ms-parameterized-host parameters property bug"
Feedback from @mikekistler

For contentModerator swagger

The information under "x-ms-parameterized-host" has some problems. The "Parameters" section doesn't show the parameter name, which in this case isn't a problem since there is only one, but in general there can be more than one. Also, some of the information shown for that parameter is incorrect -- "required" should be "true" and "xMsSkipUrl

[2022-10-19 08:46] ruowan opened #4463 "[Swagger APIView] show enum string object"
Feedback from @mikekistler

Schemas that are not objects aren't rendered in "definitions" in a useful way. An example here is "TextCategory", which looks like it is an empty object schema but is actually a string enum.

[2022-10-19 09:01] ruowan commented on #3825
Thanks @weshaggard I created a work item to track it.  [work item](https://devdiv.visualstudio.com/DevDiv/_sprints/backlog/Azure%20Swagger%20Tools/DevDiv/Zinc/CY22%20Q4/2022-10?workitem=1645024)

[2022-10-19 18:02] weshaggard opened #4464 "Create pipeline template that blocks merging to main for private repos"
For our private repos we create a one-way sync between public main to private main and as such we should not allow any merging of PRs into the private main. We should create a simple template that we can create a pipeline for in the private repos to enforce this. Something similar to https://github.com/Azure/azure-rest-api-specs/blob/main/azure-pipelines.yml (https://github.com/Azure/azure-rest-ap

[2022-10-19 18:13] kyle-patterson commented on #4331
- Azure Storage Mover is not the same as Blobs, Files Shares, etc; it's just a migration tool for Storage resources
- For Azure SDK, we need a means of blocking days for things such as Azure Core. We do have a service tree instance that isn't showing up, I can provide that offline
- For Web PubSub and ACS, this seems confusing and disjointed from the experience we already have; friendly names are

[2022-10-19 19:44] maririos commented on #3452
@chidozieononiwu the ask here is to make sure the horizatonal scroll bar is always available, not only if the user scrolls down

[2022-10-19 19:48] maririos opened #4466 "Update APIView documentation on Guidelines documents"
Either update the informaiton here: https://azure.github.io/azure-sdk/policies_reviewprocess.html#2-api-review or remove the specifics and add a link to the APIView wiki

[2022-10-19 19:53] JonathanGiles commented on #4448
I think this can be marked as closed / resolved?

[2022-10-19 20:47] benbp commented on #4408
Fixed by https://github.com/Azure/azure-sdk-tools/pull/4422

[2022-10-19 20:47] #4408 closed

[2022-10-19 21:33] chidozieononiwu commented on #3452
Do you want the toolbars and scrollbars to be always visible? that will require calculating the space to allocate for the content based on user screen size. That is possible but I suspect as someone else will complain about the space that will be eaten up by the toolbars and footer. I think the best thing here is to scroll with the mouse wheel which I think is the best experience.

[2022-10-19 21:37] maririos opened #4469 "Consider the option to let user input the Service Tree ID when service doesn't show up"
There have been 2 scenarios where the Service Name is not showing up in our apps. We have received feedback that it will be good for the  user to be able to provide the Service Tree ID. Then we can fetch the service name and use that.

[2022-10-19 22:14] maririos commented on #3452
Ohh right. I was one of those users complaining about all the space losted because of the scroll bars :|

[2022-10-19 22:18] maririos commented on #4331
- Storage: My bad. According to the description I thought that was it.

Ok so I created issue  https://github.com/Azure/azure-sdk-tools/issues/4469 and will discuss design to see if/how we can enable user to input Service Tree Id if needed.

I aggree that farther along the way we can consider leveraging the information we have been coleted and cleaning and instead of asking for Service/Product nam

[2022-10-19 22:20] maririos commented on #4331
Great! We need to make sure information in Service Tree is correct so we can go ahead and consume it.
cc @ladonnaq as she is the expert with Service Tree :)

[2022-10-19 23:43] #1211 closed

[2022-10-19 23:46] maririos commented on #2361
Not currently but we do have issue https://github.com/Azure/azure-sdk-tools/issues/2282 to trak sorting of columns

[2022-10-19 23:53] maririos commented on #3098
@praveenkuttappan how is this issue related to https://github.com/Azure/azure-sdk-tools/issues/4443

[2022-10-19 23:55] maririos opened #4470 "Release pipeline for APIView should add a Release tag"
Following the behavior we do in our libraries, we want to add a Release tag as part of the `Release APIView` pipeline.

[2022-10-20 01:03] benbp opened #4472 "Add perf pipeline convention to pipeline generator"
Right now it's not entirely clear how to spin up new perf pipelines aside from duplicating existing pipelines and changing the yaml reference. I don't think it would be too much work to codify the pipeline conventions into the pipeline generator tool and enable the prepare-pipelines command.

CC @mikeharder @JoshLove-msft

[2022-10-20 01:18] benbp commented on #2609
Closing in favor of https://github.com/Azure/azure-sdk-tools/issues/4450

[2022-10-20 01:18] #2609 closed

[2022-10-20 01:18] benbp commented on #4450
Related work from #2609, moving to this issue:

Add/extend parameters to support:

Custom test-resources.json and/or test-resources.bicep paths
Absolute paths for -ServiceDirectory to enable running the script outside of a repo (for example, when testing changes in the tools directory, or running the script for deployments in the stress infrastructure).

[2022-10-20 03:52] ruowan commented on #4461
I checked the swagger-api-parser part. The swagger-api-parser part actually generate the property. @chidozieononiwu Could you check from UI side?

[2022-10-20 08:03] jianyexi commented on #4419
it should be fixed when the 'staging lintDiff' comes stable

[2022-10-20 17:27] heaths commented on #3452
The scrollbars themselves don't take much. In email discussions when the UI that we sort of have now, there's a lot of whitespace on the sides and bottom we don't need. Get rid of that, and the loss of space is none to negligible (none if the scrollbars aren't necessary). If the scrollbars aren't visible, there's no point in having them and it's probably just better off as it was.

If you know the

[2022-10-20 17:41] benbp opened #4475 "[check enforcer] Add troubleshooting behavior to check-enforcer"
1. A common mistake people make is running `/check-enforcer evaluate` when there are no pipeline triggers defined, which will result in a noop (people often really mean to run `/check-enforcer override`). We should be able to detect this and post a comment back with an @ mention describing what they likely need to do.
2. We should support `/check-enforcer help` which will comment back a link to ht

[2022-10-20 18:04] benbp commented on #3340
Also nice to have: a json schema for the matrix and running a `test-json` command for easier debugging.

[2022-10-20 19:46] m-nash opened #4477 "Add support for new keyword in apiview for dotnet"
Right now the `new` keyword is not added to the apiview which means we cannot see changes to this portion of the api.

As an example [this PR](https://github.com/Azure/azure-sdk-for-net/pull/31311/files#diff-27189525a4463302c33017ff79839674b0eb26cd496832619e83830918288ad0R109) is adding the `new` keyword to the `Get` method but the diff in [apiview ](https://apiview.dev/Assemblies/Review/1b6fb5729

[2022-10-20 21:08] benbp commented on #4440
just meddling

[2022-10-20 21:08] #4448 closed

[2022-10-20 21:09] #4336 closed

[2022-10-20 21:21] #4257 closed

[2022-10-20 21:24] JimSuplizio opened #4478 "Implement an existing fabricbot rules using github actions."
We're looking at moving from FabricBot into GitHub Actions. This issue is for tracking the work to do this.

[2022-10-20 21:57] JonathanCrd commented on #4108
Now we have 2 new testing repos in the bot account, so we should not be blocked by permissions anymore :)

[2022-10-20 21:58] #4404 closed

[2022-10-20 23:30] #2817 closed

[2022-10-20 23:30] #3208 closed

[2022-10-21 02:56] dw511214992 opened #4483 "Output Some Metadata in SDK Release Pipeline"
PowerApps needs to get the released packages from sdk release pipeline, such as the link to the release package. So it asks sdk release pipeline to store this kind of information to a metadata file in pipeline artifact.

cc: @josefree @lirenhe @zzvswxy @chunyu3

[2022-10-21 08:01] fengzhou-msft commented on #3162
Track 1 SDK generation failure is resolved by downgrading CI agent to Ubuntu 18.04. A long term solution nis tracked by https://github.com/Azure/azure-sdk-for-net/issues/31839

[2022-10-21 08:01] #3162 closed

[2022-10-21 16:41] weshaggard commented on #4483
@josefree @dw511214992 what is the link information that we want here? Do we want to the link to the public package manager? Or the link to the package in the devops pipeline? Also I'm still interested in knowing what we plan to do with this link? What do we expect the user of the PowerApp to do with this link?

[2022-10-21 17:05] danieljurek opened #4484 "Upgrade minimatch used by cspell to 3.0.5 or later"

[2022-10-21 17:14] weshaggard commented on #4483
My suggestion for this first release is to provide a download link for the package from the DevOps artifacts. In a future release after we get some feedback about what is more interesting to the consumer of the app we can try to update that to be a download link from the public package manager or perhaps a set of instructions on how to consume that package for each language. It really depends on w

[2022-10-21 19:43] needuv opened #4487 "Allow GitHub Groups in CODEOWNERS"
Currently, the [CODEOWNERS in `azure-sdk-for-python`](https://github.com/Azure/azure-sdk-for-python/blob/main/.github/CODEOWNERS) does not allow GitHub groups to be listed as owners for code paths.

The [AzureML SDK](https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/ml/azure-ai-ml) was recently onboarded to `azure-sdk-for-python`, and we have a large organization with at least 6 or 7 tea

[2022-10-21 22:08] scbedd opened #4488 "Minimize locally stored git pat"
Currently, if the variable `GIT_TOKEN` is present in the environment,  _always_ clone including the git token. Via

`clone -c core.longpaths=true --no-checkout --filter=tree:0 https://{gitToken}@github.com/azure/azure-sdk-assets .`

This has the knock on effect of always storing a valid PAT with that directory. Not a huge deal, but we don't _need_ this to always be there.

Instead, we can do the f

[2022-10-21 22:13] lmazuel opened #4489 "APIView Python uses the same ID for sync and async operations, which leads to unexpected shared comments"
Example:
https://apiview.dev/Assemblies/Review/15eb0388417545a0994a84913b4fc3ce#azure.ai.anomalydetector.aio.AnomalyDetectorClient

[2022-10-22 09:39] JonathanCrd commented on #4108
I have modified the current flows involved in the GH Issue creation, I added an optional parameter that expects a list of labels to be included on the issues. I also modified the `GitHub - Close - issue` flow to add a label when reopening an issue (if label is given).

This way, this is not a breaking change for the apps, they should be working as normal.

Next step:
- [ ] Adding the Label paramet

[2022-10-22 09:41] JonathanCrd commented on #4029
I have fixed this by creating a component that modifies the output of the TextBox, changing all `"` to `'`.
Next thing to do is adding that component in the apps to replace the current textbox.

If we need to do more changes in the future, or input checks, we can now just update that component.

[2022-10-24 02:20] dw511214992 commented on #4483
I think we need the link to public package manager, because ther is a page in powerapps which tells customer where the released sdk is. You don't need to worry about the delayed access to maven, because we will check whether the link is valid before we show it to customer.

[2022-10-24 08:24] raych1 commented on #4420
@heaths ,  the real issue is in example the [scope parameter](https://github.com/Azure/azure-rest-api-specs/blob/4c8c04c3bea255543f477c33cb5f242bd8a75701/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/examples/DeleteRoleDefinition-example.json#L4) should not have slash as value because api path in swagger already have the prefix '/'.

I will log a bug to report this 'do

[2022-10-24 14:56] l0lawrence commented on #1844
@maririos This was from when I was an intern, so I don't remember the exact details behind this issue, but I was working on protocol apiview which was language agnostic.

[2022-10-24 14:56] l0lawrence commented on #1845
@maririos not something I still plan on doing! This was from my internship -- this was also Protocol apiview related

[2022-10-24 15:26] danieljurek commented on #4484
Fixed in https://github.com/Azure/azure-sdk-tools/pull/4486

[2022-10-24 15:26] #4484 closed

[2022-10-24 16:39] heaths commented on #4420
It's a valid parameter, and "//" should be canonicalized as "/" anyway, which it does on the backend as well as most clients I've tested. If you're logging an issue on the validation, great. This is not really a bug in the swagger. "/" is indeed a valid scope, which would result in "//" until canonicalized.

[2022-10-24 17:00] mikekistler commented on #3780
We should link to whatever PR actually triggered the generated the ApiView.

[2022-10-24 17:09] danieljurek opened #4493 "Automate checking for spell check upgrades"
Changes to cspell can affect what is consider and not considered by cspell to be a word or a spelling error detection independent of our configuration of cspell and the state of our repos. That is, you could get new spelling error detections across repos when you upgrade cspell and its dictionaries.

The original reason for pinning the cspell version was to prevent unpredicted errors from coming i

[2022-10-24 17:32] ladonnaq opened #4494 "Network error Azure SDK Release Planner App Beta 1"
Network error after selecting service.  The error was resolved but now seeing it again today (10/24/2022).  Accessed via this link - https://aka.ms/sdk-release-planner

![image](https://user-images.githubusercontent.com/67656762/197588783-ec18bc0e-e475-4fbc-bbac-27d7dcf5d870.png)

[2022-10-24 20:05] JonathanGiles commented on #3286
I don't think this is Java specific, at least not immediately. Assigning to @praveenkuttappan to get his thoughts.

[2022-10-24 20:47] weshaggard commented on #4487
@needuv can you give more details about what team you would like to use in the code owners file? Even if we were to fix this for the pipeline notifications there would be other things that would be broken. For example, to be able to use a team in a codeowners file that team must also have write permissions (https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/cus

[2022-10-24 20:59] kurtzeborn commented on #4493
With the last update to cspell (last Friday, 10/21), let's see if there is any fallout from that update that an investment like this would've caught.  Good to track this in an issue so that we remember we might want/need this level of validation.

[2022-10-24 21:03] kurtzeborn commented on #4472
There's a lot of excitement around perf on the team over the next few months, so this would make creating a perf pipeline much more self-serve for those jumping in, and also ensure that all the perf pipelines conform to the same structure/standard.  Understandably, there is a worry about people creating pipelines and then ignoring them after they're created.  We should cross that bridge when we ge

[2022-10-24 21:03] maririos commented on #1844
@l0lawrence how do you want to handle this issue? who needs this? and with what priority? or should we close this issue?

[2022-10-24 21:04] maririos commented on #1845
@kristapratico @l0lawrence so should we close this issue then?

[2022-10-24 21:48] #1845 closed

[2022-10-24 21:49] l0lawrence commented on #1844
I would say close it

[2022-10-24 22:22] #1844 closed

[2022-10-24 22:28] maririos opened #4496 "Have the ability to see the raw swagger file from APIView"
In addition to the aggregated view we have in APIView for swagger files, it will be good to have a way to also see the raw json file.
This is feedback from the ARM API Reviewers.

[2022-10-24 22:29] maririos commented on #4496
One option that was suggested by internal team is to add a link at the beginning of the view to the original swagger file

[2022-10-24 22:33] scbedd opened #4497 "Update `tagprefix` usage to `tag` in `InitIntegrationTag`"
Within our tests, we heavily utilize an abstraction called `DescribeTestFolder`.

This will setup and teardown an "environment" per test that allows us to test various pieces of the test-proxy automation. Within this construct there is a function `InitIntegrationTag` that is the basis for pushing the "expected" bits that are generated from each integration test.

I partially refactored this when w

[2022-10-24 22:34] maririos opened #4498 "Define what an API Spec "approved" means"
Currently, when a PR is reviewed by the ARM Review board, there are labels that are use to signal:
- When a review is needed
- When there are comments that the service team needs to addresss in order for the review to be approved
- When the changes are approved and, from and ARM API perspective, ready to merge

So when a reviewer approves an APIView file, what does that mean? how is that translate

[2022-10-24 23:17] maririos opened #4499 "What is the proper way to communicate with the service teams that comments have been added to APIView"
When a service team creates a PR with their swagger definition, the Azure SDK Bot will create the APIView review.
We want the reviews/approvals to happen in APIView, but how can the service name know that there were comments added to the specific APIView?
Is there any subscription/notification that can be added to the creator of the PR? Or assign the creator of the PR as the owner of the APIView r

[2022-10-24 23:50] mikekistler opened #4500 "Breaking Change 'required' status changed message has old and new values reversed"
In [PR 21233](https://github.com/Azure/azure-rest-api-specs/pull/21233), the [Breaking Change PR check](https://github.com/Azure/azure-rest-api-specs/pull/21233/checks?check_run_id=9039474053) reports a "'required' status change" but the "old" and "new" values are reversed.

<img width="885" alt="image" src="https://user-images.githubusercontent.com/85643503/197650715-2683850f-fa62-4536-9b32-3c0c3

[2022-10-25 02:47] tianxchen-ms commented on #2298
The command in pipeline is `./node_modules/.bin/avocado -f pipe.log --excludePaths "common-types" ".github" ".azure-pipelines" "documentation" "arm-compute" "profile" "profiles" "scenarios" "package.json" "package-lock.json" "cadl/examples"`. The json file named `certificateprofile.json` will be excluded. I will fix this in pipeline.

[2022-10-25 13:25] raych1 commented on #4500
@jianyexi , please have a look.

[2022-10-25 15:39] weshaggard opened #4505 "Avocado check fails for changes that don't update swagger files"
In a case of a PR like https://github.com/Azure/azure-rest-api-specs/pull/20893 which only changes MD documentation Avocado fails the pipeline.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1942898&view=logs&j=22cb5f76-5058-5a9d-2377-d04e5451a5f2&t=75f8d99b-764d-5b43-90d5-e9f774389f08

[code]

[2022-10-25 15:41] ladonnaq opened #4506 "Error: Intake Questionnaire for App Compliance Automation Tool for Microsoft 365"
The engineering lead for App Compliance Automation Tool for Microsoft 365 tried to use the Azure SDK Release Planner app to complete the Intake Questionnaire.  She could not find the service; I found the service but got an error when trying to select a product from the drop-down menu.

![image](https://user-images.githubusercontent.com/67656762/197819286-95e37929-6ecb-4c04-9a93-32621f987c20.png)

[2022-10-25 16:21] RickWinter opened #4507 "APIView needs to handle internal packages"
A pipeline for sdk/internal failed because it needs API approval: [#20221023.1](), I see the revisions are for different modules. Revision 0 is “sdk/internal” and in fact has been approved, while revision 1 is “sdk/keyvault/internal”. Of course, there’s a diff between the revisions; these are different modules. I don’t know how we got into this state, but I guess it has something to do with both p

[2022-10-25 17:07] maririos commented on #4457
Dev (published):
- [x] Informational
- [ ] SDK
- [ ] API

[2022-10-25 17:08] maririos commented on #4453
Calendar issue: https://github.com/Azure/azure-sdk-tools/issues/4457

[2022-10-25 17:10] ladonnaq commented on #4506
Thanks @maririos!  Appreciate it!

[2022-10-25 17:11] maririos commented on #4424
`Show time` is removed from UI so won't overlap. There are other UI elements that still need work

[2022-10-25 17:22] maririos opened #4508 "Github secondary limit rate error"
We are seeing this in the scheduler app. We have checked our flows where we use the Azure SDK Bot and we don't have it on loops or situations where we do extra calls that are not needed.

Should we create a new Bot?

More information:
- Flow failing `Github - Create - Child` https://make.preview.powerapps.com/environments/ca95f761-477a-4e98-b34e-dfd5dd03a770/solutions/ebb9ee5e-104b-ed11-bba1-000d3

[2022-10-25 17:29] maririos commented on #4446
We decided:
- To add a new Field to our project to be able to indentify who requested the issue/change. Options are `User, Admin`.
- We will meet with our admins once every month, days before our Scheduler Planning meeting on Mondays with Eng team.
- Agenda will be share previous to the meeting so admin users can take a look. Agenda will be based on our Project

[2022-10-25 17:51] maririos commented on #3899
Admin App now has a view that allows this. :)

[2022-10-25 17:51] #3899 closed

[2022-10-25 19:21] maririos commented on #3944
Admn don't have permissions for this view. We have added a view into the Admin app

[2022-10-25 19:21] #3944 closed

[2022-10-25 19:49] maririos commented on #4446
- Field added
- All issues in our project (open and closed) have been updated to include this value
- A new view called `Requested by` has been added to the project
- A new chart was added to have a view of `Requested by and Release` relationship

[2022-10-25 19:49] maririos commented on #4446
Meeting scheduled and agenda will be managed by @ladonnaq

[2022-10-25 19:51] tjprescott commented on #3942
@mikekistler @praveenkuttappan please triage.

[2022-10-25 19:51] maririos opened #4510 "Review and update all UI text to stop using caps when it is not the beginning of a sentence"
This is feedback from our UI designer, Crystal. an example is `Azure SDK Scheduling Tool` should be `Azure SDK scheduling tool`

[2022-10-25 19:53] maririos opened #4511 "Consider removing the big banner version from the Prod app"
Consider having it in the bottom right and smaller font.
Ideally a user shouldn't see this but when reporting an error, eng sys team should get the version number

[2022-10-25 20:04] tjprescott commented on #4384
Closing this. This behavior will happen for any language due to APIView's requirement that definition IDs be unique and deterministic. Thus, changing anything about a method signature will inevitably change its definition ID, so this behavior is "by design".

[2022-10-25 20:04] #4384 closed

[2022-10-25 20:18] tjprescott commented on #4387
Since the solution is to not generate these in the first place, I will close this issue for now.

[2022-10-25 20:18] #4387 closed

[2022-10-25 20:19] tjprescott commented on #4281
Closing this issue, as this is supported using the framework option.

[2022-10-25 20:19] #4281 closed

[2022-10-25 20:27] tjprescott commented on #515
Closing this issue as it is not clear what is being asked for.

[2022-10-25 20:43] weshaggard commented on #4505
@tianxchen-ms @ruowan do you expect this is fixed by https://devdiv.visualstudio.com/DevDiv/_git/openapi-alps/pullrequest/431575

[2022-10-25 21:33] maririos commented on #4506
I found the issue and fixed it in the Dev environment. The fix needs to be deployed to Production environment.

FYI @honghr

[2022-10-25 21:53] maririos commented on #3942
Thanks for the ping @tjprescott  I have added the respective labels so we can see it in our triage meetings

[2022-10-25 23:57] mikeharder opened #4516 "[Perf] Upgrade agent pools to Ubuntu 22 and Windows 2022"

[2022-10-26 01:27] mikeharder opened #4517 "[Perf] Add pipeline parameter to enable sync tests"

[2022-10-26 03:17] honghr commented on #4506
Thanks @maririos!

[2022-10-26 05:06] mikeharder opened #4518 "[Perf] Disable log timestamps by default in perf automation"
Perf automation is mainly used in pipelines which already log timestamps

[2022-10-26 06:09] live1206 commented on #4506
Fix deployed to Prod.

[2022-10-26 06:10] live1206 commented on #4494
Should be fixed now.

[2022-10-26 06:10] #4494 closed

[2022-10-26 13:19] mikekistler opened #4519 "Swagger Model Validation PR check gives false positive errors"
In [PR 9407](https://github.com/Azure/azure-rest-api-specs-pr/pull/9407) the [Swagger Model Validation PR check](https://github.com/Azure/azure-rest-api-specs-pr/pull/9407/checks?check_run_id=9103809911) reports a number of INVALID_TYPE errors like this:

<img width="815" alt="image" src="https://user-images.githubusercontent.com/85643503/198035559-3a6b74e0-9184-4dcc-b6d6-985186170db7.png">

The [

[2022-10-26 16:46] #4489 closed

[2022-10-26 18:59] ladonnaq commented on #4438
Here are some additional updates to the UI.

The title is not correct.  The UI prototype never had the title.  We only want 1 ADO work item, which is used to track the lifecycle of the product (Private Preview, Public Preview, GA).  We should start having a UI playback before new versions are released to production.

![Image](https://user-images.githubusercontent.com/67656762/198112762-395426cd-2a

[2022-10-26 19:08] ladonnaq commented on #4438
@joshfree This questionnaire is for an APEX (previously known as PLR).  We keep one Azure Devops onboard work item for a product in the release project.  We only want one ADO work item which will track the lifecycle of the product (Private Preview, Public Preview, and GA).  When the tool supports ALL release plans, then we will not need the questionnaire to be separate.  Service partners will crea

[2022-10-26 19:13] ladonnaq commented on #4506
@honghr @live1206 @maririos - Can we document process for closing issues that are reported in PROD by users?   This issue is not fixed.  Neither myself or the user have been able to successfully complete the onboarding questionnaire without errors.  We will quickly lose the trust of our users, if we don't validate and test that fixes are truly resolved.

[2022-10-26 20:54] #4406 closed

[2022-10-26 20:54] #4118 closed

[2022-10-26 21:11] ladonnaq commented on #4506
Here is the most recent error -

![Image](https://user-images.githubusercontent.com/67656762/198138946-c374f4fa-d4df-465c-acc0-aad7a40138da.png)

[2022-10-26 21:32] bdefoy opened #4523 "Block check in of new namespaces that are not onboarding with RPaaS"
Ensure new namespaces are onboarding via RPaaS before allowing their PR to merge. Additionally, create a flag for PRs to bypass this rule if they have an exception for not being on RPaaS.

[2022-10-26 21:59] maririos commented on #4371
We need to have the product information in order to have the ADO linked to the meeting

[2022-10-26 22:02] maririos commented on #3994
Showed APIView fro swagger, Cadl, and alked about diff capability.
I will contact the ARM API board again in 2weeks

[2022-10-26 22:02] maririos commented on #4331
Closing this issue as there is no action to take for us here.

[2022-10-26 22:02] #4331 closed

[2022-10-26 22:29] maririos commented on #2361
@xirzec I am closing this issue. If there is work to be done different from sorting columns, feel free to re-open

[2022-10-26 22:29] #2361 closed

[2022-10-26 23:02] JonathanCrd commented on #4029
I added more capabilities to this component because I forgot the Update usecases, so now it's good.

Adding this new component in the different apps:

- [ ] Informational
- [ ] API Reviews
- [ ] SDK Reviews

[2022-10-26 23:02] JonathanCrd commented on #4424
Apps in which we need to update this:

- [ ] Informational
- [ ] API Review
- [ ] SDK Review

[2022-10-26 23:08] JonathanCrd opened #4525 "When changing the month in the calendar, the loading PopUp covers the entire screen"
Currently, we are covering the whole screen when we need to calculate the dates for the next or previous month in the calendar. We could improve this by trying to avoid disrupting the users.

A couple of ideas:

- We could create a new instance of the loading popup that only covers the calendar component, in that way the user will be able to interact with the other elements on the screen while the

[2022-10-26 23:10] JonathanCrd opened #4526 "Modify the Admin App to store meetings schedules in US Pacific Time instead of UTC"
With the new implementations to support Daylight Savings across different countries and time zones, the date for the series should now be stored in PT instead of UTC. Admin App converts the date given from Local Time to UTC and this is something we don't want, we should store the time in Pacific.

[2022-10-26 23:20] JonathanCrd commented on #4424
Since I'm doing UI changes for this issue, I'm also modifying the "Back" button in the screens, currently, it seems that this button is disabled, but it is not.

I'm changing its colors to make clear that this is a secondary button and avoid confusions.

Old style:

![Image](https://user-images.githubusercontent.com/17486462/198155948-d750cbba-0ced-49b7-b0eb-e0a99b78a7a1.png)

New style:

![Image]

[2022-10-26 23:44] maririos commented on #4424
Interesting. talking about UI. According to the app, the buttons are in different places and this drives me crazy sometimes lol.
It is not urgent, but if you could make sure they are all in the same place, that will be great.
For example:

![image](https://user-images.githubusercontent.com/9868623/198159164-24b18280-f8c8-42c7-bd73-2d47fc281a8c.png)

[2022-10-26 23:49] JonathanCrd commented on #4424
Changing that as well, primary button _(Create)_ will be on the right, and secondary button _(Back)_ on the left.

[2022-10-26 23:56] maririos commented on #4245
Templates we need to change in PPE and PROD:
Table: SDK Emails.
Column:
  - SDK Review - GH Tracking Body Message
  - SDK Review - GH Update

[2022-10-26 23:56] #4245 closed

[2022-10-27 00:41] live1206 commented on #4506
The error was caused by the corresponding flow was turned off, got it turned on.
And I manually created a work item successfully and closed it.

[2022-10-27 00:58] JonathanCrd opened #4528 "Bug: Certain People are not showing up in the Attendants selector"
Reported by a user.

When trying to add this specific user, that person does not show up on the finder when typing their name.

Could this be the Component? Could this be caused in the flow?

[2022-10-27 01:11] JonathanCrd opened #4529 "Remove Old "Show in Local Time" toggle"
We don't longer use this, however, we are going to keep it hidden until we are sure that users don't want to show the calendar in US Pacific Time.

Openning this issue as a reminder to delete it in the future.

[2022-10-27 01:15] JonathanCrd commented on #4424
This has been fixed in all three apps

[2022-10-27 01:15] #4424 closed

[2022-10-27 01:15] #4108 closed

[2022-10-27 01:16] JonathanCrd commented on #4107
Now the GitHub Create flow has an optional parameter to specify any labels to add into the issue. We can now proceed to ask stakeholders how they want to specify the issue, or design what would be the best way to implement this feature (if required).

[2022-10-27 01:16] #4107 closed

[2022-10-27 01:47] JonathanCrd commented on #4029
The old TextBox is gone, now this component will output any `"` to `'`, for example:
[code]

The output Text from `Description.Text` Will be
[code]

It looks exactly the same as the old TextBox:
![image](https://user-images.githubusercontent.com/17486462/198171582-99e44e03-0f2b-4a25-9842-85251b4b4c4f.png)

But now, it will display a warning wheneve rthe user inputs the max amount of characters as

[2022-10-27 01:47] #4029 closed

[2022-10-27 08:38] #4397 closed

[2022-10-27 08:39] #4400 closed

[2022-10-27 08:39] #4413 closed

[2022-10-27 17:27] #4453 closed

[2022-10-27 17:27] #4457 closed

[2022-10-27 18:13] ladonnaq commented on #4506
I was able to successfully create the work item.

![Image](https://user-images.githubusercontent.com/67656762/198366931-56760a81-931f-423c-9e9a-c4860bf75d0d.png)

[2022-10-27 18:13] #4506 closed

[2022-10-27 18:18] ladonnaq opened #4530 "APEX PM team needs to be copied on all of the automated emails related to onboarding questionnaire"
Hello, I noticed that Siva and I are not copied on the emails that are sent to the user and APEX PM after the onboarding questionnaire is complete.  You can use the azuresdkapex@microsoft.com group email (which includes Justin, Siva, and I).

[2022-10-27 18:42] ladonnaq opened #4533 "ADO fields that need updated by release planner when ADO work item is created"
During the creation of the release planner, these fields need to be updated.

- [ ]  I added fields for product service tree ID, associated service servicetreeID, associated service name. I have Siva updating these fields manually for existing services, so we can migrate data to dataverse.  I would also like these fields populated in new ADO work items created by the release planner app.

![image]

[2022-10-27 18:50] ladonnaq opened #4534 "Contact information for errors encountered during completion of onboarding survey."
The error message does not provide a link to email, teams channel, etc.   What is they don't know to contact Siva or I?

- [ ] Add the azsdkapex@microsoft.com email
- [ ] Add link to the Azure SDK Onboarding teams channel - https://teams.microsoft.com/l/channel/19%3ade3fce22c2994be18cac50502c55f717%40thread.skype/Azure%2520SDK%2520Onboarding?groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&tenantId=72

[2022-10-27 18:56] ladonnaq opened #4535 "Update the API Readiness launch criteria to include managment plane"
There is an existing API Readiness launch criteria in Private Preview which was scoped for data plane only.  We can update to include management plane because ARM requires new RPs and new management plane APIs to use Cadl.

- [x] Update the launch criteria in Cloud Lifecycle
- [x] Update wiki page for launch criteria

[2022-10-27 19:01] ladonnaq opened #4536 "Collect metrics from Azure SDK Release Planner Beta 2 to determine lead times for Cadl + DPG"
Lead times were requested by the service partners during feedback sessions pertaining to the Azure SDK team's engagement processes (specifically onboard questionnaire through API review - ARM and API Stewardship Board).

We need to keep track of the lead times for tasks and milestones so we can provide reasonable lead times in the release plans.

[2022-10-27 19:13] ladonnaq opened #4537 "How to handle extensions in Azure SDK Release Planner"
If a product needs more time to complete an Azure SDK launch criteria, they can request an extension.

- [ ] Link to Azure SDK extension wiki page -  https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/644/Azure-SDK-Extension-Process-(previously-known-as-signoff-with-exception)
- [ ] The extensions are tracked in the Azure Devops onboard work items.
- [ ] There is a query tile on th

[2022-10-27 19:23] ladonnaq opened #4538 "Communication of progress between Azure SDK release planner and sub-apps"
The Azure SDK Release Planner Beta V2 will navigate to the sub-apps from the Release Planner milestone page.

- [ ] When task are completed in the sub-app the status should be updated in the Azure SDK Release planner App
- [ ] Milestone status can be determined by how many tasks are complete vs in progress or new

![image](https://user-images.githubusercontent.com/67656762/198379918-899a0949-0025-

[2022-10-27 19:46] ladonnaq opened #4539 "Updates to the Onboarding Questionnaire blade"
Updates to the Onboarding Questionnaire blade

- [ ] The title of the blade is incorrect.  The questionnaire is only completed one time for new products.  We use the Azure Devops work item that is created by the release planner app to track the product for all APEX launches (Private Preview, Public Preview, GA).  Title =  "Onboard new product (offering, sku, feature) to determine API/SDK scope".

[2022-10-27 19:53] ladonnaq commented on #4264
@maririos  I am waiting to test after the re-design that I requested.  Currently, the dataverse is only retrieving the data for the product's "target lifecycle".  As I explained in several comments in the Beta V2 requirements document, this is not what we want to do.  As you can see in your example, you can't find the other products for Cognitive Services.

[2022-10-27 19:57] ladonnaq commented on #4266
This UI is not in Beta V1 or Beta V2.  It may surface again when we support non-APEX products.  The page you found is the table for all of our APEX launch criteria (not APEX program).  We can add information at the top of the page that directs to the APEX wiki.

[2022-10-27 20:20] maririos commented on #4266
We can close this issue for now. If needed in the future, we can re-open

[2022-10-27 20:20] #4266 closed

[2022-10-27 20:22] maririos commented on #4264
Do you have the issue with the re-design?
When I looked at the code, it does retrieve accoding to target lifecycle values: Private Preview, Public Preview, and GA

[2022-10-27 20:27] scbedd commented on #4365
I don't think I'm going to take this one. Here's my thinking:

We find the assets store by the following algo.

- `PROXY_ASSETS_FOLDER` if set.
- `<reporoot> + .assets` if override not set.

`<reporoot>` is calculated by ascending from the assets.json location to the first git root. My belief is that if we're aiming the test-proxy at an assets.json without explicitly overriding the assets store fo

[2022-10-27 21:18] l0lawrence opened #4541 "[Stress Testing] Deployment of stress tests -- file sizes too large"
`Error: create: failed to create: Secret "sh.helm.release.v1.stress-py-eh.v1" is invalid: data: Too long: must have at most 1048576 bytes`

Without a .helmignore file, deploying stress tests will drag in all files that are on the same level as chart.yaml (i.e log files etc.).

[2022-10-27 21:24] benbp commented on #4541
@LibbaLawrence Aside from following the layout recommendations (https://github.com/Azure/azure-sdk-tools/blob/main/tools/stress-cluster/chaos/README.md#layout) I'm not if there's a super great generic solution for this. Some options:

1. We could try to create some sort of reverse helm ignore allowlist
2. We could do some pre-calculation in the deploy stress script that looks if extra files are be

[2022-10-27 22:32] maririos commented on #4528
Fixed.

[2022-10-27 22:32] #4528 closed

[2022-10-27 22:38] azure-sdk commented on #4142
Cancelled by System Admin

[2022-10-27 23:18] benbp opened #4545 "[stress testing] Helm command does not look for generatedValues.yaml file in test directory"
The stress deploy scripts will work if you run them from the local directory of a stress test, but not if you run them with `-SearchDirectory` as it passes in a path to `generatedValues.yaml` to helm that is outside the directory context. Likely the directory for the helm command to run in needs to be changed in the script context.

[2022-10-27 23:30] JonathanCrd commented on #4508
Created a post on the EngSys teams channel to get the conversation started

[2022-10-28 00:30] JonathanCrd opened #4546 "For API Reviews, Service Profile given from the Planner app is not showing on the scheduler app."
Reported by Haoran, when scheduling a new meeting from the Planner app, the given Service Profile on the database is not showing as the profile selected in the app.

You can take a look at the event record `5a6f0792-9355-ed11-bba2-002248041e0a` in the table to see the data that has been provided

[2022-10-28 00:38] JonathanGiles opened #4547 "APIView design issues in usage samples and comment"
A few issues have come to light recently that prevent the best usability experience in APIView. These include:

## No word wrap in markdown usage samples:

![image](https://user-images.githubusercontent.com/1427840/198422578-8d217b7e-1d30-40f9-bd22-97878b001c38.png)

## Bad font choices on usage samples page

Everything is monospaced, even the non code-block sections of code

## Limited padding an

[2022-10-28 01:16] live1206 opened #4548 "How to identify if product will proceed with data-plan release"
While creating a release plan, we need to check if the selected product is qualified for data-plane.
Which field of ADO work item can we get the information from? Which is the result of data-plane follow-up meeting result.

[2022-10-28 02:29] leni-msft commented on #4523
We probably need check 2 cases:
1. If RP namespace is new (doesn't exist in main branch), and `openapi-subtype: rpaas` is **not specified** in readme, then there should be CI check blocking PR merge and a github comment
2. If RP namespace is new, and `openapi-subtype: rpaas` is **specified** in readme, we probably need check if the RP namespace exists in `RPSaaSMaster` branch - there should be als

[2022-10-28 16:55] maririos commented on #4548
@ladonnaq  for information

[2022-10-28 18:00] mccoyp opened #4550 "[Test-Proxy] Newline characters in request bodies producing cross-platform failures"
@zhengfeiwang reported an issue where body content matching is failing on some CI platforms because newline characters are being recorded as either `\r\n` or `\n`, and incoming playback requests on other platforms sometimes use the opposite newline representation. The issue has been mitigated by turning off body matching for affected tests, but I do wonder if there's any way we can stick to one, p

[2022-10-28 18:30] maririos opened #4551 "Label not correctly added when reopening an issue"
See:
<img width="713" alt="image" src="https://user-images.githubusercontent.com/9868623/198707283-aea46494-9e03-4931-ad4d-d8c5a8e0f722.png">

It hsould add/leave the `API Revire Scoping` tag instead of adding `Default`

[2022-10-28 18:40] maririos opened #4552 "Description component is only refresh on start up time"
For now I have seen this issue in API meetings where if the user creates a meeting, and then without refreshing or changing to another meeting (not invoking onstartup) clicks on create a new meeting, the `Description` box contains the information provided from the last meeting.
Need to check if this happens in the other meetings

[2022-10-28 19:00] maririos commented on #4552
It happens in Informational and SDK. So in all meetings

[2022-10-28 19:07] praveenkuttappan opened #4553 "Scheduler admin app shows incorrect meeting time"
Admin app shows 12:00 as meeting time for all meetings listed in upcoming meeting page.

![image](https://user-images.githubusercontent.com/55455725/198713382-c5155424-8231-4cc6-8c6c-897ab5492d52.png)

[2022-10-28 19:10] praveenkuttappan opened #4554 "Scheduler admin app is showing schedule configuration incorrectly"
Admin app allows creating configuration at any hour: minute combination and this gets saved correctly in dataverse and used by schedule generator by all scheduler apps. But admin app shows schedule minute as `00` when editing an existing schedule even if meeting schedule has non-zero value for minute.

For e.g. 9:05 schedule config shows as 9:00 in edit screen

[2022-10-28 21:00] maririos opened #4555 "API Review Scoping label not added when updating an issue"
Although not a common scenario, if someone deleted the label of the issue, and there is an update to the meeting invite, which will create an update on the GH issue, the label is not added.
The label should always be present

[2022-10-28 21:02] maririos commented on #4555
See example: https://github.com/azure-sdk/TestingForEngagementExperience/issues/35

[2022-10-28 21:18] maririos opened #4556 "All labels are deleted when an existing issue is used to create a meeting"
See for example: https://github.com/azure-sdk/TestingForEngagementExperience/issues/34
For API Review meetings, the most common scenario is for a user to already have a GH issue and ise that one when creating a meeting. If that issue already had labels, all labels will be deleted.

We shouldn't delete any labels. Just add `API Review Scoping`

[2022-10-28 21:26] scbedd opened #4557 "Remove Leading `/` Protection"
We originally added [this code](https://github.com/Azure/azure-sdk-tools/blob/9249bfb2f03c9f4c7553e32f58e227bf180ab15a/tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs#L970) as the .NET folks were sending some bad requests, and they wanted to ensure that it was disallowed.

Here's the problem. @timovv is attempting to exercise a test-case that is apparently aimed at the form of:

So

[2022-10-28 21:53] #4526 closed

[2022-10-28 23:35] maririos opened #4560 "Person that updates the meeting could be different than the creator of the meeting"
Currently we always asume that the person that updates a meeting is the creator of the meeting. There are some cases where an admin will have to move a meeting. In that case, we are updating all the information (email and calendar) saying that the creator is also the one that updated the meeting.
See:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/9868623/198750607-07a

[2022-10-28 23:36] maririos opened #4561 "GH update template has wrong content"
When an SDK meeting is updated, the GH comment text suggest it is a new meeting request instead of an update.
See:
<img width="400" alt="image" src="https://user-images.githubusercontent.com/9868623/198750669-784a8131-6bae-43cb-b3cb-6708dccb931c.png">

[2022-10-31 09:09] dw511214992 commented on #4094
Close it as dup with https://github.com/Azure/azure-sdk-tools/issues/4399

[2022-10-31 09:09] #4094 closed

[2022-10-31 09:11] dw511214992 commented on #3602
closed it as it's ready in production

[2022-10-31 09:11] #3602 closed

[2022-10-31 09:11] dw511214992 commented on #3650
close it as finished.

[2022-10-31 09:11] #3650 closed

[2022-10-31 09:14] #3420 closed

[2022-10-31 09:17] dw511214992 commented on #2341
I think we only need to take care of 3rd requirement because others are supported. To support 3rd requirement, we need to ask apiview service to return the apiview link to apiview diff directly. @praveenkuttappan @maririos

[2022-10-31 14:41] praveenkuttappan commented on #3286
This will be a change in parser side to exclude sections from skip diff range tokens if dependency needs to be considered in revision comparison.

[2022-10-31 14:46] praveenkuttappan commented on #3524
Breaking change detection:
JavaScript API view parser will have to be modified to detect breaking changes based on language specific requirement and add errors in API review code file to show error messages in API view. Breaking change detection is language specific so it should be done at parser side.

Cross review diff:
We have plans to add support for this but currently this is in backlog due t

[2022-10-31 14:50] praveenkuttappan commented on #3684
`Immutable` token has some numeric value in definition ID that makes APIView think it is different. We need to check how ID is generated in parser side for annotation token.

[2022-10-31 16:15] praveenkuttappan opened #4563 "APIView - Sandboxing to support staging and other different environments"
1. Add a new configuration to disable sandboxing on local dev environment
2. Support more deployed environment. Currently all environment uses same language pipeline to convert language file to code file and this pipeline connects to production storage account only. We should support passing connection key name to pipeline trigger to fetch environment specific key name.

[2022-10-31 16:50] mikekistler commented on #3781
This should already be the case for automatic reviews -- these have all the revisions that have GAed.  So this would only apply to manual and PR reviews.

[2022-10-31 16:52] mikekistler commented on #3812
This will be fixed when Sandboxing is implemented for manual reviews.

[2022-10-31 16:54] mikekistler commented on #3804
@JonathanGiles Can you please check production again. We believe this is fixed and can be closed,

[2022-10-31 16:56] mikekistler commented on #3849
Will be fixed when sandboxing restricts platform to be Ubuntu.

[2022-10-31 17:44] maririos opened #4564 "Requirements for SDK meeting to start being used"

[2022-10-31 17:58] maririos opened #4565 "Update template for Informational meetings to include the Release Planner app"

[2022-10-31 18:04] maririos opened #4566 "What is the buffer in time between when a timeslot is added by the admin and the users can schedule the meeting?"
This could be affeted by the re-design of the scheduler component

[2022-10-31 18:33] maririos opened #4567 "Survey/Experience after using the scheduler app"
@MrJustinB @maririos @ccbarragan Here is a [Draft of survey for the scheduling tool]( https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&FormId=v4j5cvGGr0GRqy180BHbR-SRHOv9H51LkqMFimFYWbJUMFdXRUQwUlU3MUpNWkswTkpEMVRBUkRUVi4u).  Please review and provide feedback. Mariana is planning to send next week to service partners who have used the tool to schedule meetings.

[2022-10-31 19:56] praveenkuttappan commented on #1409
This has already been done.

[2022-10-31 19:56] #1409 closed

[2022-10-31 20:09] scbedd opened #4568 "ShortHash isn't platform-agnostic"
The produced assets clone directory is not stable between platforms.

@mccoyp just hit this use case, which makes sense given how the test framework is set up for python.

When restored under `docker` run, the assets clone exists under

[code]

but when run under the `tool`, the clone exists under:

[code]

We want these to agree so that we can `test proxy push` something that was UPDATED by the d

[2022-10-31 20:35] kurtzeborn commented on #4137
We're suspicious that this may no longer be needed.  The Open Source Portal APIs we're planning to switch to don't depend on this being public or not.  @praveenkuttappan, can you confirm, and close if that's the case since we won't need these instructions after all?

[2022-10-31 20:41] kurtzeborn commented on #4087
Screenshots are not really an option since our pipelines run headless.  Also, as Ben says, we don't really have a way to run a "cleanup" task when a pipeline is being canceled or is timing out.  The best we could think of is to schedule a task at the beginning of the pipeline run to kick off 1 minute before timeout maybe?  It feels janky.  Unless we have a clear plan for this, it feels like we cou

[2022-10-31 20:41] #4087 closed

[2022-10-31 20:45] kurtzeborn commented on #4062
@konrad-jamrozik, this is likely related to the other investigation you're doing with notifications, so could you take a look at this one as well?

[2022-10-31 20:52] kurtzeborn commented on #3779
Since this was opened, we've since optimized credscan in PR validation to only scan edited files.  The nightly runs still scan the full service folder, but that doesn't add much time to the nightly runs anyway.

[2022-10-31 20:52] #3779 closed

[2022-10-31 20:56] JonathanCrd commented on #4067
I was thinking of ways we can accomplish having a central wiki or resource that people in the team (both new and old) can access whenever they want information about a certain flow.

The idea is to have something centrlized where its easier to map all the flows, their state, and what they do.

One approach could be having a traditional wiki, where we (the devs) will put the information and maintin

[2022-10-31 20:57] JonathanCrd commented on #4067
Moving this issue to the next release.

[2022-10-31 21:00] kurtzeborn commented on #3761
We already have a rest api though it's not documented really well because it's not the way pretty much all other partners use ApiView.  If you really want to call the REST API, you can work with praveen to get pointers to the code so you can see what's supported.  You can upload packages through the REST API as well.

We really only support the usage of these tools for code/projects/services in ou

[2022-10-31 21:00] #3761 closed

[2022-10-31 21:04] kurtzeborn commented on #3689
This will need to be run through the arch board first probably, and then it can be updated.

[2022-10-31 21:06] jsquire commented on #3689
//cc: @KrzysztofCwalina, @tg-msft, @pallavit

[2022-10-31 21:08] jsquire commented on #3689
This would also need to be added to the [.NET Guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-namespace-naming)

[2022-10-31 21:15] #3804 closed

[2022-10-31 21:16] JonathanGiles commented on #4233
If this is fixed, it would be good to remove the 'show documentation' checkbox and load it all the time, so that documentation can be easily expanded / collapsed whenever necessary, without first showing documentation.

[2022-10-31 21:22] JonathanGiles commented on #3684
@praveenkuttappan The annotation has a different definition ID because I try to create unique definition IDs for each annotation instance. Otherwise, if I have many `@Immutable` annotation lines, a comment left on one of them would result in the comment appearing under all annotations. You can see the code where I do this [here](https://github.com/Azure/azure-sdk-tools/blob/fcc496a5aa432d7012323fb

[2022-10-31 21:26] maririos opened #4571 "Revisit logic for finding package name when not available in release tracker sheet"
Otherwise this happens:
![MicrosoftTeams-image (9)](https://user-images.githubusercontent.com/9868623/199113650-d6dc74d8-fc6d-4ea9-b12c-6dd71596c9f9.png)

[2022-10-31 21:43] mikekistler opened #4573 "The meeting scheduling tool should support rescheduling meetings to a custom timeslot"
Currently the meeting tool will allow rescheduling a meeting but only to one of the predefined timeslots.  We need a way to allow an admin to reschedule to a custom timeslot. This will allow the service team to create the meeting ... providing all the appropriate information ... and then the admin can modify only the date and time of the meeting.

Currently the admin must cancel the existing meeti

[2022-10-31 22:11] #4356 closed

[2022-10-31 22:17] JonathanGiles commented on #3286
@alzimmermsft If I understand correctly, you would like the APIView tooling for Java to mark dependency version changes as breaking changes that should trigger a new generation?

[2022-10-31 22:53] bdefoy commented on #4523
@leni-msft Thanks. Here is what the comment should say for each case:

This PR was flagged for introducing a new RP namespace that is not being onboarded with [RPaaS](https://armwiki.azurewebsites.net/rpaas/overview.html). **Merging this PR to the main branch will be blocked as RPaaS is required for new RPs**. To resolve this and allow the PR to be merged into the main branch, please [use RPaaS to

[2022-10-31 23:26] JonathanCrd commented on #4150
Changed, all dependencies on other Flows were modified automatically.
This flow isn't triggered from any app, so no changed on the apps side were needed.

[2022-10-31 23:26] #4150 closed

[2022-11-01 00:20] #4557 closed

[2022-11-01 00:24] maririos commented on #2341
FYI @ruowan

[2022-11-01 01:17] #4210 closed

[2022-11-01 02:33] konrad-jamrozik commented on #4062
@kurtzeborn ok!

[2022-11-01 05:13] honghr commented on #4530
I have add azuresdkapex@microsoft.com to all email templates

[2022-11-01 05:23] honghr commented on #4534
Mark as resolved

[2022-11-01 08:51] raych1 commented on #3877
@pansharm-ms , please resolve the branch conflicts then re-run the check with /azp run.

[2022-11-01 08:52] raych1 commented on #4505
@weshaggard , this will be fixed in sprint of Nov.

[2022-11-01 11:46] alzimmermsft commented on #3286
I wasn't so much thinking version increments should be a breaking change but noteworthy enough to create a new ApiView

[2022-11-01 16:57] ladonnaq commented on #4530
Thanks!  This can be closed when it is released in PROD.

[2022-11-01 17:05] ladonnaq opened #4580 "Add Product ServiceTreeID and Associated Service ServiceTreeID to management plane existing ADO work items"
The release planner will need to migrate existing ADO work items into dataverse so that the work items can be synched to update ADO fields based on current data in Cloud Lifecycle, S360, Service Tree Kusto's tables.

[2022-11-01 17:36] praveenkuttappan commented on #4440
We will change authentication to use MSFT opensource API to check if PR author is internal employee or not.

[2022-11-01 19:39] ccbarragan commented on #4425
#### Kick-off meeting notes (10/26)
Attendees:  Crystal, Justin, LaDonna, Wes, Mariana
[Link to FigJam](https://www.figma.com/file/5BrrsqEa38u0inImqk29AD/SDK-onboarding-docs-brainstorm?node-id=1%3A161)

- Discussed the overall context and goals for this docs effort
  - **User story:** As a service partner, I want access to up-to-date docs that can help me as I onboard with the Azure SDK team.
  -

[2022-11-01 19:43] benbp commented on #4545
Fixed by #4544

[2022-11-01 19:43] #4545 closed

[2022-11-01 20:32] #4568 closed

[2022-11-01 20:48] ladonnaq commented on #4548
@live1206 You can use this Azure Devops Query.  https://dev.azure.com/azure-sdk/Release/_queries/query-edit/01f1c4be-ca30-438d-ac6f-d29d3801dc50/

This query has includes all existing data plane ADO work items and will include new ADO work items by the Azure SDK release planner application.  I can add any other columns that would be helpful.

Here is the suggestion for logic to determine if data p

[2022-11-01 21:53] KrzysztofCwalina opened #4584 "Hovering over API view comment bubble should show the comment"
Repro:
1. Add a comment to an API View
2. Select Options and hide comments.
3. Hover the mouse pointer over the comment "bubble"

Feature Request: it would be very nice if the text of the comment showed when hovering over a hidden comment bubble.

[2022-11-01 21:54] KrzysztofCwalina opened #4585 "Allow hiding [EditorBrowsable(EditorBrowsableState.Never)] APIs in .NET API View"
Some .NET APIs are marked with [EditorBrowsable(EditorBrowsableState.Never)] attribute.
It would be great if API View for .NET hid these APIs by default and allowed an option to show them

[2022-11-01 22:52] maririos commented on #4553
Fixed and deployed to DEV.
See:

![Image](https://user-images.githubusercontent.com/9868623/199356872-9b283510-f3e7-44f3-b405-3b0eb4ebafc0.png)

[2022-11-01 22:52] #4553 closed

[2022-11-01 22:55] maririos commented on #4554
The time is not showing up either. For example, this meeting is at 11L00AM but see image:

![Image](https://user-images.githubusercontent.com/9868623/199357277-bb06a61f-28ba-406a-b2d4-8b301ce291f6.png)

[2022-11-02 01:19] mikekistler commented on #4519
We will fix the error message and improve the documentation.

`type: object` without `properties` or `additionalProperties: {}` is invalid type if example has properties.

[2022-11-02 01:25] mikekistler commented on #3573
Need to wait for directory structure, etc. topics to settle before we can do this.

[2022-11-02 01:50] JonathanCrd opened #4589 "Calendar is not showing availability in the current month when it first loads"
In the create Screen, the calendar is not loading the availability. It is until the user selects the next month that it shows it, and if the user goes back to the current month the spots now appear.

[2022-11-02 01:54] #4589 closed

[2022-11-02 01:56] JonathanCrd commented on #4556
Fixed

[2022-11-02 01:57] richardpark-msft opened #4590 "[stress] Helm version check doesn't understand `~` in version strings"
Getting this error now:

[code]

When my Chart.yaml has this:

[code]

We should allow this as it makes it so we auto-upgrade (and will know when future upgrades break us). I'm not entirely sure how the check is done, but we'd want to use the same evaluation that helm does, or eliminate the check altogether if we don't need it anymore.

[2022-11-02 01:57] richardpark-msft commented on #4590
(easy fix is just to hard code `version: 0.2.0` but I'd rather avoid that.)

[2022-11-02 01:57] JonathanCrd commented on #4555
Fixed, I added the label properties and GitHub API call into the `CalendarEvent - Update` cloud flow.
Nos this scneario is covered.

[2022-11-02 02:39] maririos commented on #4585
Closing in favor of https://github.com/Azure/azure-sdk-tools/issues/3900

[2022-11-02 02:39] #4585 closed

[2022-11-02 02:42] maririos commented on #3900
FYI @JoshLove-msft that @KrzysztofCwalina  has asked for this issue 3 times. I modified the priority and added in the `Requested by` field that it was an architect.

This should mostly be in the parser. If there is extra support needed from EngSys team, let us know

[2022-11-02 02:42] maririos commented on #1206
Closing in favor of https://github.com/Azure/azure-sdk-tools/issues/3900

[2022-11-02 02:42] #1206 closed

[2022-11-02 02:44] #4590 closed

[2022-11-02 03:15] raych1 commented on #4505
@weshaggard , this issue wasn't fixed in above PR and we will consider making the list of exclusion files as config in next change.

[2022-11-02 04:29] JoshLove-msft commented on #3900
It looks like there is already support for marking tokens as deprecated that was added for Java in https://github.com/Azure/azure-sdk-tools/pull/958/files. I'd suggest we reuse this pattern to mark members with EditorBrowsable as deprecated. The effect is that the APIs are struck through. We can then expand the feature to include a toggle that to hide the deprecated elements entirely.

[2022-11-02 06:28] josefree opened #4592 "API Stewardship Review status further clarification"
Currently, currently, for data plane spec PR, we are not able to tell if API stewardship team approves the updates unless the PR is merged.  However, we do not encourage to merge PR before service is launch.

The proposal is at least, API stewardship team could use a label as “Approved-OkToMerge” as review signoff.  The PR pipeline has the logic to remove the label if there is any further commit a

[2022-11-02 06:30] josefree commented on #4592
API stewardship team decide to use the label “APIStewardshipBoard-SignedOff” that stands for the review completion.

From: Mike Kistler <[mikekistler@microsoft.com](mailto:mikekistler@microsoft.com)>
Sent: Wednesday, November 2, 2022 2:17 AM
To: Josephine Qiu <[yiqiu@microsoft.com](mailto:yiqiu@microsoft.com)>
Cc: Mark Weitzel <[markweitzel@microsoft.com](mailto:markweitzel@microsoft.com)>
Subject

[2022-11-02 06:31] josefree commented on #4592
From: Mike Kistler <[mikekistler@microsoft.com](mailto:mikekistler@microsoft.com)>
Sent: Wednesday, November 2, 2022 10:44 AM
To: Josephine Qiu <[yiqiu@microsoft.com](mailto:yiqiu@microsoft.com)>; Mariana Rios Flores <[mariari@microsoft.com](mailto:mariari@microsoft.com)>; LaDonna Quinn <[ladonnaquinn@microsoft.com](mailto:ladonnaquinn@microsoft.com)>
Cc: Mark Weitzel <[markweitzel@microsoft.com](

[2022-11-02 06:48] josefree opened #4593 "Notification Design"
Currently, PowerApps solution does not have any notification set up.  We should define some events for notification.  Some in my mind
- When product launch date is deferred.
- When primary PM,  milestone owner of a release plan has been changed
- when SDK release date is closing, say within 8 working days
- when SDK launch date arrives, but SDK release plan is not complete.
- When SDK release plan

[2022-11-02 06:57] josefree opened #4594 "Multiple SDK libraries/packages of a language release upon 1 spec PR"
From: Wes Haggard <Wes.Haggard@microsoft.com>
Sent: Saturday, October 29, 2022 1:34 AM
To: Josephine Qiu <yiqiu@microsoft.com>; Wei Dong <weidong@microsoft.com>; Renhe Li <Renhe.Li@microsoft.com>; Crystal YU <Yu.Chun@microsoft.com>
Cc: Mariana Rios Flores <mariari@microsoft.com>
Subject: RE: Multiple SDK libraries/packages of a language release upon 1 spec PR

For data plane we have a number of se

[2022-11-02 07:03] #4435 closed

[2022-11-02 07:21] josefree opened #4595 "Clarify quality criteria for Data Plane SDK Library release"
For Data Plane SDK release, service partner is expected to provide test cases and samples of SDK library of each language.  However, the satisfaction criteria are not clear that
- test cases: #>0 ? Covers operations in hero scenarios (where is the definition of hero scenario)? or 100% defined operation coverage
- samples: #>0? Covers operations in hero scenarios (where is the definition of hero sc

[2022-11-02 08:11] #4500 closed

[2022-11-02 09:52] live1206 opened #4597 "How to identify data-plane only service from Service Tree"
A service could only have data-plane API without manage-plane API.
Then this kind of services are missing in our data importing from service tree.

As we use ARMNamespace to identify management-plane API, do you know how we identify data-plane API in service tree data?

[2022-11-02 15:32] ladonnaq opened #4598 "Arch Board Intro Meeting - Release Planner App and Scheduling Tool Integration"
The Introduction to the Azure Developer Experience Architecture Board meeting should be a requirement for a service or a product that will be releasing new initial client libraries (and SDKs).  For example, new Cognitive Services products are skus.  These skus typically have a new API which will result in new client libraries which will be added to the Cognitive Services SDKs.

@live1206  @maririo

[2022-11-02 16:10] ladonnaq opened #4599 "SDK Review - Release Planner App"
**Approach for current release:**
For APEX scope we will know if it is first initial beta client library because we have determined during onboarding and the release plan is created for new initial beta. If it is a new service or a service with no existing client libraries (SDKs) - then it will be initial Beta client libraries. Also, during onboarding we will confirm data plane scope and will dete

[2022-11-02 16:19] ladonnaq commented on #4599
@kyle-patterson  Please review and edit accordingly.  I believe this is what we discussed for Beta V2 implementation for SDK Reviews.  We can have the form accessible outside of a release plan so that you can use this approach for other SDK Reviews.  This is what we have done with the Onboard new product questionnaire.  There should not be a need for it when we support all release plans but for no

[2022-11-02 16:19] ladonnaq commented on #4054
Here is the GitHub issue for Release Planner Beta V2 SDK Review - https://github.com/Azure/azure-sdk-tools/issues/4599

[2022-11-02 16:55] ladonnaq commented on #4597
@live1206 Any service deployed via ARM, would typically have management plane API in the azure-rest-api-specs repo.  There are products that are only in scope for data plane APIs because there are no changes to the existing management plane API.  For example, most of the Cognitive Services products require new data plane APIs but no changes to management plane API.

Do know of an example of this s

[2022-11-02 17:39] ladonnaq opened #4600 "Migration of data plane ADO work items to dataverse"
Here is an ADO query for APEX products in scope for data plane - https://dev.azure.com/azure-sdk/Release/_queries?tempQueryId=ed574226-7220-4b66-8145-8a4b513dce0d.

We can identify from this list, which products will be using Cadl + DPG, then we make sure to migrate those first.  Once migrated, we should have a power automate flow in place that schedule a synch to the ADO work items.  We can start

[2022-11-02 18:14] JonathanCrd commented on #4349
Added

[2022-11-02 18:14] #4349 closed

[2022-11-02 18:17] ladonnaq commented on #4592
@joshfree Have any Cadl generated API Specs been reviewed by the API Stewardship Board yet?  If so, I am curious how long it took for the initial API review to close and the label "APIStewardshipBoard-SignedOff" added to the GitHub issue.  I ask because the APEX launch readiness criteria for Private Preview includes API Readiness. I am not sure if it realistic to expect the initial API review to c

[2022-11-02 18:18] richardpark-msft commented on #4590
The speed this was solved makes me think someone was testing me.

[2022-11-02 18:35] ladonnaq opened #4601 "Management plane: Naming Review - Azure DevEx Arch Board"
Let's use this GitHub issue to track the outstanding requirements for automation of the naming process for initial management plane libraries.

### **Status on support of naming approval for management plane via APIView per @praveenkuttappan**

API reviews for management packages are automatically generated now for C#, Java and JS but not for Python. We should consider the following before we enab

[2022-11-02 18:39] ladonnaq commented on #4601
@kyle-patterson please review the scenarios that require naming review and edit accordingly.  Also, do you think a new meeting type is needed?  We could also have a form in the release planner app that takes as input the suggested namespaces, then it could create a GitHub issue which is assigned to the language architects for asynchronous review.  If a review was needed the architects could add sy

[2022-11-02 18:40] #3485 closed

[2022-11-02 18:42] ladonnaq commented on #4261
@live1206 You can assign someone else, but I want to make sure that this task is completed.  This way we don't manually have to update the field to complete.

[2022-11-02 18:53] sima-zhu opened #4602 "Failed the docker validation at end"
We currently only log warning if the validation failed. It failed silently which blocks us to solve the issue in time.
The issue is to
1. Failed the pipeline at end.
2. Open an issue to package owner if package failed the validation.

[2022-11-02 20:36] benbp commented on #4590
You passed the test (or rather, it was a simple fix)

[2022-11-02 21:34] JonathanGiles opened #4604 "[APIView] Requested reviews page does not show who the request came from"
It would be great if the requested reviews page in APIView would show me who requested the review. Presently, without it, I have no way of directly reaching out to the person to have a discussion (without guessing who it might be):

![image](https://user-images.githubusercontent.com/1427840/199606736-034c062f-7477-4093-8f3b-c94b4b02098a.png)

[2022-11-02 22:29] ronniegeraghty opened #4605 "[Scheduling Tool] Admin ability to block a day"
It would be extremely useful for the Arch Board Help Desk team to have the ability to block days on the schedule. This way when a team schedules a review session by submittting a GitHub Issue themselves, or by going through the Arch Board Help Desk, we can block that day so another team doesn't schedule a session with the Arch Board on the same day.

Whether this is impleted through the Scheduling

[2022-11-02 22:54] #4488 closed

[2022-11-02 23:14] JonathanCrd commented on #4250
Question, does the user have to provide both? or just one?

Is the Product Field only visible when the meeting is being scheduled trought the Release Planner app?

[2022-11-02 23:15] JonathanCrd commented on #4525
Going with this approach

[2022-11-02 23:55] JonathanCrd commented on #4525
New functionality added into the component

[2022-11-02 23:55] #4525 closed

[2022-11-02 23:58] KrzysztofCwalina commented on #3900
Really? If yes, I apologize. I have totally forgotten that I asked for this.

[2022-11-03 03:57] maririos commented on #3900
No worries. It means it is important and you really want it done :)

[2022-11-03 03:59] maririos commented on #4250
The user will need to provide both. Notice how the products depend on the Service name so we should only surface those. (Release Planner app already does this in case you want to look into that logic).

It should always be visible. @ladonnaq has been thinking in removing the Service Name all together and only show the Product Name. But for now, we should ask/display both

[2022-11-03 04:02] maririos commented on #4605
I agree that we need a way to block days in case there are other activities, holidays, etc.

Wouldn't the documentation/process be updated so the only entry point for users to schedule a meeting is through the Scheduling Tool?

[2022-11-03 04:31] maririos opened #4607 "How can we tracking usage of the Release Planner App"
What information will be interesting for us? what frequency? which format?

cc @ladonnaq

[2022-11-03 06:34] kyle-patterson commented on #4605
Teams needing nonstandard times will still need to book through the helpdesk until the scheduling tool supports non-PST meetings (a conflict arising from this scenario is what prompted this issue)

[2022-11-03 06:59] live1206 commented on #4597
@ladonnaq Thanks for the explanation, I have got a better understanding of the context now.
Because I found there are around 20,000 different services in service tree Kusto cluster.
Right now, we use `ARM namespace` to identify the valid services, the number reduced to around 300.
Given the service is not deployed via ARM, how can we identify it is a valid service to us?

[2022-11-03 16:31] tjprescott opened #4609 "[Cadl APIView] Support alias an augment decorators"
See https://github.com/microsoft/cadl/issues/1017#issuecomment-1301124260

[2022-11-03 17:11] JoshLove-msft commented on #3900
I agree this will be a good feature to add - I'm looking into it.

[2022-11-03 17:31] maririos commented on #4605
Thanks for the explanation @kyle-patterson
What are the nonstandard times for meetings? Is it only when it is needed? or do architects are blocked specific times some days to work on those hours.

Also XOR, do you mean that there can only be one arch board per day?

[2022-11-03 22:38] weshaggard commented on #2341
I think once @ruowan's work is done we will be close to this but I think we also need to get the baseline diffs added to ApiView as well and once that is done I will consider this done for swagger/openapi. I believe we already have another issue tracking cadl.

[2022-11-03 22:54] benbp opened #4610 "[stress testing] Update default nodepool size and allocate system nodepool"

[2022-11-03 22:55] benbp opened #4611 "[stress testing] Dynamically set chart.yaml version based on deploy script git version"
Instead of dealing with breaking changes and force migrating people when we change addons AND the script, we should dynamically set the addons dependency from the deploy script itself, that way any version of the script will always pick the right addons version it works with. CC @richardpark-msft

[2022-11-03 22:55] benbp opened #4612 "[stress testing] Document guidance for stress test cpu/mem requests/limits"

[2022-11-03 22:56] benbp opened #4613 "[stress testing] Add peak resource usage stats to stress test dashboard"

[2022-11-03 22:56] benbp opened #4614 "[stress testing] Investigate default resource requests and limits via namespace+LimitRange"
See https://kubernetes.io/docs/concepts/policy/limit-range/. This may be an easier approach than injecting values into the pod spec via addons.

[2022-11-03 22:58] benbp opened #4615 "[stress testing] Investigate strategies to prevent scale down disruption"
The autoscaler has been useful to keep costs down, but it is not a nice experience when it optimizes workloads on nodes and restarts active stress tests. Investigate strategies to handle this, e.g. https://kubernetes.io/docs/tasks/run-application/configure-pdb/

[2022-11-03 23:52] joshfree commented on #4592
Hey @ladonnaq, @lmazuel is better suited to answer this

[2022-11-03 23:54] joshfree commented on #4438
I think you meant to tag @josefree here

[2022-11-04 00:49] MrJustinB opened #4617 "Release Planner Contact Us page links don't work"
If I select the Report a Bug, Contact Us, or Provide Feedback links, nothing happens.  if you select the "this link" link it does work, but the others do not.

https://apps.powerapps.com/play/e/ca95f761-477a-4e98-b34e-dfd5dd03a770/a/0d436325-4499-48b2-b03b-8156c75712d2?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&source=portal

![Image](https://user-images.githubusercontent.com/105250266/19986186

[2022-11-04 00:55] MrJustinB commented on #4617
I have the same problem w/ the question mark icons

![Image](https://user-images.githubusercontent.com/105250266/199862288-0bab8175-bb8d-4c60-8a71-a054c2eba59e.png)

[2022-11-04 03:15] dw511214992 commented on #4001
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/793/E2E-Experience-of-Creating-Azure-SDK-with-Docker-Image
Document for CADL+DPG is ready.

[2022-11-04 03:15] #4001 closed

[2022-11-04 03:17] dw511214992 opened #4619 "Docker/SDK Generation Pipeline User Experience Optimization"

[2022-11-04 03:17] dw511214992 opened #4620 "PowerApps Production/PPE Deployment and Test"

[2022-11-04 03:18] dw511214992 opened #4621 "Move Github Releated Operations from OpenApiHub to Other place"

[2022-11-04 05:28] #4434 closed

[2022-11-04 08:42] zhengfeiwang commented on #4550
Do we have any update on this issue? Turning off body matching doesn't work for some cases, and currently we mitigated by using `.gitattribute` to force `\n` for all platform, however it is still not a ideal solution yet.

[2022-11-04 17:12] maririos commented on #4617
We had a conversation with Eng teams and we want feedback from @ccbarragan on what is the best way to present this information.
Justin is sharing the page in the Release Planner App. Here is what we have in the scheduler app:

![image](https://user-images.githubusercontent.com/9868623/200035482-642f6a8d-9142-413a-b8b2-44d8d102f226.png)

<img width="610" alt="image" src="https://user-images.githubu

[2022-11-04 17:15] maririos commented on #4617
As for links:
- Report a bug: tools repo
- Contacs us email: azsdkexp@microsoft.com
- Contact us Teams Channel: @ladonnaq do you think we can use the Onbaording channel? or should we create a new channel for engagement? I am wondering what is the best way for our users to find us

[2022-11-04 17:15] maririos commented on #4617
FYI @josefree

[2022-11-04 17:19] maririos commented on #2341
Thanks @weshaggard . Here is the summary:
- Pipeline work: https://github.com/Azure/azure-sdk-tools/issues/4441
- https://github.com/Azure/azure-sdk-tools/issues/4410

This is the issue for Cadl and PR support: https://github.com/Azure/azure-sdk-tools/issues/3991

Because work is tracked in specific issues I am going to close this one. If I missed something, feel free to re-open or file a speciic

[2022-11-04 17:19] #2341 closed

[2022-11-04 18:25] praveenkuttappan commented on #4099
We are adding a new feature in APIView to approve package name and we will enforce package name approval for preview release.

[2022-11-04 18:26] praveenkuttappan commented on #3600
Duplicate of #4441

[2022-11-04 18:26] #3600 closed

[2022-11-04 19:03] ladonnaq opened #4625 "Customer reported: Azure Cloud HSM not showing up in Service dropdown box"
Customer reported Azure Cloud HSM not showing up in Service dropdown menu of Release Planner Beta 1.

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/67656762/200054461-91b20182-f93a-421a-8596-ce9e886e57d5.png">

[CLC link](https://vnext.s360.msftcloudes.com/cloudLifecycle/products?blade=stage:1~program:All~kpiowner:All~Domains:All~_loc:cloudLifecycle&def=&peopleBasedN

[2022-11-04 19:05] ladonnaq commented on #4617
@maririos We can use the onboarding team channel.

[2022-11-04 19:15] ladonnaq opened #4626 "Service now found checkbox redirects to GitHub bugs repo"
There is a requirement that was missed in the revisions of the requirement docs.

### Helptext
Helptext:
If you do not know what service that your product maps to, please use the new service tree to look up the product service mapping. [Service Tree | Home (microsoftservicetree.com)](https://microsoftservicetree.com/home).

### Added checkbox if service is not found
The checkbox is under the drop

[2022-11-04 19:42] praveenkuttappan opened #4627 "APIView - Change UI layout to combine approval controls"
APIView currently has a button on review page to approve reviews. A new feature is also being added to support package name level approval. We should redesign the UI to combine these two approval options and make it in a single place for approval with check boxes to select which type of approval needs to be done.

[2022-11-04 20:31] maririos commented on #4546
Changes applied. It now looks like this:

![Image](https://user-images.githubusercontent.com/9868623/200068704-f00ae6d3-8dc5-4f95-ab81-17fcba452716.png)

@honghr could you give it a try and let me know if it works as expected?

[2022-11-04 21:47] maririos commented on #4546
Changed also addressed in Informational and SDK meeting types

[2022-11-04 21:47] #4546 closed

[2022-11-04 23:21] mikeharder opened #4634 "[Perf] Investigate workaround for ListBlobs perf test"

[2022-11-04 23:22] mikeharder opened #4635 "[Perf] Add pipeline for .Net Monitor.Ingestion"

[2022-11-05 00:48] mikeharder opened #4636 "[Perf] Add pipeline parameters to select tools repo commitish"

[2022-11-07 01:56] live1206 commented on #4261
@honghr Could you help update this field? Thanks

[2022-11-07 03:21] honghr commented on #4261
HI @ladonnaq, Just for management-plane or both?

[2022-11-07 04:28] live1206 commented on #4261
@honghr Management-plane and data-plane tabs are sharing the same field: `Onboard with Azure SDK Team Launch Criteria State`

[2022-11-07 10:01] live1206 commented on #4600
@ladonnaq Thanks, I have exported the data I need for migration from the query.
Regarding the data sync from Service Tree and CLC, it will be automatically triggered if anything updated in Service Tree or CLC.
Is that OK? What do you mean by inconsistencies, if data inconsistent between ADO work item and Service Tree & CLC, shall we just take it from Service Tree & CLC?

[2022-11-07 14:45] praveenkuttappan opened #4641 "APIView - Convert .Net API review parser to a standalone tool"
Currently API review parser for .Net is included as part of core APIView.dll. We need to create a command line tool which takes path to .Nuget or .dll .Net package library as input and generate api review token file in a given output path. This is required to enable sandboxing for .Net API review gen. Sandboxing will allow APIView to run Nuget to token file conversion using pipeline instead of run